[2017-06-22 13:50] lebsral commented on #261
Hi,  Just an update.
I recently change to
[code]

and the errors with ng lint still exist.

[2017-06-22 13:58] jkuri commented on #261
okay I will make a fix right off.

[2017-06-22 14:01] #261 closed

[2017-06-22 14:03] jkuri commented on #261
@lebsral for linting issues
[code]
please add update your `tslint.json` to
[code]

for concurrency I updated to `const` and published `3.1.2`. Thanks for report.

[2017-06-22 14:03] lebsral commented on #261
I think I found a work around if someone else is seeing this error.  Doesn't fix the errors, but does stop ng lint from see them.

https://github.com/angular/angular-cli/issues/4350

[2017-06-23 14:18] #282 closed

[2017-06-27 13:42] JoaoSaleiro opened #293 "TypeError: Cannot read property 'unsubscribe' of undefined"
Hello,

I am using ngx-uploader on a view of a SPA. When the user navigates to another view, ngx-uploader is throwing the error below:

[code]

I am using ngx-uploader like below:

[code]

The error occurs on ng-file-select.directive.ts on the ngOnDestroy() method. It tries to unsubscribe from the this.uploadInput, but this.uploadInput is null when ngOnDestroy is called.

Shouldn't ng-file-select.

[2017-06-27 13:44] jkuri commented on #293
hi! yes, it should, nice catch. can you make a PR please?

[2017-06-27 13:55] JoaoSaleiro commented on #293
First time doing a PR in GitHub, hope I didn't do any mistake. :)

Here: https://github.com/jkuri/ngx-uploader/pull/294

[2017-06-28 06:45] mirata commented on #278
@gilsdav - that works really well. Thanks

[2017-06-28 15:03] ernerock opened #295 "Single file upload instead of queue"
I need to limit the upload to 1 file, having any new file added replace the current one in the queue or a method to clear the queue before a new file is added, in order to always upload 1 file. Any way of doing this?

[2017-06-29 08:19] LintonBlack commented on #280
Hi @chinna-magapu, did you find any solution to your problem to make the url dynamic ?

[2017-06-29 08:29] bgolyoo commented on #274
How would you do that?

[2017-06-29 09:31] LintonBlack opened #296 "Dynamic Url for Upload"
Hi, Thanks for your work. I have a question,
I'm using ngx-upload for one of my project and when I do multi files upload I want to be able to change the upload url for each file. is that possible ?

for now in the satrtUpload fn I do
[code]
But as you can imagine even if I succed to change the url, I trigger the uploadInput.emit(event) as many times as the number of files uploaded :(

Thanks for y

[2017-06-29 09:33] jkuri commented on #296
hi Phil, try using `uploadFile` instead of `uploadAll` and let me know if it works for you.

[2017-06-29 09:42] LintonBlack commented on #296
@jkuri Great :)

I just replaced uploadAll with uploadFile and add the file property, I guess I can change the concurrency to 1 . Thanks jkuri you saved my day.
[code]

[2017-06-29 09:44] jkuri commented on #296
you welcome.

[2017-06-29 09:44] #296 closed

[2017-06-29 21:16] #295 closed

[2017-06-30 11:29] lukwas314 commented on #195
we succeeded in aborting upload on 3.x using **cancel** event instead **cancellAll** and **uploadFile** instead **uploadAll**, but after cancel we cannot upload new files

[2017-06-30 12:34] jkuri commented on #195
@lukwas314, [this](https://github.com/jkuri/ngx-uploader/commit/89a3f48af762fc37a3d0fc741197bb590d8d7426) should fix this. I also updated demo example and published `3.2.0` to `npm`. please let me know if it works for you.

[2017-06-30 13:37] lukwas314 commented on #195
@jkuri cancel and new files upload works in 3.2.0

[2017-07-02 15:48] squarewave24 commented on #167
same issue. this errors seems to be coming from the library as im not writing any code with filters just following the simple example

[code]

[2017-07-03 04:45] jason111neo opened #297 "output file response"
Is it possible to return file.response when the output type is not done?

[2017-07-03 09:45] jason111neo commented on #297
it just does not go past 'uploading'. Under network tab shows response though

[2017-07-03 09:46] jkuri commented on #297
i believe that's a problem with your API.

[2017-07-03 09:55] jason111neo commented on #297
was trying to figure out if there is a way to get a xhr.response as the previous 2.x branch could do so with "data.xhr.__zone_symbol__originalInstance"

[2017-07-03 14:03] Cobelt commented on #293
Hi, actually, there is the same issue existing on ng-file-drop !

[2017-07-03 22:15] HarelM commented on #252
Same here, I have a `fileService` that is responsible to handle everything that is related to files. I want to use this library with it, but it can't be done without an upload service...

[2017-07-04 09:23] jason111neo commented on #297
it would be good if there is a base64 data like "handlepreview" had

[2017-07-04 09:24] #297 closed

[2017-07-04 13:11] bgolyoo opened #300 "Bug: Cross-browser compatibility, UnsubscriptionError on Firefox"
Not sure if you guys are aware of this bug or, if it's even a bug, but on your demo page ([http://ngx-uploader.com/](http://ngx-uploader.com/)) when viewed on firefox browser, if you try to upload a file there is an error on the concole that reads:
`ERROR Object { originalStack: "y@http://ngx-uploader.com/js/app.js…", zoneAwareStack: "y@http://ngx-uploader.com/js/app.js…", stack: "y@http://ngx-upl

[2017-07-04 13:27] jkuri commented on #300
@bgolyoo I updated the demo. this was a bug in a library but was fixed in one of the last commits. can you please check again?

[2017-07-04 15:02] bgolyoo commented on #300
Still getting the error on the demo page.

![ngx-uploader](https://user-images.githubusercontent.com/18516916/27835252-820724d8-60da-11e7-944c-be39e95e9958.png)

[2017-07-04 16:01] alex88 commented on #167
@squarewave24 be sure to upgrade to the latest version

[2017-07-04 16:39] squarewave24 commented on #167
@alex88 hi,

i installed it for the first time right before posting so I don't think it would choose an older version?

it's weird because .files is not empty on the server (node.js) side. i am able to print it out

[code]

[2017-07-04 16:42] alex88 commented on #167
@squarewave24 I don't know then, I had this issue with an outdated version

[2017-07-04 17:42] squarewave24 commented on #167
ok
btw would you happen to know how to retrieve contents of the json file in node.js ? i followed the example but i don't see it anywhere on the request. should it be on req.body ? because that's empty for me :(

[2017-07-04 17:45] alex88 commented on #167
@squarewave24 afaik when you upload a file it's not a json, it's using multipart encoding, something like this maybe https://stackoverflow.com/a/27951168/690839 It also depends on your http framework if you're using one.

[2017-07-04 18:54] zorino commented on #260
+1

[2017-07-05 03:17] jason111neo commented on #297
I have found the issue. "pace/pace.js" is causing the request to be stucked at 'uploading'

[2017-07-05 11:51] lgleim commented on #252
A singleton service-based approach definitely does look like the most reasonable approach for this library.

@GustavoCostaW Have your released your code yet?
@jkuri Would you be willing to accept a pull request with corresponding changes?

[2017-07-05 12:01] HarelM commented on #252
I was hoping to use this library to replace the following code in one of my services:
[code]
Unfortunately the service in this library does not accept `File` objects. The main reason was that I wanted to be able to test my service and it wasn't straight forward in term of mocking xhr and all its operations.
Any thoughts are welcome, I would be delighted to remove all reference of xhr from my code

[2017-07-06 12:58] jvielrco opened #302 "Uploader doesnt upload all files in the queue, when files are added one by one"
Hi,

When I select multiple files in the file select (or by drag&drop), all files are uploaded successfully.
However, when I add files to the queue one by one, only the last file is uploaded.
I can reproduce on your online example at http://ngx-uploader.com/

Thanks.

[2017-07-06 14:47] #302 closed

[2017-07-06 22:10] lincolnthree opened #305 "Cannot build using Ionic v3 webpack --prod"
Hey there. Seems to be an error resolving your module source code when compiling using Webpack in Ionic 3 projects:

[code]

Looks like it is having trouble finding your compiled source JS file:

@ionic/app-scripts/dist/webpack/optimization-loader.js
[code]

[2017-07-06 22:11] lincolnthree commented on #305
This is with Ionic 3.4.2 and ionic app scripts 1.3.8.

Seems like it might be something they are doing wrong, but also I suppose it could be fixed from your side: https://github.com/ionic-team/ionic-app-scripts/issues/1010

[2017-07-10 06:18] erata commented on #281
I have the same result at back end (java).  File name sent to server is not correct

[2017-07-11 01:44] jason111neo commented on #257
Since the implementation is not to upload to the backend, the preview data is necessary to show images matched. Help would be greatly appreciated

[2017-07-14 13:06] be4code commented on #260
+1

[2017-07-14 16:13] FreezingCode opened #308 "Prerendering Failed Error"
I'm getting this error quite often in my app. The work around I've been using is to comment out the markup where ngx-uploader is used and the 2 lines in the component ts file for humanizeBytes, refresh the page, and then uncomment the HTML and humanizeBytes code. It will then work for a while before I have to go through the process again. This is on my dev environment. If I push to our test enviro

[2017-07-16 18:35] #132 closed

[2017-07-17 13:50] celsomtrindade commented on #257
The way I did was to use the property `nativeFile` (instead of output.file use output.nativeFile which was [made for this purpose](https://github.com/jkuri/ngx-uploader/pull/304) ) inside the type `addedToQueue`.

This is the function i created:

    // Following the current example
    if ( output.type === 'addedToQueue' ) {
        this.previewImagem(output.nativeFile).then(response => {

[2017-07-17 13:56] celsomtrindade commented on #74
I just made an answer for this on this question #257

[2017-07-17 23:01] modeh13 commented on #238
Hi, I had same problem, I am sorry for my bag english.

HTML:
<ba-picture-uploader [defaultPicture]="defaultPicture"
   [uploaderOptions]="uploaderOptions" **(onUploadCompleted)="uploadCompled($event)"**>
</ba-picture-uploader>

Typescript:

uploadCompled(output: UploadOutput) {
 // ... This event will execute after upload file, and You can check properties "output" for evalue if file was upload s

[2017-07-18 01:14] fredericojesus opened #310 "Manually start uploading not working"
I'm doing this
[code]

But it's simply not making any request.
Btw I'm using **upload_file: this.imageToUpload** on data because I'm also using cropper.js to crop the image before sending it to the API. If you can tell me also how to convert the UploadFile to the cropped image I would appreciate.

Doing **this.uploadInput.emit(event)** inside
`if (output.type === 'allAddedToQueue') { ... }`
it wor

[2017-07-18 01:16] jkuri commented on #310
hi. how does cropped image looks like, i mean what format?

[2017-07-18 01:25] jason111neo commented on #310
I am new to this too. I would suggest adding a fieldname over 'UploadInput'
`// input events that user can emit to ngx-uploader
export interface UploadInput {
  type: 'uploadAll' | 'uploadFile' | 'cancel' | 'cancelAll';
  url?: string; // URL to upload file to
  method?: string; // method (POST | PUT)
  id?: string; // unique id of uploaded file
  fieldName?: string; // field name (default 'file')

[2017-07-18 01:30] fredericojesus commented on #310
@jkuri Blob

[2017-07-18 01:31] fredericojesus commented on #310
@jason111neo even if I use fieldName I need the cropped image in Blob format

[2017-07-18 01:33] fredericojesus commented on #310
@jkuri when I make the emit nothing happens, no request on network and no error on console or network :x

[2017-07-18 01:47] jkuri commented on #310
because there are no files in the queue. try something like
[code]

[2017-07-18 02:06] fredericojesus commented on #310
@jkuri Argument of type 'any[]' is not assignable to parameter of type 'FileList'
Is it possible to append a File to a FileList ? I don't think so, for security reasons right? But not sure

[2017-07-18 03:55] jkuri commented on #310
try `let fileList: FileList = []`;

[2017-07-18 06:10] jason111neo commented on #257
@celsomtrindade OK yes, upgrading to 3.2.3 has then nativeFile.

[2017-07-18 11:11] fredericojesus commented on #310
@jkuri I had tried that 😄
Then the fileList doesn't have the push method. FileList is a ready only type. We can't edit, I researched about it. 😞

[2017-07-18 14:58] kayuda91 commented on #260
+1

[2017-07-18 16:32] jkuri commented on #260
fixed in `3.3.0`. there's a new input event `{ type: 'remove', id: file.id }`. https://github.com/jkuri/ngx-uploader/commit/d5758dd47386d42ea0cc0286e4ff826380d74fa8

[2017-07-18 16:32] #260 closed

[2017-07-18 17:47] zorino commented on #260
OK now I have this error in 3.3.0 when trying to upload files

TypeError: a.Observable.merge(...).mergeAll is not a function
    at ngx-uploader.umd.js:1

Also it doesn't seem to work since the file seem to stay in the queue.

[2017-07-18 17:55] zorino opened #311 "uploading not working 3.3.0 - mergeAll is not a function"
TypeError: a.Observable.merge(...).mergeAll is not a function

[2017-07-18 18:07] jkuri commented on #260
@zorino can you try with `3.3.1` and let me know please?

[2017-07-18 18:16] zorino commented on #260
Yes it fixed the mergeAll function but the files are still not removed from queue..
For instance I add 3 files to the queue and remove one .. with the input event, the onUploadOutput will delete the file from the files array but when using the uploadAll input event afterward the 3 files are going to be uploaded.

[2017-07-18 22:10] fredericojesus commented on #310
@jkuri do you know some other way to add files to the queue?

[2017-07-18 22:11] jkuri commented on #310
yes, you have to do it manually, check this out: https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts#L81-L111

[2017-07-19 12:29] milenkovic commented on #28
Any news regarding this? Problem still exits in Edge.

[2017-07-20 14:45] fredericojesus commented on #310
@jkuri sorry but that didn't helped me.
I figure out why the File is not in the queue.
[code]
If I do this

Then this.uploadInput.emit(event) on startUpload function doesn't work.
But if I remove that line and don't use output.nativeFile for nothing then it works.
Why is the file removed from the queue if I use output.nativeFile.

Any ideas? I would really appreciate some help

[2017-07-20 20:17] FreezingCode commented on #308
Just to add some more...  In regards to the error I listed above: ReferenceError: Event is not defined at Object.

The "Event" it talks about is [Event] from this line in main-server.js:
o([n.i(r.HostListener)("dragover",["$event"]),a("design:type",Function),a("design:paramtypes",[Event]),a("design:returntype",void 0)]

So, it appears it could be an issue relating to dragover and HMR?

[2017-07-21 02:21] leo6104 opened #312 "3.3.x version not working EventEmitter<UploadInput>"
Same code works with ngx-uploader 3.2.3 but not working in 3.3.1.

Our project's file upload code.

[code]

Above code follow example code.

[2017-07-21 11:14] anilkcspl commented on #195
hi marekszczepansky,

i have used this method in version 2.8.8

public beforeUpload(uploadingFile: UploadedFile): void {
	this.uploadingFile = uploadingFile;
}

public onCancel() {
	if (this.uploadingFile) {
		this.uploadingFile.abortUpload();
	}
}

but it's throw error to not find abortUpload method

[2017-07-26 02:05] leo6104 commented on #312
I found the root cause.
https://github.com/jkuri/ngx-uploader/blob/bcd90920fae5c1262eab189a51efcc6b57c3bf23/src/ngx-uploader/classes/ngx-uploader.class.ts#L216
XMLHttpRequest.DONE is not 4. it is function.

[2017-07-26 08:50] prchoang opened #315 "Single file upload"
this.file = UploadFile Instead UploadFile[],

When file upload done I select new file, the upload include old file (previous).
If I select file 5 times, upload will upload 5 file

Help me!

My .ts code

onUploadOutput(output: UploadOutput, folder: string): void {

    console.log(output); // lets output to see what's going on in the console

    if (output.type === 'allAddedToQueue') {

        th

[2017-07-27 11:24] JoaoSaleiro opened #316 "Auto-upload is repeating file uploads if you do several uploads"
Hello,

1. Open http://ngx-uploader.com/ .
2. Choose auto-upload
3. Open the Network Monitor of your browser to track uploads
4. Choose one file
5. Confirm that network monitor shows 1 POST to the server (which is correct)
6. Choose another file
7. Check network monitor. The new file was POSTed twice to the server! (which is incorrect)
8. Choose another file
9. Check network monitor. The new file

[2017-07-28 09:16] jkuri commented on #312
in which browser you are getting this?

[2017-07-28 09:17] jkuri commented on #311
I think this is resolved now.

[2017-07-28 09:17] #311 closed

[2017-07-28 09:17] leo6104 commented on #312
It is happened in Chrome browser

[2017-07-28 09:18] jkuri commented on #316
hi @JoaoSaleiro. thanks for this report! i will check on it during the weekend and find a solution hopefully.

[2017-07-28 09:22] jkuri commented on #312
this is interesting. `XMLHttpRequest.DONE` represents integer of 4.
try outputing `console.log(XMLHttpRequest.DONE);`.
also, I am not getting any errors because of this. if you can get me steps to reproduce it would be helpful. thanks.

[2017-07-28 16:39] JoaoSaleiro commented on #316
Thank you jkuri! I hope you can fix it :) If you need help, or further info, please let me know!

[2017-07-30 17:57] #316 closed

[2017-07-30 17:57] jkuri commented on #316
@JoaoSaleiro please check if it works for you and report in any case. thank you.

[2017-07-31 06:38] mkariti commented on #15
Hi,
Link is not working...
How can I implement it?
Thanks

[2017-07-31 06:40] mkariti opened #317 "How can I show image thumbnail?"
Hi,
I would like to show the image thumbnail before uploading it.
Any input will be much appreciated.
Regards
mkariti

[2017-07-31 06:59] mkariti commented on #317
https://github.com/jkuri/ngx-uploader/issues/257 did the trick! thanks

[2017-07-31 06:59] #317 closed

[2017-07-31 17:49] mtinnes opened #318 "Cancelling upload throws error"
Version 3.3.4 has an issue when emitting a cancel on an upload.
This code: `this.uploadInput.emit({ type: 'cancel', id: id });`
will result in: `e.files[s].sub.unsubscribe is not a function`

The issue is present in the current live demo.

[2017-07-31 18:33] mtinnes commented on #318
NM, this was due to calling 'cancel', when I should have been calling 'remove'.

[2017-07-31 18:33] #318 closed

[2017-08-01 12:22] mkariti opened #319 "Error in production mode"
Hi,
Ive compiled my app to prod mode and im getting the following error:
`Failed to execute 'readAsDataURL' on 'FileReader': parameter 1 is not of type 'Blob'.
    at O.(anonymous function).XMLHttpRequest.e.responseBlob.t.function.o.(anonymous function).O.(anonymous function).(anonymous function) [as readAsDataURL] `
any idea?
Thanks
mkariti

[2017-08-01 13:59] mkariti commented on #319
Hammm it seems as if the output.nativeFile is undefined.

[2017-08-01 14:03] #319 closed

[2017-08-01 15:46] lagmanzaza opened #320 "How to preview image before upload?"

[2017-08-01 16:17] lagmanzaza commented on #320
I can fix it

[2017-08-01 16:17] #320 closed

[2017-08-02 17:46] dmeneses commented on #287
Reproducible only on chrome it seems, not in firefox.

[2017-08-02 19:37] GabrielMSharp commented on #316
@jkuri Working for me, thank you!

[2017-08-03 19:40] Dashue commented on #273
+1

[2017-08-03 20:24] jkuri commented on #273
https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts#L217-L220 ?

[2017-08-03 23:48] Dashue commented on #273
Not obvious how to wire that up from the outside. I believe the only contract is uploadinput an uploadoutput and it didn't seem to contain anything in regards to error.

[2017-08-06 13:01] boenrobot opened #322 "Feature request: Multiple files in an HTTP request"
Right now, ngx-uploader sends all files through separate HTTP requests, and the concurrency option seems to only be about up to how many HTTP requests are to happen at once.

In my server however, there's some processing of the files, part of which involves DB locks, which in turn means all requests but one get very delayed. It's much more efficient to have all files sent in the same request, at w

[2017-08-06 20:08] JoaoSaleiro commented on #316
Hey @jkuri . I can confirm it's fine. Thanks! :)

[2017-08-06 20:31] jkuri commented on #316
cool, thanks for report.

[2017-08-07 11:21] keliwath commented on #312
I'm having the same issue - works fine with 3.2.3, breaks with 3.3.x. The component generates an UploadOutput correctly but when the event is emitted nothing happens. No errors, nothing.

The code I have is very simple:

`<input ngFileSelect (uploadOutput)="onUploadOutput($event)" [uploadInput]="uploadInput" class="inputfile" type="file" /> `

and then

`onUploadOutput(output: UploadOutput): void

[2017-08-09 18:45] ryanrk opened #323 "expose server status code"
If the response if just a 204 the response field will be empty.  If the server returned a 500 error of some sort we won't know that on the front end.    Can you expose the status code so this can be detected?

[2017-08-11 18:55] oleosjo opened #324 "How to send data per file"
How do I send data in the data object, per file, for multiple uploads?

[2017-08-11 19:48] oleosjo commented on #232
I still have this issue, @zerefel's solution didn't work for me. Anyone else have this problem?

[2017-08-14 02:23] TonyLuo commented on #320
@lagmanzaza how to fix it?

[2017-08-14 04:37] TonyLuo opened #325 "remove file issue"
I select the file, and then remove it, after that select the same file again, cannot select it again. onUploadOutput() function is not triggered

[2017-08-14 05:52] lagmanzaza commented on #320
readUrl(event) {
    if (event.target.files && event.target.files[0]) {
      var reader = new FileReader();

      reader.onload = (event) => {
        let data: any = event.target;
        this.previewImage = data.result;
      }

      reader.readAsDataURL(event.target.files[0]);
    }
  }

[2017-08-14 17:09] oleosjo opened #326 "Type 'uploadFile' doesn't work."
Only uploadAll works.

`
this.uploadInput.emit({
          type: 'uploadFile',
          url: 'documents',
          method: 'POST',
          fieldName: 'document',
          fileIndex: file.id,
          file: file,
          headers: this.authService.authHeaders,
          withCredentials: true,
          data: {
            json: JSON.stringify({ description: file.metaData.description })

[2017-08-14 21:02] oleosjo commented on #302
So has this been fixed or not? It's happening to me on 3.3.6

[2017-08-15 02:34] TonyLuo commented on #123
@lukasz-galka I try to  limit number of files, but seems it doesn't work
[code]

[2017-08-15 02:39] TonyLuo commented on #123
seems there is no UploadRejected class any more

[2017-08-15 12:56] #326 closed

[2017-08-15 12:56] #324 closed

[2017-08-15 16:24] oleosjo commented on #323
#327

[2017-08-15 16:24] oleosjo commented on #323
#327

[2017-08-17 11:52] lukasz-galka commented on #123
@TonyLuo my solution was for version 2.x, unfortunately I am not familiar with version 3.x

[2017-08-17 13:23] oleosjo commented on #325
Are you using drag and drop, or file select input?

[2017-08-17 14:31] butsaty commented on #308
I have the same issue. It is relevant only for server rendering (Angular 4.1.2).
In case if I move it to Client rendering module then the issue is gone but the ngx-uploader doesn't work(even onFileOver event).

[2017-08-18 00:55] jkuri commented on #162
@etiennetalbot thanks for nice words! did you eventually make it to work?

[2017-08-18 15:52] TonyLuo commented on #325
i am using file select input.  I solve it by adding onclick="this.value = null"
[code]

[2017-08-18 15:58] TonyLuo opened #330 "How to handle Max file size, maximum number of files and error handling in the 3.x version?"
#123

[2017-08-19 20:32] marekszczepansky commented on #195
@anilkcspl
IIRC this method is still in 2.x.x. source code:
https://github.com/jkuri/ngx-uploader/blob/2.x.x/src/classes/uploaded-file.class.ts#L39
Please check your node_module for this sourceline.

[2017-08-21 09:24] dennis82m opened #331 "No 'done' status"
Tried ngx-uploader and everything is working fine. Except that in the Console I never get to see 'done' from 'onUploadOutput' even though the file is moved onto the server and the server responds 200 with a JSON body?! Am I missing something?

[2017-08-21 15:38] leo6104 commented on #331
If `console.log(XMLHttpRequest.DONE);` not print '4', #312 is same situation.

[2017-08-21 15:42] jkuri commented on #331
@dennis82m are you sure that server return 200 and JSON body, because I am getting the `done` event normally. Also, please check demo.
![screen shot 2017-08-21 at 17 41 19](https://user-images.githubusercontent.com/1796022/29527104-0f4eefb4-8698-11e7-8213-dbb802a6cdb5.png)

[2017-08-21 15:56] dennis82m commented on #331
kind of weird ... forked your demo and changed the settings to my server ... has nothing to do with the server though cause it works. I copied the component and template code 1:1 to my app .. everything works but the 'done' thing... ?!

[2017-08-21 15:58] jkuri commented on #331
then the only option is that server doesn't return response.

[2017-08-21 16:03] dennis82m commented on #331
server does respond tested again with postman

[2017-08-21 16:04] jkuri commented on #331
if you can share me the part of server code I can check on it.

[2017-08-21 16:09] dennis82m commented on #331
so I checked #312 ... `console.log("test", XMLHttpRequest.DONE);` results in
![screen](https://user-images.githubusercontent.com/6121322/29528287-ccead058-869b-11e7-9c80-eaa20a807324.png) using Safari 10.1.2

[2017-08-21 16:11] jkuri commented on #331
I am really not sure what code you pasted here. Does it work in Chrome though?

[2017-08-21 16:12] dennis82m commented on #331
this is just the console.log of XMLHttpRequest.DONE

[2017-08-21 16:17] dennis82m commented on #331
does not work in chrome as well ... XMLHttpRequest.DONE holds a function there as well

[2017-08-21 16:22] dennis82m commented on #331
changing XMLHttpRequest.DONE into this
![screen2](https://user-images.githubusercontent.com/6121322/29528811-a0fa940e-869d-11e7-96e1-847960d283f4.png)
has no effect .. don't what to do next

[2017-08-21 16:26] jkuri commented on #331
share me the server side code or I cannot help you.

[2017-08-21 16:36] dennis82m commented on #331
can't be a problem with the server because testing with postman works as you can see here
![bildschirmfoto 2017-08-21 um 18 34 39](https://user-images.githubusercontent.com/6121322/29529345-9ace1766-869f-11e7-8b87-c02b6d2c8074.png)

and using this code in your demo works as well fine
![bildschirmfoto 2017-08-21 um 18 35 19](https://user-images.githubusercontent.com/6121322/29529364-a924ca9e-869f-1

[2017-08-21 16:44] jkuri commented on #331
ngx-uploader is using `application/json` not `x-www-form-urlencoded`. thats the issue.

[2017-08-21 16:47] dennis82m commented on #331
but the server is getting the file and putting it in the upload directory, ... everything works ... but the 'done' status?!

[2017-08-21 16:49] jkuri commented on #331
I don't know honestly. Nobody till now had this issue and I am also using this module to upload files and always get the done status. since you cannot share the server side code I cannot help you, sorry.

[2017-08-21 16:49] #331 closed

[2017-08-22 21:35] tsmith-sdm commented on #325
Doesn't that reset the entire upload array? I know the select same file issue was resolved with a previous commit. Did you try updating to the latest version first?

[2017-08-23 07:46] MrCroft commented on #195
I am using this:
[code]
But nothing happens... The upload is still going, until it finishes uploading. :(
Shouldn't it be straight forward? Shouldn't emitting a 'cancelAll' input event simply cancel all current uploads?

ngx-uploader: **3.3.9**

[2017-08-23 09:49] DavidRouyer commented on #273
In your onUploadOutput(output: UploadOutput) method, add this:
[code]

[2017-08-23 11:07] iagocanalejas commented on #273
Thanks it works nice 👍

[2017-08-23 11:07] #273 closed

[2017-08-23 13:04] oleosjo commented on #325
`this.value = null` wont reset the upload array. The upload array is now completely separate from the html input.

[2017-08-25 05:16] webbieram opened #332 "upload auto upload"
First of all thx for the great plugin @jkuri .

I need  a small help. Right now i have limited the file upload count to 1.
After that for uploading a new file the user need to remove the existing one.
Is there any way to remove the already uploaded one when user click on browse button @jkuri ?

[2017-08-27 22:06] JrPribs commented on #285
@forestgun Were you able to resolve this issue? If so how?

[2017-08-28 04:37] webbieram opened #333 "edge it is not working"
i have uploaded file in edge and after uploading the file explorer opening repeatedly...
its annoying. please check asap.

[2017-08-28 10:59] jason111neo opened #334 "repeats"
Using the auto upload example with ngfiledrop, I seem to be getting duplicate "start", "uploading" and "done" on multiple uploads individually on a single widget. Any idea i could reset or clear the queue when it is done? I am not using uploadFile.

[2017-08-29 03:28] jason111neo commented on #334
Alright, so i have found the root of the issue. NgZone was causing the problem

[2017-08-29 03:28] #334 closed

[2017-08-29 04:22] leo6104 commented on #305
I'm in same issue.
https://github.com/ionic-team/ionic-app-scripts/issues/439#issuecomment-266581013
As @danbucholtz says, The package should contain javascript and .d.ts type definition files.
Currently, ngx-uploader not contain .d.ts files.

[2017-08-29 04:42] leo6104 commented on #305
I resolve this issue in my project with creating declaration file (path: 'node_modules/ngx-uploader/src/ngx-uploader/**/*.d.ts')
Please modify "declaration": true in 'tsconfig > compilerOptions' and tsc re-compile
cc @jkuri

[2017-08-29 05:37] jkuri commented on #305
resolved in `ngx-uploader@3.3.10`.

[2017-08-29 05:37] #305 closed

[2017-08-29 09:20] AlanCrevon opened #335 "[Blocking Bug] 3.3.10 : Comipilation error"
Hi.

3.3.10 rises an error. Same code compiles without any error on 3.3.9.
I replaced manually my path by "XXX" .

[code]

For info, here is my AvatarManagerModule :

[code]

Cheers, and thanks for this very usefull library.

[2017-08-29 10:13] dmitrii-snytkin commented on #325
Do you have any news about this problem? I've checked, the bug reproduces on the latest version (3.3.10)

[2017-08-29 10:14] jkuri commented on #325
no currently, ping me tomorrow please and will check on it. thanks

[2017-08-29 12:46] vincent-cm commented on #335
Almost same here, aot build failed with:

Starting compilation using the angular compiler.
Angular compilation done, starting webpack bundling.
Error: Unexpected value 'NgUploaderModule in node_modules/ngx-uploader/lib/src/ngx-uploader/module/ngx-uploader.module.d.ts' imported by the module 'CoreModule in /core.module.ts'. Please add a @NgModule annotation.

[2017-08-29 14:56] TonyLuo commented on #103
@jkuri  is it possible to add output.type === 'allDone' to tell all files uploaded ?

[2017-08-29 16:42] lincolnthree commented on #335
Same here.

[2017-08-29 16:43] lincolnthree commented on #305
This is still broken due to: https://github.com/jkuri/ngx-uploader/issues/335

[2017-08-29 16:54] leo6104 commented on #335
@lincolnthree In my project, it works with ionic-app-scripts build.
I guess, this issue might be something wrong with webpack cli configuration.
Can you comment your 'webpack.config.js' ?

[2017-08-29 17:13] lincolnthree commented on #335
I don't have / haven't made any customizations to this file. Where can I find the one you're looking for?

[2017-08-29 22:50] nicksav commented on #335
same here. Have to roll back to 3.0.6

[2017-08-30 02:00] #335 closed

[2017-08-30 02:03] jkuri commented on #335
sorry for inconvenience, fixed now.

[2017-08-30 12:38] lincolnthree commented on #335
Using 3.3.11

[code]

[2017-08-30 15:12] leo6104 commented on #335
@lincolnthree Can you try this?
1. `npm install ngx-uploader@3.3.10 `
2. copy 'node_modules/ngx-uploader/src/' to 'node_modules/ngx-uploader/lib/src'
3. ng build  or ionic build

To resolve #305 and this issue (#335),
1. set declaration: true in tsconfig.bundle.json
2. include .ts file (ngx-uploader/**/*.ts) in lib folder.
-> 3.3.10 version doesn't include ts file in lib folder.

[2017-08-30 15:21] #312 closed

[2017-08-31 04:21] jason111neo opened #337 "renaming file"
Hi, is there a way to rename a file before the upload?
My problem is that the server does not accept files with spaces in between them. Have tried changing the output.file.name when files are added in 'addedToQueue' but it still sends them as a space in output.nativeFile.name.

[2017-09-01 09:03] dmitrii-snytkin commented on #325
reproduce

[2017-09-01 13:07] oleosjo commented on #325
@dmitrii-snytkin is there a problem with using the `(click)="this.value = null"` workaround? This is not really a bug per se but a function of the browser's file input element. The browser thinks you still have the same file ready to upload, so it doesn't re-add it and emit the events.

[2017-09-01 16:42] xiapeijin opened #338 "received allAddedToQueue message when cancel file"

[2017-09-01 23:24] skizdigidy commented on #18
👍

[2017-09-03 19:28] Demi-ob commented on #335
Cannot find .map files after applying this fix

[2017-09-03 20:28] Demi-ob commented on #335
Error: ./node_modules/ngx-uploader/lib/src/ngx-uploader/classes/ngx-uploader.class.ts
Module build failed: Error: ENOENT: no such file or directory, open 'C:\Users\DEMILADE\Desk
top\Projects\hubble\node_modules\ngx-uploader\lib\src\ngx-uploader\classes\ngx-uploader.cla
ss.js.map'
    at Error (native)
 @ ./node_modules/ngx-uploader/lib/index.js 2:0-62
 @ ./src/pages/upload-course/upload-course.ts

[2017-09-03 21:06] Demi-ob commented on #335
Error: ./node_modules/ngx-uploader/lib/src/ngx-uploader/classes/ngx-uploader.class.ts
Module build failed: Error: ENOENT: no such file or directory, open 'C:\Users\DEMILADE\Desktop\Projects\hubble\node_modules\ngx-uploader\l
ib\src\ngx-uploader\classes\ngx-uploader.class.js.map'
    at Error (native)
 @ ./node_modules/ngx-uploader/lib/index.js 2:0-62
 @ ./src/pages/upload-course/upload-course.ts

[2017-09-04 01:55] jason111neo commented on #337
instead i used split to determine the number of space and stop the emit

[2017-09-04 01:55] #337 closed

[2017-09-06 10:59] Robouste opened #339 "Where is the file data ?"
It may sounds like a stupid question but where is the file data ? I checked in the object printed in the console but I can't find anything

[2017-09-13 10:51] dsge commented on #273
Note: The `output.file.responseStatus` field is only available since `v3.3.8`. This is good to know if you try to use it on an older version like I did :)

[2017-09-13 19:55] vecernik commented on #252
Angular 4.4: ObjectUnsubscribedError error when ngFileSelect or ngFileDrop (!) is used in one of router states.

[2017-09-14 16:23] marlon-tucker opened #340 "[Chrome] DragOut fires when mouse goes over an element inside the drop area"
Hello,

On chrome, the drag out event fires when the user goes over elements which exist inside the drop area, therefore causes horrible flicker depending on what the drag over styles are.

It can be replicated on the demo page using Chrome Version 61.0.3163.79 (whatever the latest is).

I reckon confirming the event target is the same element as where the directive is declared will resolve this p

[2017-09-17 22:58] kelvinrolex opened #341 "Passing data to server"
Please how do I pass a token with the upload, in version 2 i normally pass it through NgUploaderOptions({});

[2017-09-18 09:23] kelvinrolex commented on #288
Please the latest version does not return done. it only returns start and uploading, please how do i get the backend response.

[2017-09-21 08:49] nethore commented on #333
I'm having the same problem. It seems to be an EDGE issue : https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8282613/

But this problem does not happen if the <label> and <input> are siblings, rather than being nested.
Thats what I've done in my project.

[2017-09-21 21:01] kabelo2ka commented on #308
@FreezingCode did you find a solution?

[2017-09-22 07:09] kevinvella commented on #308
Can this be solved by using *ngIf to not render the uploader on the server like:

[code]

[2017-09-22 11:32] amanssit opened #342 "how to check width and height before upload"
how to check width and height before upload

[2017-09-25 02:13] jason111neo commented on #342
have you found the answer? I am going to try from this [here](https://stackoverflow.com/questions/9129028/can-we-get-the-real-image-size-through-the-canvas)

[2017-09-25 19:35] lopezhansel commented on #305
## Possible Solution
I believe a webpack plugin decided to no longer accepts my declaration files that had the extension `.d.ts`.  **I had a file with only type annotations named `user.d.ts` and I was forced to rename it to `user.ts`.** This allowed me to get passed the error.

## More Insight
I had the same error where `Module build failed: TypeError: Cannot read property 'content' of undefined`.

[2017-09-27 23:54] flacohenao commented on #295
@ernerock  Did you find a solution for this?

[2017-09-28 00:07] flacohenao commented on #315
have you found a solution for this? i'm having the same problem.!

[2017-09-28 02:18] OnlyBelter opened #343 "How can I append data to each uploaded file?"
Hi, this component for uploading files is the best one I have ever found! Thank you for your great work.

Now I need to upload several different files(same file types, different content) through different input box, so I need to distinguish them. How can I add some tags to each file when it emit to uploader?

I am reading the [demo code](https://github.com/jkuri/ngx-uploader/blob/master/src/compon

[2017-09-28 13:00] OnlyBelter opened #345 "[bug report] Cancel uploading file"
When I cancel a uploading file, the `f.progress.data.percentage` value will still goes up to 100.

[2017-09-28 13:27] OnlyBelter commented on #339
All data is in `this.files`.

[2017-09-28 13:43] OnlyBelter commented on #345
I add this to my `onUploadOutput` funciton:

[code]

But, it will keep update to 100, then I don't know how to stop this progress.

[2017-09-28 13:53] OnlyBelter commented on #345
Please reference here, https://github.com/AckerApple/angular-file/blob/development/src/file-upload/FileUploader.class.ts#L204, If anyone can understand all the code. I can understand a little, cannot give a pull request for this problem.

[2017-10-02 11:00] DeClaessens commented on #285
Running into this issue too.

[2017-10-02 12:37] jkuri commented on #162
I updated the demo component and also readme.

release notes:
- concurrency is working correctly
- removing, canceling single upload is now working

sorry.

[2017-10-04 05:08] flacohenao commented on #325
@oleosjo I updated to latest version (4.0.0) and the problem with file select input still persist. I also tried with (click)="this.value = null" workaround but it doens't work at all.

[2017-10-04 11:13] tamilselvanr opened #346 "Can't get production build- Has lint errors."
[code]
Above lint errors makes my production build failed.

using version 3.3.11.

[2017-10-04 20:37] celsomtrindade opened #348 "concurrency does not exist in type 'UploadInput'"
When trying to set `concurrency` on the event, I get this error:

When looking on the [source code](https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/classes/interfaces.ts#L52-L62) I noticed it isn't there, but it does appear on the doc on the readme file.

Does this option still existis?

[2017-10-04 20:43] jkuri commented on #348
hi. yes it does exists and it actually works (which before wasn't).
please check here: https://github.com/jkuri/ngx-uploader/blob/master/src/components/app-home/app-home.component.ts#L20

[2017-10-04 20:45] celsomtrindade commented on #315
As far as I can tell you can solve this problem by changing your `UploadInput` settings. I was having the same issue and solved it using this:

[code]
In my case, since I will always upload a single file and clear the array before inserting a new one, using `this.files[0]` is enough to do the trick.

But you can create a reference in any other way you want, or pass just the file object.

[2017-10-04 20:48] celsomtrindade commented on #348
Humm.. Weird.. I don't if it's just my environment, but I get compilation errors, and can't proceed, when trying to define this option. I'm using `angular-cli` in my project.

In my case, it's not a big deal, but i tought it would be nice to point this.

[2017-10-04 20:50] jkuri commented on #348
:) did you checked the url I pasted above? its not from the UploadInput event...

[2017-10-04 20:59] celsomtrindade commented on #348
Yes, I did. But what I meant to say is that on your readme file, there is the UploadInput interface and it says:

    concurrency?: number; // concurrency of how many files can be uploaded in parallel (default is 0 which means unlimited)

However, as I mentioned on the question link, the interface on the code doesn't have that option. The way you did, like on the link above, it's different.

I don

[2017-10-04 21:01] jkuri commented on #348
sorry, I need to update readme file, yes. did that concurrency thing working last weekend but forgot to update readme :(. thanks for notice

[2017-10-06 00:01] WaterBleu opened #349 "ObjectUnsubscribedError with Angular version 4.4"
putting into files array is fine.
only when triggering startUpload() would cause this error

[2017-10-06 10:20] TakahiRoyte opened #350 "Is ngUploaderService deprecated?"
Hello,
I've been using ngx-uploader 2.X.X and I just realized that latest versions are available.
In 2.X.X ngUploaderService was available both in code and document, but in 4.0.0, it is still out there in your code but not in document(README.md).  Is this mean the service has become deprecated?  Should I avoid using it for future?
Thanks

[2017-10-06 14:01] bigweb opened #351 "'Done' event never fires"
**_ngx-uploader.class.ts_**

As you can see observer will emit done event only if **xhr.readyState === XMLHttpRequest.DONE**, but this expression is never true, so done event never fires. I debugged several times and it doesn't enter in this block. Afterwards, i changed **XMLHttpRequest.DONE to 4** (which is value for DONE) and everything start to work
[code]

[2017-10-10 02:28] ernerock commented on #295
@flacohenao the tool wasn't working like the demo, at least for me. Ended up forking and editing to my specific needs. Didn't PR because I ended up changing a lot of things others might need.

[2017-10-10 03:45] flacohenao commented on #295
Thanks for the reply @ernerock I just ended up emitting a 'delete' event after the use of the tool.. and that was my workaround

[2017-10-10 05:43] bastibense opened #352 "Unable to build using --prod - Module build failed: Error: ENOENT: no such file or directory - ng-file-drop.directive.js"
I'm unable to build my project using Ionic and Cordova when using the --prod flag.
Any suggestions?

Using ngx-uploader@latest (4.0.0)

[code]

## Ionic Info
[code]

[2017-10-10 06:17] bastibense commented on #352
For simplicity of reproduction, `ionic build --prod` throws the same error.

[2017-10-10 07:50] bastibense commented on #352
I created a minimal project that shows the problem.

1. unzip attached file
2. run `yarn` to install dependencies
3. run `ionic build --prod``

[bugtest.zip](https://github.com/jkuri/ngx-uploader/files/1370989/bugtest.zip)

Hope that helps.

[2017-10-10 07:52] jkuri commented on #352
thanks Bastien. will check this when get to the computer.

On 10 October 2017 at 09:50:49, Bastian Bense (notifications@github.com)
wrote:

[2017-10-11 19:54] mayroncachina commented on #288
also I could not, @FlavioDP how did you use onUploadOutput ?

[2017-10-12 08:44] jainvishal520 opened #354 "Multiple upload inputs and passing different [options] for each input"
I want more than one input with different options and urls like this:
`<input type="file"
   ngFileSelect
   [options]="options1"
   (onUpload)="handleUpload($event)"
   (beforeUpload)="beforeUpload($event)">

<input type="file"
   ngFileSelect
   [options]="options2"
   (onUpload)="handleUpload($event)"
   (beforeUpload)="beforeUpload($event)">`

Configuration for file upload I'm trying to do is:

[2017-10-12 09:01] jainvishal520 commented on #112
Have you been able to implement this? If yes then can you please provide some code or idea?

[2017-10-12 09:24] jainvishal520 commented on #163
Can anybody provide code sample for multiple uploads on same page?

[2017-10-12 10:29] neu10 opened #355 "Exif support for image upload?"
I am uploading image but it is getting rotated. Are exif meta tags supported in this library?

[2017-10-13 08:47] OnlyBelter commented on #345
Fixed in v4.0, thanks a lot!

[2017-10-13 09:06] OnlyBelter commented on #155
How can I pass `this.options` to `UploadInput` ?

[2017-10-13 09:27] OnlyBelter commented on #277
Anyone can give me a hint for how to set customer `headers` or `options` ? I need to set my `headers` like this:
[code]
So I can give authentication information. Any help would be nice!

[2017-10-13 12:44] OnlyBelter opened #356 "【solved】token authorization"
In case you need to send files with token authorization, and you don't know how to add proper `headers`, this is the right place. It takes me a lot of time, so I write it down:

[code]
Don't need to set `withCredentials`, then you can see it in `request.META['HTTP_AUTHORIZATION'] `: 'JWT eyJhbGciOiJIUzI1NiIsInR5c...', and you can get `request.user`.

In source code, `headers` was set at [here](htt

[2017-10-13 13:49] OnlyBelter commented on #322
Agree @boenrobot

[2017-10-13 19:42] AlanCrevon opened #357 "Events after start are never triggered"
Hi.

In my project, ngx-uploader uploads files without any problem, except no event is triggered after the `start` event. And of course, i need to trigger something when the upload has finished...

Here is how i implemented it in my component :

[code]
The file is actually uploaded to the server. Here are the results of the `console.log(output)` :

[code]
... and that's all... :(

Here are the exc

[2017-10-17 22:35] JDVS20 commented on #9
I resolved this issue using this,

onChange(event:any):void{
event.srcElement.value = "";
}

[2017-10-19 11:08] doronsever opened #358 "Progress bar doesn't work when using service workers"
I have a NG4 project and we are using this module for our file uploads.

Since we turned the service-worker option in the cli, the progress bar stopped working.

If I disable the service worker or do a hard refresh, all works fine.
It seems that the event itself doesn't fire.

Does anyone come across that?

[2017-10-19 11:42] jkuri commented on #358
hi @doronsever, in case you find a solution please write here or feel free to open a pr. thank you.

[2017-10-20 11:53] arismamo commented on #325
@oleosjo Hi,
I had the same problem with the last version and i resolved emitting REMOVE and CANCEL event after setting to null the input value.

Ex:
[code]

or

[code]

if you want to remove all files, and at the end set the value of the input to null

`this.fileInputViewChild.nativeElement.value = null;`

where id is the id of the actual file emitted on onUploadOutput method in your class.

[2017-10-22 00:36] leo6104 opened #359 "no use of FileReader in ngx-uploader"
Some of my client's browser occur error `FileReader is not defined` (in app browser)

https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts
[code]
there is no additional call for `reader` variable.

What is purpose of this FileReader variable?
If there is no more needed, please remove them for browser compatibility.

[2017-10-22 01:15] leo6104 opened #361 "Problem with EventEmitter<UploadInput> unsubscribe in ngx-uploader code."
https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/directives/ng-file-select.directive.ts#L40
https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/directives/ng-file-drop.directive.ts#L41

UploadInput EventEmitter created in component.
`this.uploadInput = new EventEmitter<UploadInput>();`

but, ngx-uploader unsubscribe the EventEmitter in directive ngOnDestroy. this l

[2017-10-22 01:51] leo6104 commented on #351
this issue is long time not resolved issue.

https://stackoverflow.com/questions/6898559/problem-with-xmlhttprequest-done-values

[2017-10-22 02:02] leo6104 commented on #293
#361 #362

[2017-10-22 16:51] #359 closed

[2017-10-22 16:51] #361 closed

[2017-10-23 21:32] nikuelias opened #363 "Chunk"
Does this library support Chunk? I'm not seeing either in the code or the docs.

[2017-10-25 12:07] AlanCrevon commented on #357
Problem solved using 4.0.2.

Thanks :)

[2017-10-25 12:07] #357 closed

[2017-10-25 12:12] AlanCrevon commented on #351
Hi.  I had the same problem but upgrading to 4.0.2 fixed it :)

Hope it helps.

[2017-10-25 13:09] AlanCrevon opened #364 "4.0.2 : Progress is not updated while uploading"
Hi.

Using 4.0.2, any event having `type = 'uploading'` has the same `progress` properties as the start event.

Here it's :

[code]

Because of this, i can't provide the uploading progress bar i would really need.

Tell me if i can give you anything else to help.

[2017-10-27 19:38] jmls opened #365 "how to get the contents of an uploaded file"
This may seem a really, really stupid question .. but how do I get the contents of a file once it has been uploaded ?

I want to drag a json file onto the browser and parse the json contained within

Go easy - it's been a long, long day and my brain is fried ...

:)

[2017-10-27 19:44] jkuri commented on #365
hi @jmls. you need to read file on the server side and send back contents in response.

[2017-10-27 19:47] jmls commented on #365
wait ... what ? Why can't the angular client get the data ?

[2017-10-27 20:02] jkuri commented on #365
I am not sure. Why do you need upload service if thats possible?

Maybe you can try something like that:
[code]
... but I never tried this. Please let me know if works.

[2017-10-27 20:04] jmls commented on #365
I want to load some json into a structure inside angular and manipulate it before sending it to the server

I'll give that a try - thanks very much

[2017-10-27 20:06] jmls commented on #365
perfect ! worked first time. Thank you _so_ much !

[2017-10-27 20:06] #365 closed

[2017-10-27 20:13] jmls commented on #365
mmm, actually, one more issue : when dragging and dropping the json file over the "drop container", the browser shows the file contents rather than invoking the function ... ie it displays the raw json file.

Any idea why this would be ?

[2017-10-27 20:15] jkuri commented on #365
how do you mean raw JSON file? did you include JSON.parse, or remove the JSON.parse if needed?

[2017-10-27 20:17] jmls commented on #365
I mean if I drag the file and drop it on the drop container, the browser does this ...

![image](https://user-images.githubusercontent.com/929523/32123476-364b8336-bb5c-11e7-954a-4938862c5552.png)

[2017-10-27 20:37] jkuri commented on #365
![drag-n-drop](https://user-images.githubusercontent.com/1796022/32124192-33ab65be-bb67-11e7-80d1-9a932fabb5e8.gif)

I tried this and it works. Looks like you don't have `ngFileDrop` directive applied on the drop container.

[code]

[2017-10-27 20:42] jmls commented on #365
I didn't - sometimes it's the obvious thing ... thanks again

[2017-10-27 20:43] jkuri commented on #365
you welcome.

[2017-10-27 20:51] jmls commented on #365
one last question : may I ask what tool you used to capture the animation above ?

[2017-10-27 20:51] jkuri commented on #365
https://getkap.co/

[2017-10-30 04:29] vivian7169 commented on #297
@jason111neo
I am encountering the same issue, even I set the pace options as below, still can't work (can't get output 'done'... ). May I know how you solved the issue? Thanks.

window.paceOptions = {
    ajax: false,
    elements: false,
    document: false,
    eventLag: false,
    restartOnPushState: false,
    restartOnRequestAfter: false
};

[2017-11-01 20:37] smedasn opened #366 "+1 for supporting Angular 5"

[2017-11-01 20:38] smedasn opened #367 "Provide server code of the http://ngx-uploader.com/ demo"
I saw it is possible to upload very large files to your server backend. Can you provide the server source code?
Btw. Thx for the great library

[2017-11-01 20:41] jkuri commented on #367
hi @smedasn.
server side code is actually included in repository; https://github.com/bleenco/ngx-uploader/blob/master/src/api/index.ts.
On demo server it is proxied with `nginx` and here is the related config:
[code]

[2017-11-01 20:58] smedasn commented on #367
thank you very much!

[2017-11-02 00:40] jkuri commented on #366
https://github.com/bleenco/ngx-uploader/commit/245f6973dad8be9729bd3a992ef5946227c61b69

[2017-11-02 00:40] #366 closed

[2017-11-02 10:23] vincent-cm opened #368 "Unexpected value 'NgUploaderModule' found after update to 4.1.0 from pre latest"
Unexpected value 'NgUploaderModule' imported by the module 'XXXXX'. Please add a @NgModule annotation.

[2017-11-02 19:23] Yacoub89 commented on #368
tri solved it by doing this:
import { NgUploaderModule } from 'ngx-uploader/src/ngx-uploader/module/ngx-uploader.module';

[2017-11-03 12:32] jkuri commented on #368
`4.1.0` is compiled for Angular 5 already. to use module with Angular 2 or 4 use version prior to `4.1.0`.

[2017-11-03 15:44] lacroixdavid1 commented on #368
It is not working for me with Angular 2 and 4.1.0 @jkuri

[2017-11-03 16:10] jkuri commented on #368
or
[code]
should work also.

[2017-11-06 07:30] nishant0131 commented on #368
Thanks @jkuri @Yacoub89. Also works for me.

[2017-11-06 09:46] sansicruxer commented on #135
Hi i am trying to upload file using ngx uploader but i am getting Unexpected value 'NgFileSelect' declared by the module 'AppModule'. Please add a @Pipe/@Directive/@Component annotation. even though i am doing the same code as mentioned.please help me. Thank you

[2017-11-07 09:57] fpmk commented on #368
I have error also:

[code]

maybe its anglar issue https://github.com/angular/angular-cli/issues/8284

[2017-11-07 20:57] H4isan opened #369 "check the loading process return responseStatus null"
i'm trying to implement handle error for 413 or 404. and i want to detect the status when is 'uploading', but just works when is 'done'
![image](https://user-images.githubusercontent.com/20744476/32516821-a476fd26-c3d2-11e7-8694-20c7f51c30fb.png)
i print in console
      console.log(output.file);
And this object show me the responseStatus nice! but in the same line I try to access the property

[2017-11-09 08:26] kotsias commented on #368
Hi. This is an issue on angular v 5.0 but if you run **ng serve --aot** will work. This is because in angular 5.0 the node_modules need to be compiled and not contains .ts files. Please fix this plugin to use the compiled files for importion only. Thanks a lot. Nice work.

[2017-11-09 08:33] mdhanju opened #370 "How to change file name"
"ngx-uploader": "^4.0.2",

[2017-11-09 10:45] jkuri commented on #368
@kotsias I published `4.1.1` version without source files. Please check if it works.

[2017-11-09 11:17] vincent-cm commented on #368
@jkuri Cannot find name 'UploadFile'. is a new issue in 4.1.1

[2017-11-09 11:21] jkuri commented on #368
4.1.1 is not good. I just published `4.1.2` please check this version, it should work with `ng serve` and with `ng serve --aot` as well.

[2017-11-09 11:22] jkuri commented on #368
https://github.com/bleenco/ngx-uploader/commit/6b0c1e1ff9579541c9e457308e2e49b6ce264b7d for reference.

[2017-11-09 11:47] jkuri commented on #370
how do you mean how to change file name?

[2017-11-09 12:31] rafaelss95 opened #372 "Error with Angular 5 and 4.1.2"
I just installed the latest version of this module and I'm getting the following error when I ran `ng serve`:

rt of the compilation output. Please check the other error messages for details.
    at AngularCompilerPlugin.getCompiledFile (/MY_PATH/node_modules/@ngtools/webp
ack/src/angular_compiler_plugin.js:629:23)
    at plugin.done.then (/MY_PATH/node_modules/@ngtools/webpack/src/loader.js:467
:

[2017-11-09 12:36] jkuri commented on #372
what version of `angular-cli` are you running? cannot reproduce on latest one `1.5.0`.

[2017-11-09 12:36] jkuri commented on #372
did you imported module as
[code]

[2017-11-09 12:37] rafaelss95 commented on #372
I'm using the latest also.

ng -v:

[code]

And I'm importing the module this way `import { NgUploaderModule } from 'ngx-uploader';`.

[2017-11-09 12:43] jkuri commented on #372
I am appending sample project. Both `ng serve` and `ng serve --aot` works as expected.
[proj.zip](https://github.com/bleenco/ngx-uploader/files/1457585/proj.zip)

[2017-11-09 16:28] mdhanju commented on #370
User selects image with name `IMAGE_26375.png`
But before uploading to server i want to change name to `ca_21_profile.png`

I tried, but this did't change file name
[code]

[2017-11-09 23:03] mdhanju commented on #372
Try with
import { NgUploaderModule } from 'ngx-uploader/ngx-uploader';

[2017-11-10 16:45] vincent-cm opened #374 "[feature] orientation fix for jpeg image files with exif orientation data"
Some jpeg metadata contains orientation option. Uploading those files may take the rotated one to the server. I think it is better to check the file if it is a rotated image and then rotate to normal before upload.

Check out https://github.com/danialfarid/ng-file-upload : orientation fix

[2017-11-11 04:04] lacroixdavid1 commented on #368
@jkuri i'll confirm next week !

[2017-11-11 07:17] stevenruizhang opened #376 "IE11 throws SyntaxError when xhr.open is called with an empty string as the url"
when i upload the file , the file name will display in the input box. But after uploading the file successfully i re select the same file name again the input box file name is empty. This only happen in IE11 but works well in chrome. The reason i set the URL to empty is that i don't want to upload file really, i just process the file data.
![fileuploadissue](https://user-images.githubusercontent.c

[2017-11-11 11:43] fibinger commented on #368
It works for me now. Thanks!

[2017-11-12 11:36] retailify commented on #376
What do you mean with: "i just process the file data"?
Do you emit "this.uploadInput.emit(event);" in your onUploadOutput method?

[2017-11-12 11:47] retailify commented on #374
There are no file transformers in ngx-uploader yet.  Could you send a PR?

[2017-11-12 11:53] retailify commented on #364
Please look at [app-home.component.html](https://github.com/bleenco/ngx-uploader/blob/master/src/components/app-home/app-home.component.html) and [app-home.component.ts](https://github.com/bleenco/ngx-uploader/blob/master/src/components/app-home/app-home.component.ts).

[2017-11-12 12:15] retailify commented on #355
Please look at #374

[2017-11-12 12:24] retailify commented on #356
Thank you, I've placed it in the README for the next release.

[2017-11-12 12:57] retailify commented on #348
checked readme.

[2017-11-12 12:57] #348 closed

[2017-11-12 22:47] retailify commented on #356
#381 updated Readme

[2017-11-12 22:47] #356 closed

[2017-11-12 23:00] retailify commented on #333
@webbieram could you test it again? Microsoft stated the the issue is fixed. [Issue #8282613](https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8282613/).
Thank you!

[2017-11-12 23:34] retailify commented on #342
@amanssit, @jason111neo did you find a solution?

[2017-11-12 23:35] retailify commented on #332
@webbieram did you fixed the issue?

[2017-11-12 23:53] retailify commented on #341
see the readme file

[2017-11-12 23:53] #341 closed

[2017-11-13 07:24] retailify commented on #323
1e1c37a fixed this

[2017-11-13 07:24] #323 closed

[2017-11-13 07:33] retailify commented on #293
fixed

[2017-11-13 07:33] #293 closed

[2017-11-13 07:36] retailify commented on #291
did you mean this one [ng2-file-uploader](github.com/spartaksun/ng2-file-uploader)?

[2017-11-13 07:36] #291 closed

[2017-11-13 07:41] retailify commented on #289
@adam-beck maybe this help you out [rx-book](https://xgrommx.github.io/rx-book/). ;)

[2017-11-13 07:41] #289 closed

[2017-11-13 07:44] #198 closed

[2017-11-13 07:47] #284 closed

[2017-11-13 08:26] #256 closed

[2017-11-13 08:28] #280 closed

[2017-11-13 09:01] retailify commented on #372
@rafaelss95 could you please check the sample project from @jkuri?
Thank you!

[2017-11-13 09:05] #368 closed

[2017-11-13 09:10] #346 closed

[2017-11-13 09:13] retailify commented on #352
@jkuri did you checked it?

[2017-11-13 09:14] #351 closed

[2017-11-13 09:15] jkuri commented on #352
no. but I believe it should work with the new version.

[2017-11-13 09:19] retailify commented on #277
see Readme ;)

[2017-11-13 09:19] #277 closed

[2017-11-13 09:20] #279 closed

[2017-11-13 09:21] #278 closed

[2017-11-13 09:22] #272 closed

[2017-11-13 09:24] #267 closed

[2017-11-13 09:25] #263 closed

[2017-11-13 09:27] #253 closed

[2017-11-13 09:29] retailify commented on #248
Hi @adrian-mitangi, thats part of your component. Inject a AuthService, that handles also token refreshes.

[2017-11-13 09:29] #248 closed

[2017-11-13 09:32] retailify commented on #249
@jkuri, is this outdated?

[2017-11-13 09:33] #247 closed

[2017-11-13 09:37] retailify commented on #350
Hi @TakahiRoyte, could you please check the Readme again?
Thank you!

[2017-11-13 10:03] #350 closed

[2017-11-13 10:04] retailify commented on #350
I will update the readme. 2.x.x, 3.x.x are deprecated. We are not maintaining the code.

[2017-11-13 11:12] retailify opened #384 "CI should test against node 6, 7 & 8"

[2017-11-13 15:35] #163 closed

[2017-11-13 15:35] #165 closed

[2017-11-13 15:35] #106 closed

[2017-11-13 15:35] #107 closed

[2017-11-13 15:35] #108 closed

[2017-11-13 15:35] #110 closed

[2017-11-13 15:35] #112 closed

[2017-11-13 15:35] #114 closed

[2017-11-13 15:35] #116 closed

[2017-11-13 15:35] #123 closed

[2017-11-13 15:35] #124 closed

[2017-11-13 15:35] #126 closed

[2017-11-13 15:35] #127 closed

[2017-11-13 15:35] #130 closed

[2017-11-13 15:35] #131 closed

[2017-11-13 15:35] #133 closed

[2017-11-13 15:35] #135 closed

[2017-11-13 15:35] #141 closed

[2017-11-13 15:35] #143 closed

[2017-11-13 15:35] #144 closed

[2017-11-13 15:35] #145 closed

[2017-11-13 15:35] #153 closed

[2017-11-13 15:35] #155 closed

[2017-11-13 15:35] #156 closed

[2017-11-13 15:35] #157 closed

[2017-11-13 15:35] #158 closed

[2017-11-13 15:35] #18 closed

[2017-11-13 15:35] #28 closed

[2017-11-13 15:35] #31 closed

[2017-11-13 15:35] #34 closed

[2017-11-13 15:35] #54 closed

[2017-11-13 15:35] #67 closed

[2017-11-13 15:35] #68 closed

[2017-11-13 15:35] #72 closed

[2017-11-13 15:35] #74 closed

[2017-11-13 15:35] #77 closed

[2017-11-13 15:35] #78 closed

[2017-11-13 15:35] #81 closed

[2017-11-13 15:35] #82 closed

[2017-11-13 15:35] #83 closed

[2017-11-13 15:35] #92 closed

[2017-11-13 15:35] #93 closed

[2017-11-13 15:35] #95 closed

[2017-11-13 15:35] #96 closed

[2017-11-13 15:35] #97 closed

[2017-11-13 15:35] #98 closed

[2017-11-13 15:35] #99 closed

[2017-11-13 15:35] #101 closed

[2017-11-13 15:35] #102 closed

[2017-11-13 15:35] #105 closed

[2017-11-13 15:36] #159 closed

[2017-11-13 15:36] #160 closed

[2017-11-13 15:36] #161 closed

[2017-11-13 15:41] retailify commented on #162
We will tag and provide a change log in future releases! I'm reopen the issue.

[2017-11-13 16:03] F3L1X79 commented on #121
Is it closed because changes has been made into the project, or because the defect is too old?

[2017-11-13 16:08] retailify commented on #121
Hi @F3L1X79 its to old, but I'm reopening the issue. I have closed all issues older than 2017. If there is a need for something like this, we will review the issues and hopefully will work on it in future release ;)

[2017-11-13 16:09] F3L1X79 commented on #121
Thank you a lot for the good work and for maintaining this project.

[2017-11-13 17:30] retailify commented on #162
@etiennetalbot tagging is done ;) changelog is on the way...

[2017-11-14 06:30] ehdwns980416 commented on #291
404 error occur

[2017-11-14 09:39] #384 closed

[2017-11-14 09:44] retailify commented on #162
@etiennetalbot: now the changelog is available.

[2017-11-14 09:44] #162 closed

[2017-11-14 10:29] retailify commented on #370
@mdhanju lets discuss a possible solution for that.

The only way I see is a filename template like 'ca_21_profile' as base name with a prefixed or suffixed hash to get identifiable files (eg: 1738456879_ca_21_profile.png, ca_21_profile_1738456879.png). A counter does'nt make sense, cause the files will be overwritten by the server (without a file handler on the server side). This can be implement

[2017-11-14 10:45] retailify opened #387 "Invitation to writing tests for the current code base"
**You are invited to help us to deliver well tested software.**

We are needing more tests for:
- [ ] NgUploaderService
- [ ]  NgUploaderService
- [ ] NgFileDropDirective

So please: Contribute :)

[2017-11-14 11:01] retailify commented on #369
@H4isan could you post your component code?

[2017-11-14 11:13] retailify opened #388 "Provide better Changelog"
- [ ] The [CHANGELOG.md](https://github.com/bleenco/ngx-uploader/blob/master/CHANGELOG.md) should not contain merge requests?
- [ ] The CHANGELOG.md should auto generated (e.g. [github-changelog-generator](https://github.com/skywinder/github-changelog-generator) or [generate-changelog](https://github.com/lob/generate-changelog))

[2017-11-14 11:48] retailify commented on #221
outdated (prior release 3.x)

[2017-11-14 11:48] #221 closed

[2017-11-14 12:42] retailify commented on #121
#370

[2017-11-15 09:24] ceras-ella commented on #300
Guys, any updates on this?

[2017-11-15 09:26] retailify commented on #300
@ceras-ella could you please tell us, which Firefox release do you use?

[2017-11-15 10:32] ceras-ella commented on #300
Updated to the latest version and the error is gone. Thanks!
I'm was using Firefox ESR v52.5.0. and ngx-uploader: 3.3.11. Do you happen to know in what version was this fixed?

[2017-11-15 10:39] retailify commented on #300
@ceras-ella unfortunately not. I'm maintaining the project not long enough. I'm on board since 4.x.

it's maybe in release 3.0.2 [Changelog](https://github.com/bleenco/ngx-uploader/blob/master/CHANGELOG.md#302--2017-04-29)

[2017-11-15 10:39] #300 closed

[2017-11-15 15:27] retailify commented on #388
I've added it to the requirements.

[2017-11-15 18:34] H4isan commented on #369
i delete the piece of code, but I subscribe to the file with Rx.
currently i'm just use the condition when is "done"   :cry:  i couldn't evaluate each status of the upstreaming

[2017-11-16 09:08] retailify commented on #322
@boenrobot did you tried to set the concurrency to 1?

[2017-11-16 15:36] briva opened #389 "Impossible to redirect from upload component"
Hello I try to redirect my user from an upload component using ngx-uploader, but when a try a simple :

`this.router.navigate(['/']);`

The app crash with this message :

[2017-11-16 15:37] jkuri commented on #389
hi @briva. can you provide a minimal reproduction sample please? I will check on it.

[2017-11-16 15:49] briva commented on #389
[code]

The :

[code]

Raise :

[2017-11-17 18:08] retailify commented on #376
I'm closing the issue. Please respond, if you have further questions.

[2017-11-17 18:08] #376 closed

[2017-11-20 03:07] mjurczyk commented on #372
This is an `angular-cli` issue, try adding `MY_PATH/node_modules/ngx-uploader/index.ts` to `tsconfig.json` under `include`:

[code]

[2017-11-20 07:29] raslasarslas opened #391 "Can't open image file after upload to s3 bucket"
I am using ngx-uploader to upload image to s3 using a presigned url.

Here is my code client-side,
when  I try to download and open image after uploading, I got this message : "Error interpreting JPEG image file (Not a JPEG file: starts with 0x2d 0x2d)".

[code]
# And the template code
[code]

[2017-11-20 08:00] retailify commented on #391
@raslasarslas How do you process the file on the server side?

[2017-11-20 08:24] retailify commented on #391
[Stack Overflow Question](https://stackoverflow.com/questions/47387159/cant-open-image-file-after-upload-to-s3-bucket-using-ngx-uploader-module)

Please respond to the question on Stack Overflow.

[2017-11-20 08:24] #391 closed

[2017-11-20 12:44] retailify opened #392 "feat(upload): use strategy pattern for multipart/form-data or direct upload"
Since we've got questions regarding uploading images directly to Amazon S3, we can use the strategy pattern to switch the behavior of ngx-uploader.class.ts.

Defaults to: multipart/form-data upload

[ngx-uploader.class.ts #L225](https://github.com/bleenco/ngx-uploader/blob/cd94a304d2ce1a8538c2bba2f3b50461d2ea0da1/src/ngx-uploader/classes/ngx-uploader.class.ts#L225)

[2017-11-20 12:44] retailify commented on #392
#391

[2017-11-22 02:39] OnlyBelter commented on #343
Actually, I think this is still a problem. Since we can only append data with an event of `UploadInput`, if we have multiple files and some of them have the same file name, then we cannot distinguish them in the back end.
We need a way to append data (some particular information about this file, like a unique id) for each single file, instead of setting only one `data` for multiple files.

[2017-11-22 02:45] OnlyBelter commented on #343
#354 This issue may have same requirement.

[2017-11-22 09:10] retailify commented on #343
We are creating following directory structure on the server side:
[code]
The directory hash is currently the unix timestamp, so we have not to deal with "same name" problem. Furthermore we are creating related directories for thumbs.
If we need to delete the image, we are removing the directory and the database row (in a transaction).

[2017-11-23 11:04] alllx commented on #330
I didn't found any built-in option for this and handled it with additional code:
`if (output.type === 'addedToQueue'  && typeof output.file !== 'undefined') {
      if(output.file.size > this.sizeLimit) {
        this.showError('size', output.file.size);
      } else {
          this.files.push(output.file);
      }
  }
`

[2017-11-23 13:24] retailify commented on #330
@alllx thank you for your input!

My idea was to extend the interface UploaderOptions without breaking the current behavior and setting default limits.

NgUploaderService.handleFiles should check the limits and emit a 'sizeLimitReached' and / or 'numberOfFilesLimitReached'. If there are no fileLimits set, handleFiles works as today.

Any suggestions?

[code]

[2017-11-23 13:48] alllx commented on #330
My suggestion is:
It should be possible to catch result in:
`if (output.type === 'rejected') {}`
and then should be property available `output.reason` to check reject reason like `'fileSize' | 'contentType'`

[2017-11-23 14:26] retailify commented on #330
Good catch. Then we don't have to introduce new ServiceEvents.

[2017-11-24 12:19] AndreasSchmid1 commented on #363
no answer yet?

[2017-11-24 12:20] retailify commented on #363
currently the library does'nt support chunks uploads

[2017-11-24 12:22] jkuri commented on #363
sorry. uploading chunks is related to the server side protocol and how it
accepts chunks and headers, i dont believe we can cover all of possible
implementations. do you have any nginx module or something in mind to
implement it for it?

On 24 November 2017 at 13:19:59, AndreasSchmid1 (notifications@github.com)
wrote:

[2017-11-27 02:30] OnlyBelter commented on #343
If I understand your point correctly, you mean we have to save each file into separate folder, right??

I use django on the server side, so I save these files by a custom directory, like `/home/user/abc.txt`. And I need to save all files into one folder.

[2017-11-27 08:19] retailify commented on #343
Yes, thats the way, we're doing it.
On the server side, you can check the filename and then rename the file.

- First upload of abc.txt -> abc.txt
- Second upload of abc.txt -> abc_1.txt

I think you can do this with django also.

[2017-11-30 12:31] dosama opened #393 "Angular 5 Support"
Is ngx-uploader is supported in Angular 5 ??

[2017-11-30 12:32] retailify commented on #393
Yes, it is.

[2017-11-30 12:32] #393 closed

[2017-11-30 13:00] bezigon commented on #392
How to direct upload? Seems the `multipart` option is removed.

[2017-11-30 13:03] retailify commented on #392
Please look at the example in the repository. All files are transfered as multipart upload. But not in one transfer (all files in one upload). Each file will uploaded as single multipart upload.

[2017-12-02 15:42] retailify commented on #364
I'm closing the issue, cause I've got no feedback.

[2017-12-02 15:42] #364 closed

[2017-12-02 15:44] #238 closed

[2017-12-02 15:45] #213 closed

[2017-12-02 15:46] #173 closed

[2017-12-02 15:47] #178 closed

[2017-12-02 15:47] #179 closed

[2017-12-02 15:48] #183 closed

[2017-12-02 15:49] #193 closed

[2017-12-02 15:50] #188 closed

[2017-12-02 15:52] #200 closed

[2017-12-02 15:52] #203 closed

[2017-12-02 15:53] #215 closed

[2017-12-02 15:54] #208 closed

[2017-12-02 15:55] #220 closed

[2017-12-02 15:55] #222 closed

[2017-12-02 15:56] #224 closed

[2017-12-02 15:56] #232 closed

[2017-12-02 15:57] #243 closed

[2017-12-02 15:58] #235 closed

[2017-12-02 18:27] kerimdragolj opened #396 "RESPONSE!???"
How do i get response, i need to return file name cause i'm generating name on backend, so how do i return it in response???

[2017-12-02 18:46] jkuri commented on #396
please check the readme.

On 2 December 2017 at 19:27:32, Kerim Dragolj (notifications@github.com)
wrote:

[2017-12-02 20:10] kerimdragolj commented on #396
i did, like 10x just today, still dont get it.. i mean im passing it in response, but how do i track uploading progress? im sending it in response so when percentage is 100%, but how to track it?

[2017-12-02 20:16] #396 closed

[2017-12-02 20:17] jkuri commented on #396
this question is not related to module itself but you need a understanding of how to handle events with the web applications. closing.

[2017-12-02 20:30] kerimdragolj commented on #396
ty for help

[2017-12-02 20:30] jkuri commented on #396
clone the repo you have everything setted up.

[2017-12-05 14:11] Tomdrouv1 commented on #308
Hi,
Is this issue fixed or there is any solution ?
Thanlks.

[2017-12-05 17:33] retailify commented on #308
@Tomdrouv1 could you check the solution of @kevinvella?

[2017-12-05 17:38] Tomdrouv1 commented on #308
@kevinvella I already tried this.
Using isPlatformBrowser function to check if app is runnig in the browser or not and put it in a variable to use in *ngIf, but still got the issue..

[2017-12-05 17:41] retailify commented on #308
Could you open a git repository with your setup, so I can check this out?

[2017-12-05 17:48] Tomdrouv1 commented on #308
Are you talking about the prerendering setup ?
I'm working on a professional project so I can't share all the git repository but if you're only talking about the setup, I can make a repo with the setup.

I followed all steps on [https://angular.io/guide/universal](https://angular.io/guide/universal)

[2017-12-05 17:50] retailify commented on #308
Yes only the setup you are using including the things like package.json and so on, so I have the same setup & releases.

[2017-12-05 18:00] Tomdrouv1 commented on #308
Okay, there it is https://github.com/Tomdrouv1/server-side-rendering-angular-5.
Tell me if you need other files

[2017-12-05 18:01] retailify commented on #308
Thx! I've forked the repo.

[2017-12-05 19:21] retailify commented on #308
could you add the UniversalInterceptor to your repo?
`
import {UniversalInterceptor} from "./_services/universal.interceptor";
`

[2017-12-06 12:30] Tomdrouv1 commented on #308
Done.

I use Node 8.9.2

[2017-12-07 02:40] vivian7169 opened #398 "Unable to get DONE status when using with pace.js"
[pull request]
My app is using pace.js(v1.0.2) and ngx-uploader(v4.2.1), and upgraded angular to 5.x.
After upgrade, uploader is unable to capture DONE status when completed upload.

So I modified the code in lib/src/ngx-uploader/classes/ngx-uploader.class.js
if (xhr.readyState === XMLHttpRequest.DONE)
to
if (xhr.readyState === 4)

Then it can work. If possible to pull this request into ngx-upload

[2017-12-07 08:59] retailify commented on #398
Hi @vivian7169,  is declared in [XMLHttpRequest.DONE](https://github.com/Microsoft/TypeScript/blob/477c1f57a985f3336475e9e65d323e5455df3e75/lib/lib.es6.d.ts#L19584) lib.es6.d.ts from Microsoft. So we don't accept this pull request.

Please fork ngx-uploader  repo and check your dependencies.

[2017-12-07 08:59] #398 closed

[2017-12-07 10:20] HEHEMonster opened #399 "[mime-types] only upload excel & word files"
![image](https://user-images.githubusercontent.com/16699173/33710247-ec9517d6-db7a-11e7-9a76-696cde333628.png)
How can i init this 'allowedContentTypes'  arr to restrict  only upload excel file ?

[2017-12-07 10:31] retailify commented on #399
It depends, cause excel has more than one mime type.
Check this out:

*.xlsx:
`
application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
`

*.xls, *.xla:
`
application/msexcel
`

*.docx:
`
application/vnd.openxmlformats-officedocument.wordprocessingml.document
`

This is a [german](https://wiki.selfhtml.org/wiki/MIME-Type/%C3%9Cbersicht) list of known mime types

[2017-12-07 10:33] retailify commented on #399
This is [german list of known mime types](https://wiki.selfhtml.org/wiki/MIME-Type/%C3%9Cbersicht). You'll find the needed mime types. If you copy them, remove the white spaces ;)

[2017-12-07 17:44] 77bo opened #400 "Get response headers after file was successfully uploaded"
Hi! Need a little help 😉
Is it possible to somehow get response headers after file uploading?

[2017-12-08 02:08] HEHEMonster commented on #399
Thank you,it's work for me,the german list is nice

[2017-12-08 02:08] #399 closed

[2017-12-08 13:14] lijinlar opened #401 "Can't configure UploaderOptions"
There is no documentation for configuring UploaderOptions.
I have configured with following format and it stopped working. No files were added to the files array.

`{ allowedContentTypes:["image"] }`

Using with Angular 5.0.2

[2017-12-08 17:14] retailify commented on #401
He @lijinlar thats not true, please look at the readme, section Uploader restrictions! There is also a link to a working example or fork the repo an run it....

[2017-12-08 17:14] #401 closed

[2017-12-08 17:37] retailify commented on #400
Hi @77bo, no it's impossible to get the response headers after file upload.

But feel free to send a PR ;)

[2017-12-09 03:15] lijinlar commented on #401
@retailify  Ok , will try that.

[2017-12-10 21:14] retailify commented on #401
Did you find the solution?

[2017-12-11 09:34] #400 closed

[2017-12-11 13:13] lijinlar commented on #401
@retailify  Yes, I was bit confused with documentation tried with sample code and it worked.
Thank you.

[2017-12-15 10:32] LintonBlack opened #403 "Cannot assign to read only property 'progress'"
Hi
During the upload process when I reach that point :

` xhr.upload.addEventListener('progress', function (e) {`

as soon as I hit

[code]

I have the following error Cannot assign to read only property 'progress'

my config
 "@angular/cli": "^1.6.0",
    "@angular/compiler": "5.0.3",
    "@angular/compiler-cli": "5.0.3",
"ngx-uploader": "4.2.1",
"@ngrx/store": "4.1.0"

any idea ?

Thanks for you

[2017-12-15 16:12] retailify commented on #403
could you complete your config?

[2017-12-15 16:31] LintonBlack commented on #403
@retailify

here it is. I've fixed the issue that why I think it comes from somewhere else. since I've updates rxjs, angular and ngrx I got a lot issue with immutable, most of the time I have this error

Cannot assign to read only property

[code]
Here how I fix (from the javascript I need to update the module and typescript)

instead of
[code]
I change it for
[code]

But still got issue !? so it

[2017-12-15 16:54] retailify commented on #403
Please fork the repo and build it (see Readme for that). The repo contains a working example with a simple node server to upload files. And checkout our package.json ;)

[2017-12-17 11:46] taat opened #404 "PHP backend example"
Why the PHP example was removed?

I have found some dead links pointing to:
https://github.com/bleenco/ngx-uploader#backend-example-using-plain-php

How the PHP backend should look like?
Could you show some JSON responses at least?

Is this a streamed version or multipart? How the memory limits are managed for big files (eg. 1GB)?

[2017-12-17 12:19] retailify commented on #404
Hi @taat, I'm not a php guy at all and I'm since 4.x onboard. So I can't answer the question, why the example was removed. But I think, it's version related.

ngx-uploader uploads the files as multipart upload.

For the php part, look at [W3Schools](https://www.w3schools.com/php/php_file_upload.asp) or ask your question on [Stack Overflow](https://stackoverflow.com)

[2017-12-17 12:19] #404 closed

[2017-12-19 05:40] chrisvfabio commented on #308
I'm getting the same issue. I think it's related to this: https://github.com/bleenco/ngx-uploader/blob/ecb99591de36721018d08f1a8478296d654cb34a/src/ngx-uploader/directives/ng-file-drop.directive.ts#L65

Changing `Event` to `DragEvent` fixed the issue in my tests

[2017-12-19 14:53] Tomdrouv1 commented on #308
@chrisvfabio I'll try this and hope it will fix the issue for me too! Thanks

[2017-12-21 11:44] vincent-cm opened #405 "aot build error with angular 5.1.2, ngx-uploader 4.2.1"
client:157 ./node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-drop.directive.ts
Module build failed: Error: ./node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-drop.directive.ts is not part of the compilation output. Please check the other error messages for details.
    at AngularCompilerPlugin.getCompiledFile (./node_modules/@ngtools/webpack/src/angular_compiler_plugin.j

[2017-12-21 14:34] doronsever commented on #405
Happens to us as well. When moving back to 5.1.1 it works as expected

[2017-12-22 08:09] doronsever commented on #405
I was manage to get this to work after adding this to the `tsconfig.app.json` file

`
"include": [
    "./**/*.ts",
    "../node_modules/ngx-uploader/src/ngx-uploader/**/*.ts"
  ],
`

I also add this to the `exclude` section but i'm not sure it is needed
`
"exclude": [
    "test.ts",
    "**/*.spec.ts",
    "../node_modules/ngx-uploader/src/**/*.spec.ts"
  ]`
`

[2017-12-22 08:33] retailify commented on #403
Do you fixed your problem?

[2017-12-22 08:38] LintonBlack commented on #403
@retailify
Hi thomas,

the component works pretty fine, the issue comes from somewhere else.
I've tested with the working example , all's good.
Thanks for your help

[2017-12-22 08:39] retailify commented on #403
Fine :) Then I'm closing the issue.

[2017-12-22 08:39] #403 closed

[2017-12-22 08:40] LintonBlack commented on #403
yep :)

thanks

2017-12-22 9:39 GMT+01:00 Thomas Meitz <notifications@github.com>:

[2017-12-26 11:43] Koushikhore commented on #194
Christian24's option does not work for me. (version 4.2.1). Is there any other way.

[2017-12-27 10:09] Manikandan-Constient opened #406 "'uploadFile' event starts uploading only on second emit"
Hi,
I'm using version-4.2.1
The file is not uploading on the first emit. It only uploads from the second emit.

[2017-12-27 11:00] retailify commented on #406
Please clone the repo and run the demo.

[2017-12-28 02:23] lliiuu opened #407 "How filter's list allows initialization to select one item？"
Who knows? Thank you

[2017-12-28 07:21] retailify commented on #407
[look here](https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/file)

[2017-12-28 07:56] liftoff-rating-scheme commented on #392
I like the idea of a strategy pattern switch. I mean, there are a bunch of ways to upload with all their own idiosyncrasies (AWS, Azure, fineuploader, blueimp, etc.)

For my purposes, allowing the implementer to create their own strategy pattern would be immensely useful as I have to work with a team that created a custom backend loosely based on the one of the common strategies... but not exactly

[2017-12-28 15:45] phantazma opened #408 "Uploadind and done status in input ."
Goodmorning
I have a probleme while uploading a file from the input , the last call to onUploadOutput is when the statut became "START" so im not able to see "uploading" and "done" status , however the file is uploaded and my return is in the file.response.
however when using drag and drop i can see those two status
any idea what's the problem ?

[2017-12-29 03:25] lliiuu commented on #407
please help me?thanks

[2017-12-29 08:11] lliiuu opened #409 "How Limit the type of uploaded file??"
help me,thanks

[2017-12-29 08:36] retailify commented on #409
Look at the README.md section "Upload Restrictions". There is a link to an example.

[2017-12-29 08:37] retailify commented on #407
I can not read your mind ;) Please be more specific and describe what you want.

[2017-12-29 08:48] lliiuu commented on #407
thanks，my problem，Is another component of the problem，Thank you very much

[2017-12-29 08:52] #407 closed

[2017-12-29 14:46] killbox-security commented on #372
Just ran into this using ngx-uploader@4.2.1 in a project w/ the following specs:
`Angular CLI: 1.6.3
Node: 9.2.0
OS: darwin x64
Angular: 5.1.2
... animations, common, compiler, compiler-cli, core, forms
... http, language-service, platform-browser
... platform-browser-dynamic, router, service-worker

@angular/cli: 1.6.3
@angular/flex-layout: 2.0.0-beta.12
@angular/tsc-wrapped: 4.4.6
@angular-devki

[2018-01-03 17:32] vincent-cm commented on #374
Transform logic can refer following code:

`transformCoordinates = function (canvas) {
    var ctx = canvas.getContext('2d')
    var width = canvas.width
    var height = canvas.height
    var styleWidth = canvas.style.width
    var styleHeight = canvas.style.height
    var orientation = true;
    if (!orientation || orientation > 8) {
      return
    }
    if (orientation > 4) {
      canvas.wid

[2018-01-03 17:34] retailify commented on #374
Thank you :)

[2018-01-08 11:06] manimurugank opened #410 "file type validation check is not wotking. Please give some sample code to validate type"

[2018-01-08 11:09] retailify commented on #410
Please look at this [url](https://github.com/bleenco/ngx-uploader/blob/master/src/components/app-home/app-home.component.ts).

[2018-01-08 11:13] manimurugank commented on #410
this is not i am looking

I am looking type check validation

For example only JPG and PNG and GIF files upload

On Mon, Jan 8, 2018 at 4:39 PM, Thomas Meitz <notifications@github.com>
wrote:

--
<http://www.constient.com/> Thanks and Regards
*Manimurugan K *| Senior Systems Engineer
Mobile : 9698854231
Office : 4th Floor No:45, Santhome High Road, Santhome, Chennai - 600004

[2018-01-08 11:15] retailify commented on #410
[code]

[2018-01-08 11:24] manimurugank commented on #410
may i know for PDF and EPS and AI formates ?

On Mon, Jan 8, 2018 at 4:45 PM, Thomas Meitz <notifications@github.com>
wrote:

--
<http://www.constient.com/> Thanks and Regards
*Manimurugan K *| Senior Systems Engineer
Mobile : 9698854231
Office : 4th Floor No:45, Santhome High Road, Santhome, Chennai - 600004

[2018-01-08 11:27] retailify commented on #410
please look at this [list](https://wiki.selfhtml.org/wiki/MIME-Type/%C3%9Cbersicht) or google for mime-types.

[2018-01-08 11:27] #410 closed

[2018-01-08 23:05] zorino opened #411 "type not assignable to UploadInput"
Type '{ type: "uploadAll"; url: string; method: string; data: {}; headers: { A
uthorization: string; }; ...' is not assignable to type 'UploadInput'.
  Object literal may only specify known properties, and 'concurrency' does not exist in type 'UploadInput'.

With
"ngx-uploader": "^4.2.1"
and angular ^4.0.1

[2018-01-09 10:12] jkuri commented on #411
check documentation.

[2018-01-09 15:13] zorino commented on #411
ok but it seems in the readme that the property concurrency is still part of the UploadInput interface no ?

[2018-01-09 15:14] jkuri commented on #411
its not anymore

On 9 January 2018 at 16:13:22, Maxime Déraspe (notifications@github.com)
wrote:

[2018-01-09 15:14] zorino commented on #411
alright thanks

[2018-01-09 15:14] #411 closed

[2018-01-09 15:52] c-martinez opened #412 "Sass styling required"
I tried to use ngx-uploader but when I create a drop-container as in [the example](https://github.com/bleenco/ngx-uploader#example), the resulting component does not have the same styling as [on the demo](http://ngx-uploader.com/).

To get the styling to work, I've added the styleUrl to my component:

[code]
and had to manually install bulma: `yarn add bulma`, then it seems to be working.

Is this

[2018-01-09 15:55] jkuri commented on #412
hi @c-martinez,
[bulma](https://github.com/bleenco/ngx-uploader/blob/master/package.json#L52) is pretty much added to the dependencies and it serves only for demo purposes. This module isn't about css styling or any other design features rather than just showing how make the upload work.
Included demo serves only for the demo website.

[2018-01-10 09:00] c-martinez commented on #412
hi @jkuri ,

Thanks for clarifying this. I'll close this issue then.

[2018-01-10 09:00] #412 closed

[2018-01-10 12:55] Newan opened #413 "No complete | done | error event on upload"
i use the ngx-admin projekt: https://github.com/akveo/ngx-admin/tree/ng2-admin/src/app/theme/components/baFileUploader

create a component with the example code from the AppHomeComponent
but no finished event is called?

![image](https://user-images.githubusercontent.com/3693094/34773916-a5fae71c-f60d-11e7-8458-097818792916.png)

the difference to you project is the package.json. here my complete

[2018-01-10 21:52] BenevidesLecontes commented on #389
I'm having this issue as well. I think you need to check if the element exists in this line
`this.el.removeEventListener('change', this.fileListener, false);` to avoid these errors.
And an important note, why you need to unsubscribe? It's not a good idea, why you don't use operators like `takeUntil or takeWhile`?. If you wan't i can make a PR for this. Thanks for your amazing library.

[2018-01-11 07:40] dima11221122 commented on #405
ngx-uploader has wrong build process. At least, published package doesn't have contains ALL sources. Only .d.ts files.

[2018-01-12 06:16] lalalagit commented on #257
Hello!

Can you help, explaining the answer — how to use it with html?

If you could give some certain instructions of getting a view with multiple images, that would be totally great.

Thank you

[2018-01-12 08:40] jason111neo commented on #257
@lalalagit what does your output print out? Is there a nativeFile object? That is the preview image. For listing multiple images, I would suggest an array to contain all the nativeFile objects.

[2018-01-14 02:59] abnersouza commented on #405
Having the same issue after upgrading from Angular from 5.1.0 to 5.2.0

[2018-01-14 20:18] #405 closed

[2018-01-16 08:41] yonimoses commented on #287
Hi
Any updated or solution for this? I'm facing the same issue.

[2018-01-16 08:42] retailify commented on #287
@yonimoses do you work with 4.2.1?

[2018-01-16 09:00] Vishal-Isharani commented on #287
i'm also facing this issue and i'm using @4.2.1 but i think it's chrome only issue

[2018-01-16 09:05] yonimoses commented on #287
@retailify Yes, with 4.2.1 . angular 5.1.1 (can't update ng version cause of the AOT compile issues). I tried to reset the file input using JS, didn't work as well.

[2018-01-16 14:05] coolsam726 commented on #409
@retailify  that link does not offer any help regarding this issue at all.

[2018-01-16 14:20] retailify commented on #409
@coolsam726 Please make your question more specific.

[2018-01-16 14:26] coolsam726 commented on #409
@retailify  I am trying to figure out how to restrict file upload types. The Readme provides a link to app-home.component whose code is given below:
[code]
I have scanned the code but I still can't see anywhere there is an example of how to limit the upload types. Am I missing something?

[2018-01-16 14:33] retailify commented on #409
you are right, for 2 days it was removed from the file.

replace the constructor
[code]
with
[code]
I'll hope, this helps.

[2018-01-16 14:36] coolsam726 commented on #409
That definitely helps. Thank you very much @retailify

[2018-01-16 16:08] vlados commented on #295
@flacohenao can you post your solution?

[2018-01-18 09:51] pedropankaj commented on #87
I am also facing the same problem here...

[2018-01-20 12:40] DavidRouyer commented on #413
Duplicate of #408

[2018-01-20 12:45] DavidRouyer commented on #408
I have the same problem, I've tried to debug and it seems that the serviceEvents event emitter subscribers are gone on line https://github.com/bleenco/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts#L36

[2018-01-20 18:03] fatalcaron opened #417 "Cancel and cancelAll upload"
Current behavior:
(type: cancel) = On a list of files, when I cancel the current uploading file, it cancel the uploading but don't pass to the next uploading.

(type: cancelAll): It cancel all the list but when I import new files it doesn't restart the uploading.

Expected behavior:
When I cancel one or more downloads, it should cancel (it is already the case) but when the next import of files be

[2018-01-22 14:23] olufemioyedepo opened #418 "url not found error"
i get this 'http://localhost:4200/uploads 404 (Not Found)' error when i click on upload.
here's my url attribute:
url: 'http://localhost:4200/uploads'
i've created a folder 'uploads' in the root of my project and its still not working.

[2018-01-22 19:02] paulbonner opened #419 "uploader fails to report CORS error"
If I trigger an Access-Control-Allow_Origin error on my server, the error is clearly visible in Chrome's Developer Tools, but ngx-uploader reports that uploaded completed without appearing to raise the error. Is there a way to capture this error?

12:53:09.470 file.progress {status: 0, data: {…}}data: {percentage: 0, speed: 0, speedHuman: "0 Byte/s", startTime: null, endTime: null, …}status: 0__pr

[2018-01-22 19:23] paulbonner commented on #419
I suspect that the answer is somewhere in this document: [https://www.w3.org/TR/cors/#handling-a-response-to-a-cross-origin-request]. I doubt that there's much ngx-uploader can do about a CORS error, but it would be useful if it could alert the app somehow that one has occurred.

[2018-01-22 19:26] jkuri commented on #419
interesting [this](https://github.com/bleenco/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts#L179) doesn't catch the error.

[2018-01-23 11:28] jkuri commented on #418
if you expected to see uploaded files on that URL this module is not about it.

[2018-01-23 11:56] olufemioyedepo commented on #418
so what's this module about?
or better still, how can i do file upload on Angular 5?

[2018-01-23 12:26] jkuri commented on #418
please check the readme, you also have example included.

On 23 January 2018 at 12:56:30, Olufemi (notifications@github.com) wrote:

[2018-01-24 13:15] fatalcaron commented on #417
Is it a issue or I miss something ?

[2018-01-24 13:27] jkuri commented on #417
its a known issue but cannot be solved inside the module. please check https://github.com/bleenco/ngx-uploader/issues/9 for a working sample.

[2018-01-24 14:07] pkracht commented on #408
Same here... @DavidRouyer - currently using bare php-backend returning all required headers and data as in the example.

Getting event for:
* addedToQueue
* allAddedToQueue
* uploadAll
* start

and thats it. After successfully uploading and returned status 200 with json data - nothing happens.

[2018-01-24 14:08] jkuri commented on #408
let me check that again.

[2018-01-24 14:18] jkuri commented on #408
I really think that the source of your problem guys is not returning response correctly.
Check the included sample:
1. clone this repository
2. add `console.log(event);` after [this](https://github.com/bleenco/ngx-uploader/blob/master/src/components/app-home/app-home.component.ts#L23) line
3. `npm run build:prod`
4. `npm run start-server`
5. open your browser at `http://localhost:4900` and upload

[2018-01-24 14:39] Newan commented on #408
is is not an server problem. I upload (post) to your URL like: http://ngx-uploader.com/upload

![image](https://user-images.githubusercontent.com/3693094/35337872-8bad60fa-011c-11e8-91bf-957e14355fca.png)
But the error is the same in my project:
![image](https://user-images.githubusercontent.com/3693094/35337882-9aa97558-011c-11e8-88bc-d735ce48f0e5.png)

Your demo project works on my machine, but

[2018-01-24 14:47] jkuri commented on #408
@Newan actually I just noticed that demo uploads to https://github.com/bleenco/ngx-uploader/blob/master/src/components/app-home/app-home.component.ts#L27 and not on a local server (which can be configured to setting url to `http://localhost:4900/upload`) so I am not really sure what you are talking about. Can you be more specific or provide me some example.
I am still pretty sure its a server issu

[2018-01-24 15:12] Newan commented on #408
if it is a server error, the error must be fixed with your http://ngx-uploader.com/upload server, but it doesn't.

i copy your AppHomeComponent to my project. i make miniaml changes for the compnent name and the selector:

[code]
i copy also the template file. and add this to lines of output see in the component file. The server is your ngx-uploader.com. herer is the console output:

![image](http

[2018-01-24 15:30] jkuri commented on #408
you convinced me that this module doesn't work out of this demo so I start a new `angular-cli` project and use a code that you provided. I can still see done event. I am attaching sample project, you can check it out for yourself.

[proj.zip](https://github.com/bleenco/ngx-uploader/files/1660382/proj.zip)

[2018-01-24 15:38] Newan commented on #408
Thanks great, I will test it tomorrow. I think is is an combination of angular version other modules an this module. If I find something I will report

[2018-01-25 08:20] Newan commented on #408
i catch the error:

- extract your project
- `npm install`
- `npm install pace-js --save`
- add in .angular-cli.json under scripts:
[code]

- `ng serve`

Now the project has no done event. I hope it helps to fix the error. I don't know it is a pace-js or ngx-uploader error?
Here the updated project files with this error:
[proj.zip](https://github.com/bleenco/ngx-uploader/files/1663090/proj.zip)

[2018-01-25 15:38] rrsIPOV commented on #408
As a reference I was also missing anything after the start event.  In my case I had nested a file input inside of a drop container, like:

[code]

Obviously in my case there was a little more markup.  However, the basics are there. Using a label inside the drop container and moveing the ngFileSelect to outside of the drop container worked...  this might be something to be documented.

[code]

Over

[2018-01-25 18:26] jkuri commented on #408
@rrsIPOV thanks for the nice words! glad it works well for your case. you are right about the docs, but I never find time to do it as it should be.

[2018-01-26 21:35] NeoxzAI commented on #419
Just add "Access-Control-Allow-Origin" to the headers, works for me

 headers: {
        Accept: "/",
        "Access-Control-Allow-Origin": "your host url"
      }

Hope it helps.

[2018-01-26 21:35] carlfm01 commented on #419
Just add "Access-Control-Allow-Origin" to the headers, works for me

headers: {
Accept: "/",
"Access-Control-Allow-Origin": "your host url"
}

Hope it helps.

[2018-01-26 21:58] paulbonner commented on #419
Thanks!

On Jan 26, 2018 3:35 PM, "Carlos Fonseca" <notifications@github.com> wrote:

[2018-01-26 22:18] carlfm01 commented on #419
I also removed
 `data: { foo: 'bar' }`
I just want to upload the file without extra information, maybe it also helps if you just want to upload the file. With the 'data' header I was receiving two request, one with the file and empty extra data, the second one with a empty file but with the data, weird behavior you may consider.

[2018-01-26 23:16] fatalcaron commented on #417
I'm not sure number 9 answers mine.

I have no problem importing files into the module but it is with the cancel feature.

I do not have the knowledge level to help you with Observables but it seems to me that the flow does not go to the next. I do not know if there is a way to do that...

Maybe a solution for the cancelAll, maybe we should reinitalize the uploaderScheduler at the end of the case

[2018-01-30 08:42] LuisKen opened #421 "How to accept the server returns the response?"

[2018-01-30 09:11] jkuri commented on #421
can you clarify the question?

[2018-01-31 00:48] LuisKen commented on #421
ok，after the files uploaded to the background，Server side forward pass a result, the result in the response,
But I don't know how to use this plug-in to receive the response。
Like this：This is sends a POST request to the background，But I don't know how to receive the background the returned result。

startUpload(): void {
    const event: UploadInput = {
      type: 'uploadAll',
        url: 'local

[2018-01-31 00:55] jkuri commented on #421
hi. you need to "catch" events that are emitted like its done [here](https://github.com/bleenco/ngx-uploader/blob/master/src/components/app-home/app-home.component.ts#L23). when you got response from server it should have `output.type === 'done'`, just `console.log(output);` to see which values are available and you will know how to proceed.

[2018-01-31 02:17] LuisKen commented on #421
Well, Thank you for your answer, but the problem hasn't solved，add this code to     onUploadOutput(output: UploadOutput):
else if (output.type === 'done') {
  this.files.forEach(file => {
    console.log(file.response);
  });
}
But in onUploadOutput this method, To track the upload process，“output.type”’ respectively：addedToQueue、allAddedToQueue、start、uploading，then this method is over，how should

[2018-01-31 03:51] LuisKen commented on #421
When the upload is completed，no longer automatically invoke onUploadOutput ，that is “else if (output.type === 'done')” never be executed，what reason is this？I didn't see similar problems on stack overflow   ，this is my code：

onUploadOutput(output: UploadOutput): void {
    if (output.type === 'allAddedToQueue') {
        ....
    }else if(...){...
    }else if (output.type === 'done') {
        .

[2018-01-31 04:31] jkuri commented on #421
I am not sure I understand your question, did you checked README file?

[2018-01-31 05:10] LuisKen commented on #421
Yes, I read it,and all the upload process of mine is successful,and has been through a browser to see the server returned results.Hm,I mean, In my "onUploadOutput" method,from beginning to end，“output.type”  doesn't have ‘done’ state

[2018-01-31 06:09] jkuri commented on #421
are you sure your server returns the the response?

[2018-01-31 06:26] LuisKen commented on #421
Yes, I sent an email to you, there is a screenshot about this problem, you received?

[2018-01-31 07:07] jkuri commented on #421
I didn't. You can attach screenshot here, just drag&drop into textarea field.

[2018-01-31 07:11] jkuri commented on #421
by the way... are you using pace.js in your application? some users reported that it doesn't work in a combination with ngx-uploader module.

[2018-01-31 08:03] LuisKen commented on #421
![Uploading 3.png…]()
![Uploading 2.png…]()
![Uploading 1.png…]()
![Uploading code.png…]()

[2018-01-31 08:05] LuisKen commented on #421
![4](https://user-images.githubusercontent.com/20528035/35611611-92ded58c-06a0-11e8-9461-af04aecbaaf1.png)
![3](https://user-images.githubusercontent.com/20528035/35611613-93132cf6-06a0-11e8-8037-63696435600d.png)
![2](https://user-images.githubusercontent.com/20528035/35611614-934a4434-06a0-11e8-897e-679507f728c6.png)
![1](https://user-images.githubusercontent.com/20528035/35611615-93848f9a-06a0-

[2018-01-31 08:34] LuisKen commented on #421
Hi，my problems are similar to this：
![111](https://user-images.githubusercontent.com/20528035/35612686-9e458318-06a4-11e8-9542-8bd19d341165.png)

[2018-01-31 10:30] jkuri commented on #421
you need to `console.log(output)` and not `this.files`.

[2018-01-31 11:57] giusecapo commented on #389
I solved this issue as @BenevidesLecontes says.

I think this should be included in the next release of this module.

In ngx-uploader/src/ngx-uploader/directives/ng-file-select.directive.ts, line 33
[code]

This worked for me!

[2018-01-31 11:58] jkuri commented on #389
@giusecapo thank you for your solution. please make a PR if you have time and I will merge this right off.

[2018-01-31 12:02] giusecapo commented on #389
Done! :-)

[2018-01-31 12:06] jkuri commented on #389
thanks @giusecapo

[2018-01-31 12:06] #389 closed

[2018-02-01 00:23] LuisKen commented on #421
Yes, I am the output, or there is no "done" status
![88888](https://user-images.githubusercontent.com/20528035/35654720-3ac216fa-0729-11e8-9276-2679e6410b79.png)

[2018-02-07 21:40] BBaysinger commented on #408
I just used @Newan's example, and I see the following events:

[code]

There's no 'done' event. When I look in the source, I see `Done` as a status, but I don't see an event emitting for that. Is there supposed to be? If not, is there a recommended way to know when uploads complete?

[2018-02-08 00:08] BBaysinger commented on #408
My workaround is by adding this in onUploadOutput:

    const completeFiles = this.files.filter(file => file.progress.status === UploadStatus.Done);

    if (completeFiles.length) {
      completeFiles.forEach((file: UploadFile) => {
        const item = <Image>{filename: file.response[0].filename, type: file.nativeFile.type};
        this.items.push(item);
      });
    }

    this.files = this.f

[2018-02-08 01:28] BBaysinger opened #423 "Subsequent uploads in ngFileSelect do nothing."
After uploading a single file or multiple files once, using _ngFileSelect_, does nothing. That is, my callback function _onUploadOutput_ is not getting called the second time I use it.

This is in contrast with _ngFileDrop_, that will continue to let me drag/drop files and my callback function gets invoked as expected.

Does it need reset? Is the a workaround?

[2018-02-08 07:50] retailify commented on #423
@BBaysinger which browser do you use?

[2018-02-08 12:02] BBaysinger commented on #423
Oops, sorry. This was in Chrome on OS X.

[2018-02-08 16:46] inshaf commented on #330
hi... im trying to set the max size limit as follows

if (output.type === 'addedToQueue'  && typeof output.file !== 'undefined') {
  if(output.file.size > this.sizeLimit) {
    console.log('exceed limit')
  } else {
    this.files.push(output.file);
  }
}

I'm getting the message at console correctly but still the files is uploading. Not sure what i'm missing. Seems files are uploading even "this.

[2018-02-08 18:01] jorgelub12 commented on #421
The problem is that event done is never triggered. Any fix on this ?

[2018-02-12 18:19] alandroid commented on #423
I am having the same issue. How do you reset component?

[2018-02-12 19:04] nikhilgoud opened #425 "ngx-uploader/index"' has no exported member 'NgUploaderModule'."
I forked the repo and did some changes to work, However, I am getting these issues in these cases.
I followed this link https://github.com/angular/angular-cli/issues/8284
[My repo](https://github.com/nikhilgoud/ngx-uploader)
I updated `tsconfig.app.json` include
`"include": [
        "../node_modules/ngx-uploader/index.ts"
    ],`
or
`"include": [
        "../node_modules/ngx-uploader/src/ngx-uplo

[2018-02-14 00:52] iamwhitebox commented on #364
+1 I am not seeing this functioning correctly

[2018-02-14 10:20] maximelafarie opened #426 "How to subscribe to response?"
I would like to subscribe to the endpoint's response I upload the file to, but I don't understand how to do.

Btw, the readme example no more explain it.

[2018-02-14 10:28] #426 closed

[2018-02-14 10:37] retailify commented on #426
@maximelafarie please add it to the readme and make a PR. Thank you!

[2018-02-14 10:52] maximelafarie commented on #426
@retailify sure! 😄I'll do it asap!

[2018-02-16 15:32] maikdiepenbroek commented on #423
Same issue here, chrome on osx

[2018-02-17 07:19] abbashere opened #427 "'rootDir' is expected to contain all source files."
Hi All,

I just want to create it as seprate component module but when try to build it shows mr error like
`'rootDir' is expected to contain all source files...........(so much more)`
I am using 3.3.11 version of ngx-uploader.
mode angular vesrion is 4.0.0.
Can anybody give a clue what wrong i am doing.
Thanks

[2018-02-19 07:03] maikdiepenbroek commented on #423
I've created a PR for this: https://github.com/bleenco/ngx-uploader/pull/428

[2018-02-21 06:16] maikdiepenbroek commented on #423
Workaround is possible by adding a local template variable (#) to the input field and adding a click handler, like so:
`<input #fileInput (click)="fileInput.value = ''" />`

[2018-02-21 22:32] leetharris opened #429 "Option for binary/stream uploading?"
I've noticed a few threads for this, but I haven't seen any solutions.

When uploading for pre-signed URLs on services like S3, you are required to a direct binary upload (aka a stream) instead of serializing the upload into a multipart form.

Is there an option in this package to allow for direct upload? If not, I'll likely fork off to add this feature (and submit a PR later if you're interested)

[2018-02-21 22:57] mspivak opened #430 "AWS S3 upload"
Hey there,

I'm trying to upload the file straight to S3 and the only thing that's stopping me (for now) is that the "file" field should come last, i.e. after all other parameters.

Just interchanging lines 225 and 226 on ngx-uploader.ts would do the trick, but I guess you should allow to configure it as other libraries do.

Thanks!

[2018-02-22 14:00] maikdiepenbroek commented on #430
Maybe you could submit a PR ?

[2018-02-26 19:57] paulbonner commented on #423
I had been seeing this problem only when attempting to upload the same file twice in a row. @maikdiepenbroek's suggestion works.

[2018-02-27 06:42] sharmaprashant232 commented on #123
@lukasz-galka I didn't find maxSize, maxUploads in options type of UploaderOptions. Can you help me with this?

[2018-02-27 10:09] retailify commented on #123
@lukasz-galka the current release does'nt restrict the maxSize or maxUploads. It's on the roadmap, but I'm really busy at the moment...

[2018-03-01 08:00] junibrosas commented on #425
This seems like a source-map-loader issue. Try excluding the library in your webpack config.

`{
        test: /\.js$/,
        loader: 'source-map-loader',
        exclude: ['node_modules/ngx-uploader']
      },`

[2018-03-01 20:56] dpollastrini commented on #408
Same issue here.  Other than the workaround, any fix for this yet?

My local test server returns application/json, 200, and a hard-coded json structure that precisely mimics the http://ngx-uploader.com/upload response.  The file successfully saves to the server, but there's no "done" event, nor error.  I did notice that the UploadFile status stays as 1 ("uploading"), so the event not firing may ju

[2018-03-02 01:20] dpollastrini commented on #408
After some investigation it seems the condition at https://github.com/bleenco/ngx-uploader/blob/806e88ca9f6e28b4c3e50a62491f11cfbd80ffaa/src/ngx-uploader/classes/ngx-uploader.class.ts#L187 is never true, consequently the file.progress.status is never set to UploadStatus.DONE.

When xhr.readyState is 4 (DONE), XMLHttpRequest.DONE evaluates to a function for some reason (??), not the number 4.  XMLH

[2018-03-02 02:05] sgyy commented on #421
https://github.com/bleenco/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts#L187
use   number  4  replace  XMLHttpRequest.DONE
if (xhr.readyState === 4)

[2018-03-02 06:24] retailify commented on #408
@dpollastrini if the bug relates to lib.es2016 it should fixed there. Hardcoding with 4 is no solution. @jkuri  could you check the proposed solution with xhr.DONE?

[2018-03-02 10:30] sgyy commented on #413
it's a bug of  [pace-js](https://github.com/HubSpot/pace/issues/261)
remove  ` "../node_modules/pace-js/pace.min.js",`   from [.angular-cli.json](https://github.com/akveo/ngx-admin/blob/master/.angular-cli.json#L38)

[2018-03-02 10:34] sgyy commented on #408
I find same problem in [ngx-admin](https://github.com/akveo/ngx-admin)
it's a bug of  [pace-js](https://github.com/HubSpot/pace/issues/261)

[2018-03-02 15:33] dpollastrini commented on #408
@retailify I completely agree.  Just highlighting the cause and a possible workaround while solutions are investigated.  Loving the the uploader...

[2018-03-08 15:40] MatzeSchmitt commented on #421
@sgyy Can you please specify your answer? What to do and where?

Also facing this issue right know. Is there a solution in the meantime?

Thanks.

[2018-03-08 15:51] Matze-Schmitt commented on #421
Facing the same issue here.

Can someone please explain how to properly catch the server response after uploading?

@sgyy I don´t really want to change any code from inside the node_modules.

[2018-03-08 16:07] dpollastrini commented on #421
@Matze-Schmitt Unfortunately, the source of this bug is likely https://github.com/HubSpot/pace/issues/261 and manifests in ngx-uploader as describe in https://github.com/bleenco/ngx-uploader/issues/408.  Bottom line is pace needs to be fixed, not necessarily ngx-uploader (which is not the only component that's affected).  Pace is breaking a pretty basic component in their override of xmlhttpreques

[2018-03-10 20:42] Daniel3549 opened #431 "No envía parámetros con el archivo en el campo data"
No puedo hacer que data llegue al back-end me aparece como vació que puede ser?
[code]

[2018-03-10 20:42] jkuri commented on #431
use English.

[2018-03-10 20:42] #431 closed

[2018-03-11 07:45] nitesh61929 opened #432 "Restrict file before upload or adding to queue"
I want to validate file type and size before adding to queue. I am not doing this 'this.files.push(output.file)'.
But also file is uploading. What is the issue here?

[2018-03-12 15:51] igorissen commented on #413
Same issue for me. `pace-js` is not installed in case someone asks me.

[code]

I get this output on the console

![console messages](https://image.ibb.co/eX2QOS/Screen_Shot_2018_03_12_at_16_45_27.png)

And I get this on the network where you can see that upload completed without error with JSON data that I don't show on the screenshot.

![network tab](https://image.ibb.co/hzQ1xn/Screen_Shot_2018_

[2018-03-12 16:05] igorissen commented on #413
@Newan I think I found the issue.

Take a close look at the `file` object when `start` event is logged.

![start event](https://image.ibb.co/hX6AOS/Screen_Shot_2018_03_12_at_17_03_45.png)

[2018-03-12 23:43] jkuri commented on #413
if I see correctly upload is done so fast that it cannot handle the "done" event because it is triggered in "start" already?

[2018-03-13 07:30] igorissen commented on #413
@jkuri I think so. I'll try with a bigger file.

[2018-03-13 10:14] jkuri commented on #413
@igorissen thanks for checking it out, I will investigate what is happening here, but currently I cannot reproduce it.

[2018-03-13 10:24] igorissen commented on #413
@jkuri I'll try to make a simple page to see if there is the same issue.

[2018-03-13 18:39] ArpanChoudhuri opened #433 "Cannot upload multiple files at once using ngx-uploader"
I cannot upload multiple files at once.
My code is
 const event: UploadInput = {

            type: 'uploadAll',
            url: 'ToDoList/UploadDocument',
            method: 'POST',
            data: {
                ConditionId: String(todoItem.ConditionId), Description: String(todoItem.Description), UserName: String(this.displayName)
                , Year: String(todoItem.Year), ImageDescri

[2018-03-14 11:38] skill83 commented on #429
Any news about this?
Is there a way to disable multipart?

[2018-03-14 11:53] bopm commented on #425
Problem is that after installation `src` folder resides inside of `./dist` which makes all `./src` references broken. If I replace public_api.ts/index.ts referenses from `./src` to `./dist/src` it all works.

[2018-03-14 12:45] jkuri commented on #429
currently not, if someone has time to make PR for this I will accept it.

[2018-03-14 13:06] igorissen commented on #413
@jkuri I did some tests with a simple project and it works as expected. So I need to find what is the issue with my code.

![sample project](https://image.ibb.co/irphPc/Screen_Shot_2018_03_14_at_14_03_44.png)

[2018-03-14 13:26] jkuri commented on #413
@igorissen thanks for helping on this issue, seems like a problem of many. I personally never encountered this.

[2018-03-14 14:04] igorissen commented on #413
@jkuri I found where the problem is.

[code]

This is the problem : `*ngIf="!files.length && !uploadCompleted"`. When I remove this it works as expected.

I want to hide the drop box and display a progress bar for the upload progress and display another view when the upload is complete.

[2018-03-14 14:28] jkuri commented on #413
I think you should hide it as
[code]
and define class `.is-hidden` in styles as `display: none;` or `visibility: hidden;`

[2018-03-14 14:32] igorissen commented on #413
Yes, I did that and now it's working.
Thank you.

[2018-03-18 02:45] d0nkeyBOB commented on #433
I'm having this problem, too. uploading multiple files makes multiple calls to my upload service. Is that the intended function of 'uploadAll'?

[2018-03-20 22:19] ArpanChoudhuri opened #434 "UploadInput.emit not working when trying to do an upload second time. Please help"
When I try to do the following, it works for the first time. On trying to do the 2nd time , the event does not get emitted.

Upon checking dev tools in chrome, I can see that the observers of the UploadInput have cleared off. hence no one is listening to the event, thereby it doe not work

Any idea what could be going wrong here?

 const event: UploadInput = {
            type: 'uploadAll',

[2018-03-20 22:20] ArpanChoudhuri commented on #433
This has been fixed by setting Concurrency as "1". Multiple file upload work fine now.

[2018-03-21 18:49] d0nkeyBOB commented on #433
It's able to upload multiple files but it makes separate calls to the service to do so. even with Concurrency set to 1, it's still separate api request.

[2018-03-22 15:57] vaibhavmehtaa opened #435 "How to handle maxsize of file ?"
can' we provide the maxSize of the file in option, currently, there are only two(allowedContentTypes, concurrency)?
If I check manually the file size but I can't abort the process of uploading file, I've tried with cancel event and other options too but didn't work out, File will upload in any way.
Let me know the if I can validate the size of the file before upload getting started.

[2018-03-24 07:09] chrisvfabio commented on #308
This PR should fix the issue: https://github.com/angular/angular/pull/22905

[2018-03-28 18:18] maikdiepenbroek commented on #434
Related to #423

[2018-03-29 07:47] ktrz commented on #425
It seems like to many files are published to the repository. According to this article https://medium.com/@nikolasleblanc/building-an-angular-4-component-library-with-the-angular-cli-and-ng-packagr-53b2ade0701e#8dd5 only `./dist` folder should be published.
When I moved everything from the `./dist` folder to the `./` and removed everything else then it works well.

[2018-03-31 15:04] prikryl commented on #425
I have probably same problem after upgrading project to angular 6. Don't you have pullrequest to fix it?

[code]

package.json
[code]

[2018-04-05 13:15] timmyrosen commented on #322
Agreed. This is such an important feature, that it makes the library unusable for me right now. Too bad, I really like it and hope that this is to be implemented soon.

@retailify That doesn't address the issue, it only sends the requests after one another. What we are requesting is to send 1 request in total with all the files attached.

[2018-04-05 13:35] retailify commented on #322
@timmyrosen that is a lot of work. But you are right multipart upload sends all things in one request. As I'm first using the library I've implemented a golang multipart backend and also stumbled over that behavior.

[2018-04-11 09:25] xyrintech opened #436 "UploadOutput done event is never getting called after file upload"

[2018-04-11 09:33] xyrintech commented on #408
Getting the same issue event after installing pace-js

[2018-04-11 13:13] LiamDotPro commented on #408
@xyrintech add
[code]
to make
[code]
You'll be presented with a done event that holds your response.

From what I can tell from using this package if your response is malformed in anyway from say incorrect cors headers or incorrect headers the done event will likely not be reached. If you want I could mock up a small express server if I find the time to showcase that it's more than likely a server

[2018-04-11 15:17] xyrintech commented on #408
I am getting the event upto uploading but not after that.

If you feel good then can I share the link of my server and then you can see the things happening?

[2018-04-11 15:18] xyrintech commented on #408
after uploading the files the server is returning 200 response.
I believe this shall be god to show the done event.

[2018-04-11 15:25] xyrintech commented on #331
I am getting the same issue.
It's not returning the done status.

[2018-04-11 15:31] leo6104 commented on #331
@xyrintech Find your external library **which overwrite XMLHttpRequest variable**. In my case, i found some library which overwrite XMLHttpRequest as function. After i removed the library (maybe it was chart library), this issue solved.

[2018-04-11 15:31] xyrintech commented on #408
Uploading the code, this really helps :)

[2018-04-11 15:35] xyrintech commented on #331
{
  "name": "apex",
  "version": "2.0.0",
  "license": "MIT",
  "scripts": {
    "ng": "ng",
    "start": "ng serve",
    "build": "ng build",
    "test": "ng test",
    "lint": "ng lint",
    "e2e": "ng e2e"
  },
  "private": true,
  "dependencies": {
    "@agm/core": "^1.0.0-beta.1",
    "@angular/animations": "^5.1.2",
    "@angular/common": "^5.1.2",
    "@angular/compiler": "^5.1.2",
    "@an

[2018-04-11 15:35] xyrintech commented on #331
These are the packages I am using

[2018-04-11 15:35] xyrintech commented on #331
Please advise. :)

[2018-04-11 15:38] xyrintech commented on #408
http://russell.xyrintech.com/
- login using test@test.com / test@123
- select any production, you will get this screen.
- click on Inventory on top
- Click on New and then create new item
- there you will see an option to choose the file.

Its auto upload.

in response, I am responding with JSON.

[2018-04-11 15:46] xyrintech commented on #408
@LiamDotPro Does this help?

[2018-04-11 21:47] LiamDotPro commented on #408
@xyrintech I tested your website and checked the headers which seem to be fine, I'm concerned that you are getting more than one uploading event even though I'm only uploading a single file.

[2018-04-12 15:55] Mihai-B commented on #433
I am also having the same problem. Found a solution ?

[2018-04-12 15:58] d0nkeyBOB commented on #433
Never did. This fix allows for multiple uploads, but I needed them to all send in one request, not multiple requests.

[2018-04-13 10:01] Mihai-B commented on #433
I ended up implementing my own. I use the file drop functionality of this component, but the upload process I handle myself.

[2018-04-20 10:01] AnaSofiaGrilo96 opened #437 "Add support to file extensions"
Hello,

I'm using the latest version of the ngx-uploader (4.2.4) and I was wondering if you have in mind adding support to restrict the file extensions, as it is already implemented with content types.

I think content types are more limited, because two different file extensions can have the same content type.

As an example, and you can test it in the component, if you upload a .xlx file and a .

[2018-04-20 12:36] khylias commented on #433
Hi @Mihai-B , can you give us some example of your upload process ? 😄

[2018-05-04 06:19] PongsakronKanapan commented on #425
555

[2018-05-09 20:11] Koslun opened #439 "RxJS 6 support"
ngx-uploader version 4.24
angular version 6.0.0
rxjs version 6.1.0
typescript version 2.7.2
Node.js version 8.9.1
yarn version 1.5.1

**Expected**
Angular 6 default configuration should work, including RxJS 6.

**Actual**
Angular 6 default configuration only works only when also using `rxjs-compat`.

Without the `rxjs-compat` I get this error.
[code]

**Reproduction**
[Here ](https://github.com/Ko

[2018-05-09 20:12] jkuri commented on #439
thanks for report. I am accepting PRs.

[2018-05-09 21:54] Koslun commented on #439
Solved in PR #440

[2018-05-09 21:54] #439 closed

[2018-05-21 12:47] nobady90 commented on #437
if I understand correctly you want to limit the upload only to particular file extensions?

I have just solved by declaring the variable 'options' in the affected component:

`this.options = {concurrency: 0, allowedContentTypes: ['image / png']};`

instead of 'image / png' you can enter the types of file extensions you are interested in, the complete list can be found here:
[Wiki MIME](https://wik

[2018-05-22 20:31] etiennetalbot opened #441 "Compatibility with RxJS 6"
It would be really nice if this plugin was updated to be compatible with RxJS 6 (so it could be used with Angular 6 without the `rxjs-compat` package).

Thing is, though, upgrading to RxJS 6 would be a major change and might only be compatible with Angular v6+.

Do you think it could be possible?

[2018-05-30 12:20] keliwath opened #442 "Duplicated form params when retrying an upload"
Hi,

I'm trying to implement a retry option and it kind of works, but when I send an 'uploadFile' event for a file that failed to upload it sends the 'file' parameter twice so the content-length is double of what it should be. I think the `UploadFile.form` field should be cleared every time the request is generated.

Cheers,

[2018-06-01 19:08] wesleygrimes opened #443 "Angular 6 Support"
Are there any plans for upgrading to Angular 6 support?

[2018-06-01 19:18] jkuri commented on #443
yes

On 1 June 2018 at 21:08:42, Wes Grimes (notifications@github.com) wrote:

[2018-06-05 08:37] soorya02 commented on #443
Hi Team,

 Are you providing Angular - 6 support for ngx-uploader (v 4.2.4) ?

[2018-06-05 12:31] AlexanderKozhevin opened #444 "Does it support chunked upload & resume upload for network interruptions?"

[2018-06-08 12:41] jkuri commented on #443
can someone paste me an error from console, it actually works currently for me, not with `ng add` though but `npm install --save ngx-uploader` it does. I will update package to be compatible to Angulars `schematics` soon, so `ng add` will work also.

[2018-06-08 12:58] jkuri commented on #443
thank you

[2018-06-08 18:52] #443 closed

[2018-06-08 18:53] jkuri commented on #441
done. published version `6.0.0` to npm

[2018-06-08 18:53] #441 closed

[2018-06-11 11:18] vovikdrg commented on #435
YOu can do it on onUploadOutput event you have native file in there

[2018-06-11 11:22] vovikdrg opened #446 "Upload file as body. Azure blob storage SAS"
I need to do upload to blob storage directly, so I have code

[code]

But here is a problem that Azure will store whole body which WebKitFormBoundary so then image become invalid.

I can make pull request by adding property to UploadInput as **uploadAsBlob** also data will go as GET parameters.

[2018-06-11 11:40] jkuri commented on #446
hi. please do so and add documentation to readme.

[2018-06-13 20:45] firlevapz commented on #425
I have the same problem with `"@angular/core": "6.0.4"` and `"ngx-uploader": "^6.0.0"`.

WIth the previous version it is working fine.

[2018-06-15 08:10] apeter10 commented on #425
I have the same issue with `"@angular/core": "6.0.4"`

[2018-06-16 23:10] ahmedwerpx commented on #425
I was have the same issue with angular 6
and i found the problem ...
import "NgxUploaderModule" not "NgUploaderModule"
import { NgxUploaderModule } from 'ngx-uploader';
now its worked

[2018-06-17 15:56] jspizziri commented on #425
@ahmedwerpx's solution worked for me. @jkuri it looks like the docs need to be updated to:

[code]

rather than:

[code]

[2018-06-17 16:35] jkuri commented on #425
I see, thanks ... I'll update it soon.

[2018-06-18 11:12] bop10 opened #447 "(feat) Add maxUpload option"
Would be nice if we can configure the max number of files an user can upload.

Closed by #448

[2018-06-18 11:45] #447 closed

[2018-06-18 13:52] osahner opened #449 "Docu ist wrong/missleading"
First of all:
[code]
should be `NgxUploaderModule`

Then it should be noted that - if you have a nested Module structure - the best way to include NgxUploaderModule could be with a shared Module to avoid the 'could not bind options to input' error.

[code]

[2018-06-18 14:06] jkuri commented on #449
hi Oliver, do you maybe have time to update documentation and create a PR, I'll accept and merge immediately.

[2018-06-19 07:11] osahner commented on #449
will do

[2018-06-20 08:44] #449 closed

[2018-06-21 13:29] patrickatkeylogic commented on #330
All of the examples I've seen so far leave out what to do with the local `this.files` array. As far as I can tell, the file needs to be set on the upload input event. This is what I've implemented (improvements welcome!):

[code]

[2018-06-21 14:11] jkuri commented on #330
@patrickatkeylogic looks good. of course it would be a lot nicer code and implementation if the module itself would have the option for that :)
if someone has time to do it, I am accepting pull requests.
`UploaderOptions` interface would look something like:
[code]

[2018-06-21 18:08] patrickatkeylogic commented on #354
I'm getting burned by this as well. Anyone found a workaround?

[2018-06-26 11:58] pelirroja191186 commented on #425
I have the same problems, i have 6.0.1 but I am not be able to import,
Cannot find ngx-uploader.module all the time
I try import { NgxUploaderModule } from 'ngx-uploader';

[2018-06-29 07:07] Akeru commented on #425
@pelirroja191186 you might also need to change from NgUploaderModule to NgxUploaderModule in your "imports" section of your NgModule

[2018-06-29 07:53] pelirroja191186 commented on #425
thanks, i'll try 
    En viernes, 29 de junio de 2018 9:07:29 CEST, Axel Bodart <notifications@github.com> escribió:

@pelirroja191186 you might also need to change from NgUploaderModule to NgxUploaderModule in your "imports" section of your NgModule

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-07-01 09:53] thinhlx1993 opened #451 "Duplicate when add new files to queue"
When I add files(files1) to queue and fire event start uploading, all files are uploading. After that, I add new files to the queue(files2). I saw all file of files1 if not done will be upload two times. How to resolve this problem?

[2018-07-03 14:07] VivekIshir opened #452 "Get Base64 from File"
Hi Forks,
I looking to get  Base64 from File data as per my requirements,
right now we receiving byte inside file, Is there any way to read and Convert that in Base64?
Any help will be appreciable.

[2018-07-06 14:15] VivekIshir commented on #297
How i can file data in  base64 format? any help will be appreciable. Thanks

[2018-07-12 14:47] F3L1X79 commented on #370
I don't really get if the feature has been implemented in the release 4.x, because we're now in 6.x?
If so, may I ask for a sample code, becaue @mdhanju is still not working?

[2018-07-17 13:31] max-SS commented on #388
I just moved from version **4.2.X** to **6.0.1** and I would like to know more about the changes it has, as there is a lot of difference between versions.

[2018-07-27 08:14] ar27111994 opened #453 "Restart a Cancelled Upload"
Hi, how can I restart a cancelled file from queue? I have tried the `uploadFile` event, but it has two problems .

1. The event has to be emitted twice for the upload to start again.

2. The `cancel` even stops working after this.

Therefore, please help.

[2018-07-27 17:54] dfliess commented on #195
It's still happening on v6.0.1. Seems that uploadInput has no observer.

[2018-07-28 08:35] ar27111994 commented on #406
same problem here too.

[2018-07-31 14:42] ganqqwerty commented on #370
changing the filename would indeed be useful, for example if the user uploads 4 files named 1.jpg and we rename them before uploading in order to prevent clashes

[2018-08-03 10:44] TardigradeX commented on #423
Hi, the workaround given by @maikdiepenbroek  has not worked for me.
But I found out the Upload Option `maxUploads?: number` was set to 1 in my case.
I thought that this option would handle how many uploads can be performed in one go,
but it seems it handles how many uploads the **ngFileSelect** directive allows through its lifetime.
Im not sure if thats intended behaviour, but for me removing the

[2018-08-04 06:28] Ramusanthosh opened #454 "How can i get Overall upload progess??"
i want to include overall file upload progress and also need to include in module forRoot(). Is there any options??

[2018-08-04 12:43] jkuri commented on #454
you need to calculate overall progress yourself.

[2018-08-04 12:43] #454 closed

[2018-08-06 13:15] Ramusanthosh opened #455 "ERROR in Metadata version mismatch for module found version 4, expected 3, resolving symbol AppModule??"

[2018-08-06 21:19] alicantokdemir commented on #374
Any updates on this?

[2018-08-07 06:53] jainvishal520 commented on #330
For restricting both max number of files and max file size, I just handled the output type 'addedToQueue' and it is working perfectly for me.

` if (output.type === 'addedToQueue' && typeof output.file !== 'undefined') {
	if(this.files.length < this.file.maxFileCount){
		if(output.file.size > this.file.maxFileSize) {
			alert('size limit exceeded')
		} else {
			this.files.push(output.file);
		}

[2018-08-07 14:36] ar27111994 commented on #453
Anybody home? Is this plugin actively maintained?

[2018-08-07 15:13] jkuri commented on #453
hi @ar27111994 and sorry for super late response. It is maintained but currently I am very busy with other stuff.
The problem you described is a known issue and I will try to fix that till the end of this week.

[2018-08-07 16:10] ar27111994 commented on #453
Thanks. And I've one more request, can you add max file size option in upload options interface? Currently, its not supported at all, and if I am not wrong, is scheduled for next release.

[2018-08-07 16:27] jkuri commented on #453
For the max file size option you can filter upload files yourself, before starting upload, ie;

[code]

Please note that I did not test that code, please let me know if it works. Also, I agree it would be more convenient to have this feature implemented inside library althought it is achiveable currently as well.

[2018-08-08 06:52] ar27111994 commented on #453
Hi @jkuri no the `remove` even doesn't work, it still queues it up and uploads it. Here's my current implementation:
![ngx-uploader max-size](https://user-images.githubusercontent.com/13036687/43820851-cf397466-9b00-11e8-84cd-7485cc8ccbc6.JPG)
![ngx-uploader max-size 2](https://user-images.githubusercontent.com/13036687/43820850-cf034148-9b00-11e8-8979-a79c9eb70b6b.JPG)

And it just hides the reje

[2018-08-13 20:49] dmayerdesign commented on #423
@maikdiepenbroek's workaround worked for me, thank you!

[2018-08-14 15:12] katyasafford opened #456 "ng build --prod fails with error related to ngx-uploader"
Hello guys,

I am trying to run `ng build --prod` command, and the build fails at about 92% with the following error:

[code]

Here is some information about my environment:
[code]

We use "ngx-uploader": "4.2.1"

Let me know if there's any additional information you might need. Thanks!

[2018-08-14 15:16] jkuri commented on #456
Hi, update `ngx-uploader` version to latest which is `6.0.2` and it should work right off.

[2018-08-14 16:09] katyasafford commented on #456
that worked! thank you!

[2018-08-14 16:09] #456 closed

[2018-08-15 06:43] ar27111994 commented on #453
Hi @jkuri , any update on this?

[2018-08-15 15:15] dmayerdesign opened #457 "Directives should update when the `options` input changes"
This is a feature request, but some might consider it a bug.

I've come across some use cases in which I want to make changes to the `UploaderOptions` object that I pass to the `options` input--for example, to allow the user to switch between uploading spreadsheets and uploading images, in which case I'd want to change the `allowedContentTypes` property. But if I simply change the value of the inp

[2018-08-16 10:59] ar27111994 commented on #453
guys should we switch to another uploader? :/ I can create a pr for fixing max size issue but I really don't understand the problem with re-uploading a cancelled file.

[2018-08-17 22:10] JoelParke opened #458 "Issue with file queue not being updated automatically"
It would be helpful if the queue was updated automatically.
I need to do a
[code]
since the queue grows in size and is never reduced in the NgUploaderService.   And if you limit the file size to 3 or some small number, then after uploading a few, all the files after that are rejected due to the size limit of 3, etc.
Thanks very much for this code, however, as it allowed me to easily handle uploadi

[2018-08-17 22:14] JoelParke commented on #451
I am not sure, but I needed to do a
    '.emit({type: 'removeAll'});
to clear the queue, so this might help you?  but not sure.

[2018-08-20 13:14] mrmkrs opened #459 "how to keep getting notified on completed uploads after the component is destroyed?"
Short story: I would like to receive the 'done' event after the component gets destroyed.

Background: In order to achieve the perception of a 'fast responding' application, I would like to completely async all the file uploads.

The scenario:
1. User opens some form (lets say ArticleFormComponent)
2. Select some big files
3. Click save
4. The form data without the files is submitted to the API
5.

[2018-08-20 13:18] jkuri commented on #459
why dont you use module inside some global service instead of component? that would solve your issue. demo example is just an sample and not actual best use practice, thats why its triggered from component.

[2018-08-21 06:08] mrmkrs commented on #459
Yes I understand, but I don't think that fixes the problem. I have setup a demo here: https://stackblitz.com/edit/angular-c1mt73

There is a separate UploaderComponent that renders the <file> input. A parent component can talk to the uploader through the UploaderService which acts like a message bus.

If you upload a big file, the 'done' event is never printed in the console unless you comment thi

[2018-08-21 10:20] moro91 opened #460 "File name not changing"
I tried to send some files to my web service without refreshing the page, but uploading them one by one. I can see that files coming to my web api controller have always the same name (the one of the first file i sent). I started from your tutorial examples, i'm trying to remove the "Upload file" button in order to send it to the server when the users select the file.

[2018-08-24 13:32] sheep3724 opened #461 "Module build failed help me"
ERROR in ./node_modules/ng2-uploader/src/classes/index.ts
Module build failed: Error: C:\xampp\htdocs\NG\node_modules\ng2-uploader\src\classes\index.ts is missing from the TypeScript compilation. Please make sure it is in your tsconfig via the 'files' or 'include' property.
The missing file seems to be part of a third party library. TS files in published libraries are often a sign of a badly packa

[2018-08-28 05:32] Mandarin89 opened #462 "speedHuman and percentage doesn't work in MS Edge"
Hello everyone!
when you try to upload file in MS edge and want to get progress of uploading it is alway 0;
Event 'uploading' starts when file is already on uploaded.
This problem happens only on MS edge lates version(17) and OS Windows 10.

[2018-09-04 21:27] Sabdeth commented on #453
I am having the same problem. I am testing the **cancelAll** feature and I am unable to restart the upload process after cancelling. It sets the file status to 3 (Cancelled) for all files whose status == Uploading  | | Done

I then tried using **cancel** event. So that it only cancels the file whose file status == Uploading. See below code snipet.
[code]

[code]
It calls cancelUpload function on e

[2018-09-05 21:46] Sabdeth commented on #461
Your error says that you're having trouble installing 'ng2-uploader'.
I think you're still referring to the old package name mentioned in the NPM website.

Have you tried using the following command instead?
```npm install ngx-uploader --save```

[2018-09-06 20:13] altso opened #464 "File names are encoded"
As of `6.0.3`, when I upload a file with spaces in the name (e.g. `my file.txt`), it's transmitted to a server as `my%20file.txt`. Is it an expected behavior or a side effect of f16295a1b7d273b30e01dc6fe1b95f25c220e419?

In this specific case, I'd expect the original unencoded file name.

[2018-09-07 11:43] mariusl-a commented on #421
**I don't use pace for my application, this worked for me:**

In your onUploadOutput function: Add `else if(output.type === 'done') { //output.file.response }`
Added my entire onUploadOutput function incase of any confusion.
Good luck =)

[code]

- Angular 6.1.7
- ngx-uploader 6.0.2

[2018-09-07 17:31] altso commented on #464
@jkuri done. See #465

[2018-09-08 14:32] #464 closed

[2018-09-08 14:32] jkuri commented on #464
thanks, merged.

[2018-09-11 09:29] deniztasdogen opened #466 "Failed status in UploadStatus"
It would be nice to have `Failed` status in `UploadStatus` enum. It would be easier to to handle server side errors and display a proper error message.

[2018-09-11 18:06] paulbonner commented on #436
I'm seeing the same problem. onUploadOutput is not receiving an UploadOutput object of type "done"

[2018-09-12 15:04] paulbonner commented on #436
I had the same problem -- the "done" event never being called. In my case, at least, it turned out not to be a problem with ngx-uploader, but rather with my code which was destroying the ngx-uploader instance as soon as the upload started. Fixing my code resolved the issue.

[2018-09-25 17:13] webcat12345 commented on #340
Same issue here. any clue about this issue?

[2018-09-25 17:33] marlon-tucker commented on #340
I think I disabled pointer events via css and that sorted it

On Tue, 25 Sep 2018, 18:18 webcat_black, <notifications@github.com> wrote:

[2018-09-25 18:15] webcat12345 commented on #340
Yeah. it works fine, but I can't give a `pointer-events: none` to all child elements, that's why some of them are links and some of them are buttons and so on. Any better solution for this?

[2018-09-25 18:49] webcat12345 commented on #340
That could be an option. Thank you very much for your help

[2018-10-01 13:44] Gullfaxi171 commented on #421
I had the same issue, fact is that the output variable is bound to the <input type="file">

If you hide the input with *ngIf right after starting the upload, you also destroy the variable output, and will never catch the "done" event

[2018-10-03 09:12] H36615 opened #469 "What is the name of the input?"
Trying to  use ngx-uploader fails at my php backend at `if(isset($_POST["submit"])){...`
Which is the same as if I change my working html's `<input type="submit" name="submit" value="press to upload">` name attribute to something else `<input type="submit" name="somethingElse" value="press to upload">` which results php failing at the same line mentioned above.

What is the 'name attribute' used i

[2018-10-04 09:44] hampa-git opened #470 "Property "concurrency" is missing in UploadInput-interface"
Hello

I have installed the Version 6.1.0

In the documentation i can read that's the interface of "UploadInput" includes the properties "concurrency" but in the file node_modules/ngx-uploader/lib/intervaces.d.ts this property is missing.

I get the Error:

error TS2322: Type '{ type: "uploadAll"; url: string; method: string; headers: { 'TPS-Encode': string; }; concurrency...' is not assignable to

[2018-10-10 18:30] matheusz2 commented on #325
Same problem..
Solution @TonyLuo  works like a charm.

[2018-10-17 01:54] ronaldborla opened #471 "Cancelling an upload does not automatically start uploading next file in queue"
**How to reproduce:**

Set concurrency to a low value (e.g. 3). Upload multiple files that are more than the concurrency value. Cancel any of the files that are currently uploading. This does not automatically start uploading the next file in queue.

Moreover, if you cancel all files in progress, it will no longer proceed to start the rest of the files in queue.

**Suggested solution:**

In the st

[2018-10-17 04:53] ronaldborla commented on #471
Since this is a blocker for me, I just hacked into the **NgUploaderService** prototype and had to override the startUpload() method. Here's how I solved it:

[code]

The critical part is to use **finalize** operator before subscribing to **uploadFile()**. When "cancel" calls **sub.unsubscribe()**, this line will **complete()** the observer, therefore allowing to process the next file in queue.

[2018-10-18 09:42] maximelafarie commented on #123
Anything new with `maxSize` option?

[2018-10-19 08:30] agil-NUBBA opened #472 "Extend peer dependencies to Angular 7"
**Issue description**

running `npm install` throws the following warning:

[code]
**Steps to reproduce and a minimal demo of the problem**

`npm install` with Angular 7

**Current behavior**

`npm install` shows a couple of warning due to peer dependencies.

**Expected/desired behavior**

No warnings should be shown

[2018-10-25 08:12] samfrach commented on #472
please upgrade :)

[2018-10-25 14:06] N1XUS opened #474 "Cant upload the same file multiple times"
For some reason this bug appears only with file selector (drag&drop works fine)
Steps to reproduce:
1. Open file selector
2. Select some file
3. Wait for it to be uploaded
4. Repeat with the same file

[2018-10-27 08:45] AndyAlex commented on #458
I support this suggestion.

[2018-10-27 08:51] AndyAlex commented on #451
Try using
`options: UploaderOptions = {
    concurrency: 1
  };`

[2018-10-27 10:51] jkuri commented on #472
https://github.com/bleenco/ngx-uploader/commit/b423316cebc0f0a1089595e2ef825cba832e057e

[2018-10-27 10:51] #472 closed

[2018-10-29 07:53] AndyAlex commented on #474
I can confirm this on my side also. Note that i'm setting file types and max file size with @Input variables and i'm sending the file to the parent component via @Output. Here's my setup:
HTML:
[code]

Angular component.ts:
[code]

[2018-11-03 07:10] Yakamozduan commented on #469
[code]

[2018-11-06 08:27] khylias opened #475 "Ngx-Uploader version on NPM"
Hi,

I submit this issue because I see that the publish version of Ngx-Uploader is for Angular 7 minimum but docs specify that's Angular 6 ready.

Regards 😃

[2018-11-06 18:35] vGhost2000 opened #476 "Some browser does not know XMLHttpRequest.Done property"
Some browser does not know XMLHttpRequest.Done property. I try debug in gogle chrome, i add this line in code:
ngx-uploader.class.ts:
[code]
Get result in console:
[code]
it means that 'done' event never fires because it is a procedure.
I changed the code as follows, but I'm not sure that this is the best solution. Please fix the problem in the next version.

[code]

[2018-11-22 10:02] sguilly commented on #257
If you have several uploads :

[code]

[code]

[2018-11-22 14:36] federicoruf commented on #374
@vincent-cm, with your solution, I can detect if the image is portrait, so the plugin doesn't change the orientation of it?
What about the parameters (canvas, orientation)? I don't understand how can I implement it on Angular 2+

[2018-11-22 14:59] kharatps02 opened #480 "How to upload cropped image or update original image after crop"
I'm cropping image before upload to server so integrated cropping module. I want to upload cropped image to server but uploading original image. Following function get called on crop success.

startUpload(): void {
    const event: UploadInput = {
      type: 'uploadAll',
      url: 'server path'
      method: 'POST',
      headers: 'custom header',
      file: this.croppedImage,
    };

    this.

[2018-11-30 10:37] rlovasz commented on #417
What is the status here? I ran into the issue by cancelAll, but can not find the solution anywhere. Is there a workaround?

[2018-12-18 19:22] heniotierra opened #483 "Links to examples in readme are broken"

[2019-01-01 08:16] waveter opened #484 "Cannot choose 520 files"
It seems I only can choose maximum 519 files to upload. If I choose 520 files, nothing happen.

[2019-01-03 07:46] onearmfrog commented on #474
This is the default behavior for an html file input.
I am also using @N1XUS's solution and can confirm it works perfectly.

[2019-01-05 18:07] #474 closed

[2019-01-17 08:33] ofirrifo opened #485 "changelog for upgrade ngx-uploader from 4.2.4 to 7.1.0"
I want to upgrade ngx-uploader from 4.2.4 to 7.1.0
Where I can find the changelog and breaking changes?

[2019-02-06 08:53] pbabcsany commented on #417
@jkuri this one is not the same as #9 because it happens when there are more cancelled (and/or running) uploads than the value of the concurrency option. Let me explain why this one happens:

- uploadScheduler is a Subject and every started upload Observable is merged by mergeMap operator but limited by concurrency option
- on completion of the Observable returned by startUpload method mergeMap cl

[2019-02-06 11:41] pbabcsany commented on #417
OK, I can not reproduce this kind of behavior with the demo app which uses Angular 7 and RxJS 6. I use Angular 5.2 too and when I upgrade ngx-uploader to 7.1.0 then if I would like to upload a new file after cancel then it won't start until the previous one completes. My fix would solve that but the upload still completes in the background then (devtools show pending request instead of cancelled).

[2019-02-17 16:33] JaePhoenix opened #486 "Passing JSON data Object to uploadInput data"
I am using the data section inside the uploadInput:

[code]

The problem is that the data I am passing looks like this

[code]

When reading the res.body inside my express, my data is returned as [object Object].
I can stringify the data, but then I need to pass the data content type along with the data, which I am unsure how to do, or if it is even possible.

I know I cannot pass an object becaus

[2019-02-24 17:49] tibinvpaul commented on #480
Hey @kharatps02 - were you able to figure out how to do this?

[2019-02-27 07:32] startswithaj commented on #457
@dmayerdesign did you find a work around?

[2019-03-05 18:03] JaePhoenix opened #487 "'uploadAll' event emitter not working after fail"
Thanks for the great project.  I am just experiencing one little issue.

When I emit the `uploadAll` event, I am unable to emit the event again, whether it fails or succeeds.

I think the issue is that there is already a file in the queue, so the `uploadAll` event does not fire.
When calling the 'cancelAll' or 'cancel' emitter, still no luck.
The only way to fix this issue is to call the 'remove'

[2019-03-05 18:04] JaePhoenix commented on #486
The issue was that I needed to stringify the data before passing it to the backend.

[2019-03-05 18:04] #486 closed

[2019-03-29 17:55] altso opened #489 "Certificate has expired on https://ngx-uploader.com"
Tried to open https://ngx-uploader.com and got blocked by a corporate security system which checks certificates.

Also tried http version, but it redirects to https.

[2019-04-01 14:03] reddevilzee commented on #489
+1

[2019-04-12 05:44] VijayRidgeant commented on #87
compiler.js:2426 Uncaught Error: Template parse errors:
Can't bind to 'options' since it isn't a known property of 'div'. ("

<div><h1>User And Admin Commission Details</h1></div>
<div echarts [ERROR ->][options]="chartOption4" class="demo-chart" ></div>"): ng:///SampleModule/SampleComponent.html@10:13
    at syntaxError (compiler.js:2426)
    at TemplateParser.push../node_modules/@angular/compile

[2019-04-12 11:46] JianhuisHuang commented on #453
excuse me,I can't find the solution for this bug "restarting cancel upload",can you help me ?
thanks @jkuri @ar27111994

[2019-04-24 06:58] Geeta-Singh commented on #474
@N1XUS  I'm not getting the fileInput 'undefined'. Any help in this?

[2019-04-29 20:50] josencv commented on #489
+1

[2019-05-06 10:34] JianhuisHuang opened #490 "support upload base64 image ?"
Hi @bleenco this plugin is possible support upload base64 image？Please help me,thanks.

[2019-05-19 13:18] assaften commented on #485
any update with this one?

[2019-05-22 08:02] uzumakinaruto123 opened #491 "allowedContentTypes with doc extensions don't work"
`this.options = { allowedContentTypes : ["application/pdf", " application/vnd.ms-excel", " .doc", ".docx", "application/msword", "application/vnd.openxmlformats-officedocument.wordprocessingml.document", " application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"] };`

Only ".pdf" extensions can be selected with above config. If allowedContentTypes is removed and only accept="..." is used

[2019-05-29 08:59] agil-NUBBA opened #492 "Extend peer dependencies to Angular 8"
**Issue description**

running `npm install` throws the following warning:

[code]
**Steps to reproduce and a minimal demo of the problem**

`npm install` with Angular 8

**Current behavior**

`npm install` shows a couple of warning due to peer dependencies.

**Expected/desired behavior**

No warnings should be shown

[2019-05-31 05:00] vaduinc commented on #442
How did you implement the "retry" option?
can you share the code?
where you able to fix the issue you mentioned?
Thanks

[2019-05-31 14:27] kolkov opened #493 "TLS problem for https://ngx-uploader.com/"
https://www.ssllabs.com/ssltest/analyze.html?d=ngx-uploader.com&latest
for
https://ngx-uploader.com/
![image](https://user-images.githubusercontent.com/3740898/58712520-65bc1180-83c9-11e9-9d13-f8ad34225649.png)

[2019-06-06 08:52] Plondrein opened #494 "is this repository dead?"
For half a year, no single commit ?

[2019-06-06 14:02] jkuri commented on #494
I am in hospital, coming back next week.

On Thu, 6 Jun 2019 at 10:52, Dominik <notifications@github.com> wrote:

[2019-06-06 16:42] Plondrein commented on #494
Sorry to read that :( Get well soon!

[2019-06-06 16:42] #494 closed

[2019-06-07 16:52] vecernik commented on #492
+1

[2019-06-14 11:02] ofirrifo commented on #492
+1

[2019-06-26 19:11] Yann77 opened #495 "Using Http Interceptor"
Hi !

I was wondering how to use my Custom HttpInterceptor with ngx-uploader. Since it is not using HttpClient but XMLHttpRequest directly, interception is nerver made. That would be useful in the case some JWT token validation needs to be done, etc.

Is it something plan ?

Best Regards,
Yannick

[2019-07-01 12:20] neergli commented on #492
+1

[2019-07-15 13:24] Manzurkds opened #497 "TS2339: Property 'lastModifiedDate' does not exist on type 'File'."
`ERROR in node_modules/ngx-uploader/src/ngx-uploader/classes/ngx-uploader.class.ts(112,32): error TS2339: Property 'lastModifiedDate' does not exist on type 'File'.`

I'm getting this error while I was upgrading my angular app from version 5.2 to version 8.
I believe it's because the newer version of typescript has deprecated this field in favor of the new field introduced, `lastModified`.

My cur

[2019-07-16 16:48] zbagley commented on #495
XMLHttpRequest simply doesn't work well with interceptors, and that is likely why this repo's `headers: { key: value }` exists when building your upload request.

I use Authorization headers with a localstorage token, which should be standard:

[code]

This feature likely won't be available unless Angular decides to build in support to HttpClientModule for XMLHttpRequest.

[2019-07-16 18:14] Yann77 commented on #495
Thanks for your answer ! I extracted most of my interceptor logic so I can reuse it while interacting with ngx-uploader

[2019-07-18 02:10] zbagley opened #499 "Enhancement: allowedContentTypes to match HTML5 input "accept""
## Description

Currently `allowedContentTypes` for input options only seems to accept very specific MIME types. The expected results would be that the `allowedContentTypes` array would match how a DOM `<input accept="<allowedContentTypes>"` performs.

## Specific Issues
Noticed mismatch on:
blanket MIME types (`image/*`, `audio/*`)
specific extensions (`.dae`, `.dxf`)

## Reproduction
Using the d

[2019-07-23 02:25] Huhui-coder opened #500 "server reports an error,"
Why can't I use ngx-uploader after I upload the file and the server reports an error. I hope that after the server reports an error, I click the upload button and still upload. what should I do?

[2019-07-29 10:04] #435 closed

[2019-09-10 11:30] mclear01 commented on #370
Hi, using ngx-uploader 7.1.0 - any updates on this feature?

[2019-09-24 09:07] Plondrein commented on #492
any update on this? Angular 9 is coming

[2019-09-26 14:21] victor-panaite commented on #453
A solution that worked for me in case of restarting the upload was to add a reference on the component
[code]

and then right before creating the event for `this.uploadInput.emit(event);` I've manually trigger a change event on that reference.

[code]

[2019-09-26 14:22] victor-panaite commented on #423
A solution that worked for me in case of restarting the upload was to add a reference on the component
[code]

and then right before creating the event for `this.uploadInput.emit(event);` I've manually trigger a change event on that reference.

[code]

[2019-09-27 04:57] antrikshpatel commented on #453
I tried your suggestion. The problem i faced is it adds duplicate files to the list.

[2019-10-24 20:52] charbonnier666 commented on #408
still have this bug...

[2019-11-01 19:56] antajo opened #503 "Drag and drop works. But it deletes the email from outlook"
This happens when we drop email from outlook to chrome.  The default drop effect in chrome is taking it as "MOVE" instead of "Copy". We can fix this by taking the **dragover event** and changing drop effect. Something like this,

Angular component

@HostListener("document:dragover", ["$event"]) dragOver(ev: DragEvent): void {

    if (ev && ev.dataTransfer && ev.dataTransfer.dropEffect != "copy")

[2019-11-06 08:44] osahner commented on #500
look [here](https://github.com/bleenco/ngx-uploader/pull/428#issuecomment-546384151)

[2019-11-13 04:43] renuverma03 opened #504 "Max file validation failed when selecting file using browse and drag option"
I put  this.options = {
            concurrency: 1,
            maxUploads: 5
        }

1. I Browse more than maxUploads it allow only 5 files and rest put into rejected list.
2. I Drag more than maxUploads it allow only 5 files and rest put into rejected list.
But when I browse some files and drag some file then maxUploads fails.

[2019-11-22 07:49] tibinvpaul commented on #492
Very much needed. I appreciate the help here!

[2019-11-27 17:59] vic10us commented on #466
I have added this and there is an open PR (https://github.com/bleenco/ngx-uploader/pull/505)

[2019-12-04 10:02] jayprajapati857 opened #506 "When I try to upload file from child component its not emitting the event of upload"
This method is in app.component.ts

    startUpload(): void {
        const event: UploadInput = {
            type: 'uploadAll',
            url: 'http://test.com77s/8887',
            method: 'POST',
            data: {
                test: 'test'
            }
        }
        console.info('Starting upload', event, this);
        this.uploadInput.emit(event);
    }

This code is in app compon

[2019-12-23 09:07] ravishah247 commented on #358
Hello @doronsever,
For the workaround you can pass the ngsw-bypass into header or the query parameters as follow
`   headers: {
          'ngsw-bypass': 'ignored/empty/omitted'
    }
`
with the help of this error it will allowed to bypass the service worker entirely and let the browser handle the request instead.

[2019-12-23 12:42] doronsever commented on #358
I rather have it control by inline params so in the ngsw config I could set it up

[2020-01-06 15:10] andzejsw opened #508 "this.contentTypes.find is not a function"
I get this error, when i am setting allowed file types and then select file from file browser:
[code]

[2020-01-27 07:27] exequiel09 commented on #392
Any news on this?

[2020-01-30 09:56] Flyrell opened #509 "feat: Add possibility to add maxFilesSize"
Thanks for a great library @bleenco.
I'm working on file uploader that accepts multiple files.  What I need is to set the maximum size of all the files user has selected. As far as I know, the following behaviour should do the trick without any breaking changes:
- default size would be `Number.POSITIVE_INFINITY`
- if the summed files size is exceeded, `reject` event should be fired and no files sh

[2020-02-11 12:34] andzejsw commented on #508
On Angular 9 this issue dissapeared.

[2020-02-11 12:34] andzejsw commented on #499
Any progress?

[2020-02-11 13:40] andzejsw commented on #499
Some Mime types not recognized, like for example `.asc` should be `text/plain` but instead it shows empty string. Then easier is to write is to write method in `addedToQueue` upload case and then check file extensions, before pushing in upload files list.

[2020-02-26 07:49] davidvanwyk opened #510 "Update Peer Dependencies to Support Angular 9"
## Preface

The following issue assumes that there is no functional problem with updating the peer dependencies of this library to Angular 9. Should more than a dependency bump be required, please let me know and perhaps some assistance can be provided.

## Issue description

running npm install throws the following warning:

npm WARN ngx-uploader@8.0.0 requires a peer of @angular/common@^8.2.14 b

[2020-03-05 08:40] DmitryMalyugin commented on #510
Tried to update angular 8 project to 9 version and got the same problem

[2020-03-23 05:26] beyondtheobservableuniverse opened #512 "Angular v9 support"
Please update Angular packages to version 9.

[2020-03-23 12:29] Mihai-B commented on #512
I think this is a duplicate of https://github.com/bleenco/ngx-uploader/issues/510

[2020-05-22 01:29] NoumanMukhtar opened #515 "Upload Folder as Zip file"
Is there a way that we can allow users to select a folder, then compress all those files within that folder to zip and upload it ?
We can do it manually but does ngx-uploader supports this feature ?
Thanks

[2020-06-11 18:14] sidikhanrei commented on #510
Any update about this issue?

[2020-06-30 21:00] #470 closed

[2020-07-08 11:21] poojasharma1993 commented on #87
you just need to import MatButtonModule as below

**import { MatButtonModule } from '@angular/material';**

[2020-07-12 21:01] jkuri opened #519 "ngx-uploader.com"
Can someone from @bleenco renew certificate for https://ngx-uploader.com please. Otherwise this looks kinda abandoned.

/cc @irmana

[2020-07-13 08:54] E-Rog opened #520 "Uploading multiple files with distinct/unique filenames"
How to upload one or multiple files without duplicate filenames? Like you can't upload e.g a.gif, a.gif without breaking UI?

[2020-07-15 09:07] RobinKamps opened #521 "graphql / appollo client support"
Currently this library uses xmlhttprequest post requests.
Is it possible to support file upload via graphql as well?

Using apollo client here - it would be great, if a user of you library could inject custom implementations e.g. callbacks of the file upload function and for the status updates (how to retrieve upload progress status, error message, etc.).

https://github.com/jaydenseric/graphql-mu

[2020-07-15 10:54] jkuri commented on #521
Hi, the whole library depends on xmlhttprequest so I don't this makes a lot of sense. We would basically need to refactor the whole library to support different methods.

[2020-07-18 09:51] exequiel09 commented on #510
This is already resolved with #518

[2020-08-26 15:51] Donkijote opened #522 ".Rar files type detection"
Hi, as the title says when uploading rar files the type is unknown, don't know if it's a bug or it's not supported.

So when I add a list of allow content types, according to
https://developer.mozilla.org/es/docs/Web/HTTP/Basics_of_HTTP/MIME_types/Common_types

rar content type is: application/x-rar-compressed
and I add this one, I can't upload rar files.

I'd like to know if there's a validation

[2020-09-02 09:00] akram08 commented on #503
A pull request has been added https://github.com/bleenco/ngx-uploader/pull/523/commits/f35486a18a98b3f04abb132db9190e5ac99b6843
this resolves the mentioned issue.

[2020-09-02 11:09] akram08 commented on #503
#523

[2020-11-12 21:50] DavideViolante commented on #519
Duplicate of https://github.com/bleenco/ngx-uploader/issues/493

[2020-11-16 13:23] irmana commented on #519
I apologize for the delay and thanks for reporting. This should be fixed now. /cc @belsakn

-- Irman

[2020-11-16 13:23] #519 closed

[2020-11-16 13:24] irmana commented on #493
Fixed https://github.com/bleenco/ngx-uploader/issues/519

[2020-11-16 13:24] #493 closed

[2020-11-16 13:24] irmana commented on #489
Fixed https://github.com/bleenco/ngx-uploader/issues/519

[2020-11-16 13:24] #489 closed

[2020-12-17 09:10] iCodr8 opened #524 "Fix peer Warning for Angular 10.2.x"
This is the install warning:

[code]

Installed Angular Packages:

[code]

[2021-01-18 13:24] ssharm2 commented on #423
I am also facing same issue subsequent uploads with angular 10, "ngx-uploader" v-"10.0.0". Also tried the suggested solutions  https://github.com/bleenco/ngx-uploader/issues/423#issuecomment-535526767 but it is also not working in our case.

Is there any workaround?

[2021-05-09 17:55] xts-velkumars commented on #252
@MrCroft

have you achieved using fileService. If yes can you please share your code.

[2021-05-25 21:34] zombaki opened #533 "Upload same file multiple times ignores subsequent upload"
When i am trying to upload same file multiple times, ngx-uploader seems to ignore upload the 2nd time.
scenario :-
 - https://ngx-uploader.com/ - upload file test.jpg - upload successful
 - upload file test.jpg (same file) - no change in browser(file is not uploaded)
 - upload file test_different.jpg (different file) - upload successful
 - upload file test.jpg - upload successful

Not able to figu

[2021-06-04 19:45] McastilloA commented on #491
Hello @uzumakinaruto123

see if this works for you
<google-sheets-html-origin>
MIME-Typ | Extension
-- | --
"application/vnd.ms-excel", | .xls
"application/vnd.openxmlformats-officedocument.spreadsheetml.sheet", | .xlsx
"application/vnd.openxmlformats-officedocument.wordprocessingml.document", | .docx
"application/pdf" | .pdf
image/png', | .png
image/jpeg', | .jpeg
image/gif', | .gif
image/jpg', |

[2021-06-08 13:14] vickyjain93 commented on #9
I am facing a issue where I am validating the file from the back end and if the validation fails, i get response as 400 in my uploaded file, now i need to upload the same file again so i am calling upload Input function again, but all i get is event as done and the middle part like start, uploading is skipped. Is there any way to reset the file data and send the file again without making user to s

[2021-07-12 13:42] xts-velkumars opened #537 "NgUploaderService Example"
Is there any working examples using NgUploaderService

[2021-07-12 13:53] xts-velkumars commented on #163
Any sample code ?

[2021-07-16 14:10] xts-velkumars commented on #480
any one achieve this ? I would like to crop the image before uploading

[2021-07-27 10:30] broomfn opened #538 "No release since 2016/2017?"
I'm guessing the project is still alive?

The GitHub releases would suggest otherwise?

[2021-07-27 10:36] jkuri commented on #538
it is alive :-)

[2021-07-27 11:00] broomfn commented on #538
Ah that's good to hear, just FYI it's confusing to see the last GitHub release as several years old.

[2021-07-27 11:00] #538 closed

[2022-01-04 12:23] #269 closed

[2022-01-16 19:20] joelmuskwe commented on #538
Is it possible to get a new release?

[2022-01-26 20:12] meraj-ahmed opened #545 "Importing NgxUploaderModule which does not have a ɵmod property"
angular 13.1.3
ngx-uploader 11.0.0
jest 27.4.7

I am getting an error when I try to run unit tests:

![image](https://user-images.githubusercontent.com/28062350/151239361-92ed310c-f72c-46c1-b32d-92b82e07e8ff.png)

[2022-02-05 23:22] moniuch opened #546 "Disallowing multiple file drop on a single file input"
Thank you all for creating and maintaining this package ❤️

Is there any pattern that I am missing which could prevent dropping multiple items if the input does not have the `multiple` attribute on it? Perhaps via `UploadOutput.type = 'dropDisallowed'`

While I could arbitrarily pick any one from the files array, for the user it wouldn't be an educating and instructive experience, so I wish I coul

[2022-02-14 13:16] NashIlli opened #549 "Feat: Angular 13 Update | Enable Ivy"
When angular compiles the library it says:
"Encourage the library authors to publish an Ivy distribution."

Could be possible to update the library in order to have an Ivy distribution?

Thanks a lot!

[2022-03-15 10:45] antoinecandy opened #553 "ngx-uploader - UploadInput event url with local proxy.conf"
Hi,

I'm trying to use ngx-uploader with a local proxy config on my angular project.

The thing is that when I set the url of the UploadInput event as follow, it makes the request on http://localhost:4200/api and not on my targeted proxy conf url (http://localhost:9335/whitelabel/v2):

`startUpload(): void {
        let event: UploadInput;
        event = {
            type: 'uploadFile',

[2022-03-16 13:03] #553 closed

[2022-03-22 15:42] stephanebouget commented on #533
duplicate #423

[2022-03-23 01:17] zombaki commented on #533
@stephanebouget this issue was when we try to upload same file multiple times ..or rather files with same file name

[2022-03-23 08:49] stephanebouget commented on #533
yes it's the same issue, just add :
`#fileInput (click)="fileInput.value = ''"
`
on your : `<input/>`

https://github.com/bleenco/ngx-uploader/issues/423#issuecomment-367224926

[2022-04-06 04:19] dkr19 opened #555 "Server reports an error when uploading a file, but output.type is showing as 'done' instead of 'rejected'"

[2022-07-16 21:01] panoti commented on #549
You can use `npm i --save @angular-ex/uploader` for Ivy engine. I hope my fork is useful while we wait for author upgrading to v13.

[2022-08-09 22:46] hamayun-cpu commented on #325
Had the same problem,
@TonyLuo solution worked for me

[2022-10-13 00:32] momargoh commented on #163
I still get an error with the ngFileSelect directive when I have multiple in a component: only the first one gets fired.

My .component.html has...
[code]

My FileUploadComponent is basically just the template in the README...
[code]

So whenever I drag a file onto the drop zone I get the correct 'first-uploader'/'second-uploader' being emitted but if I click the `browse` button and use the OS fil

[2022-10-13 01:40] momargoh commented on #163
I just solved my issue by giving each uploader a unique `id`, so I replaced my `browse` button with

[code]
and added `id: number = Math.random();` to my FileUploadComponent (`Math.random()` is good enough for me)