[2016-01-29 10:25] jkuri opened #6 "Support for allowed file extensions"
We should provide support for allowed file extensions. If file extension don't match the provided allowed extensions uploader won't start the upload.
https://developer.mozilla.org/en-US/docs/Web/API/Blob/type

[2016-01-29 10:32] jkuri opened #7 "Provide standalone bundle"
`make.js` script should also provide bundle that is not dependant on SystemJS loader.

[2016-01-29 10:49] jkuri commented on #7
Done https://github.com/jkuri/ng2-uploader/commit/71709a1dbc143076ee8fb4192531478a00d4d3f5

[2016-01-29 10:49] #7 closed

[2016-02-19 23:00] mwijnands opened #8 "Support for dropping files on element"
First of all thanks for this great but simple library.

I'd like to see support for creating drop zones to drop files. Would be nice!

[2016-02-19 23:10] mwijnands opened #9 "Can't upload the same file twice"
When uploading the same file again - even after switching to another view (e.g. component) and back again - nothing happens.

It is probably intended behavior when the uploader is visible and you just upload the same file again (you can see that in the demo site). But in my case I switch to another component (i.e. click a menu button and go to another view via routing) and then navigate to the upl

[2016-02-19 23:12] jkuri commented on #8
Hi. Thanks, no problem. I plan to implement that in the near future.

[2016-02-20 04:51] jkuri commented on #9
This is not intended behavior. Thanks for noticing. I believe the fix would be to reset the `<input type="file">` value as upload directive is working onChange; if you select the same file again actually the value doesn't change. Didn't try but I think this is the solution.

[2016-02-25 18:03] soorireddy opened #10 "Updates"
Property 'findIndex' does not exist on type 'any[]'.

[2016-02-25 18:08] jkuri commented on #10
Yes, wasnt aware its not working. Thanks.

On Thursday, 25 February 2016, soorireddy <notifications@github.com> wrote:

[2016-02-25 18:34] soorireddy commented on #10
Property 'findIndex' does not exist on type 'any[]'.

[2016-02-25 19:14] #10 closed

[2016-02-25 19:15] jkuri commented on #10
Is it working?

On Thursday, 25 February 2016, soorireddy <notifications@github.com> wrote:

[2016-02-25 20:04] soorireddy commented on #10
looks like  issue with type script "TS2339: Property 'findIndex' does not
exist on type 'any[]' "

On Fri, Feb 26, 2016 at 12:45 AM, Jan Kuri <notifications@github.com> wrote:

[2016-02-29 01:01] innovative1 commented on #8
+1

[2016-02-29 15:30] jkuri commented on #8
I added the drop zones support. Use directive NgFileDrop exactly as NgFileSelect. I will add documentation later.

[2016-02-29 15:30] #8 closed

[2016-03-01 19:30] soorireddy commented on #10
for some reasons I am getting the following error
[image: Inline image 1]

Any help would be highly appreciated.

typescript  version : "typescript": "^1.8.2"

tsconfig :
  "compilerOptions": {
    "target": "ES5",
    "declaration": false,
    "mapRoot": "",
    "module": "system",
    "moduleResolution": "node",
    "sourceMap": true,
    "emitDecoratorMetadata": true,
    "experimentalDecorator

[2016-03-01 19:36] soorireddy commented on #10
unable to close window after selecting multiple files

On Wed, Mar 2, 2016 at 1:00 AM, soori <surender.palakala@gmail.com> wrote:

[2016-03-02 08:43] jkuri commented on #10
Not sure I understand you issue... where you get this error?

[2016-03-02 09:50] soorireddy commented on #10
I had this issue in Edge browser when I tested  @ http://ng2-uploader.com/
, But now , I  tested in chrome without any issue.

On Wed, Mar 2, 2016 at 2:13 PM, Jan Kuri <notifications@github.com> wrote:

[2016-03-02 10:00] jkuri commented on #10
Okay, thanks.

[2016-03-04 19:43] satish-pokala opened #11 "'ng-file-select' since it isn't a known native property."
Hi,
Thanks for the nice directive,
I am new to angular 2

I am getting this exception Can't bind to 'ng-file-select' since it isn't a known native property.
even though I am  adding following in my component

import {UPLOAD_DIRECTIVES} from 'ng2-uploader/ng2-uploader';
and added directive too
directives: [UPLOAD_DIRECTIVES]
Please help.

[2016-03-04 20:02] jkuri commented on #11
Can you show me the template? Actually there is a demo on the webpage where all the code is shown, maybe take a look at there.

[2016-03-04 20:10] satish-pokala commented on #11
Hey Thanks For Your Support,

Here is my template,

<div>
<input type="file" [ng-file-select]="options"
(onUpload)="handleBasicUpload($event)"/>
</div>

Thanks & Regards,
Satish Pokala
Engineering UI Lead
Contact No: 9538780501
www.everteam.com

On Sat, Mar 5, 2016 at 1:32 AM, Jan Kuri <notifications@github.com> wrote:

[2016-03-05 10:02] jkuri commented on #11
@satish-pokala right now I really can't see what can be wrong, can you please prepare the plunkr or demo?

[2016-03-05 10:17] satish-pokala commented on #11
Thanks again for coming back

Finally I have resolved the issue and it is working fine now

But I need some clarification

When we install ng2-uploader it does not have .js files in it.

When be build it through tsc my out put folder is build and all .js files goes
to build folder along with my files and ng2-uploader files.

If we see at ng2-uploader.js file it has line
require("ng2-uploader/ng2-u

[2016-03-05 10:21] satish-pokala commented on #11
If we see other npm packages it contains .js files also in it.

I am not sure whether it is making sense because i am very new to typescript and
angular.

Sent using CloudMagic Email
[https://cloudmagic.com/k/d/mailapp?ct=pa&cv=8.1.32&pv=5.1.1&source=email_footer_2] On Sat, Mar 05, 2016 at 3:47 pm, Satish Pokala < s.pokala@everteam.com [s.pokala@everteam.com] > wrote:
Thanks again for coming back

[2016-03-05 10:22] jkuri commented on #11
It is recommended that you have compiled files separated from the source
files. Maybe take a look at the angular-cli tool, it has that functionality.

On Saturday, 5 March 2016, Satish POKALA <notifications@github.com> wrote:

[2016-03-05 18:39] innovative1 opened #12 "/node_modules/ng2-uploader/ng2-uploader.js not found"
After upgrading to 0.5, I get the error that ng2-uploader can not be found. Looking under the node_modules folder, looks like the ng2-uploader.js file is not being generated from the .ts file. This was not the case with earlier versions.
Folder structure with version 0.5.0 after npm install:

ng2-uploader
|--node_modules
|--src
|--ng2-uploader.ts
|--package.json
|--README.md
|--tsconfig.json

Work

[2016-03-06 14:36] naveedahmed1 commented on #10
What about replacing the below line in ng2-uploader.ts:

let queueIndex = this._queue.findIndex(x => x === file);

with the following:

var indexes = this._queue.map(function (obj, index) {
            if (obj == file) {
                return index;
            }
        }).filter(isFinite)

        let queueIndex = indexes[0];

[2016-03-07 09:02] mwijnands commented on #8
Nice!

I wonder why did you rewrite commit history? Now we can't see the changes... And you made some big changes even to the project structure.

[2016-03-07 09:06] jkuri commented on #8
Sorry for that. It was previously based as a `angular-cli` project and it has demo in it. Since we temporarily removed `ng install` command I decided to rewrite this lib to have only files that are actually needed. It will soon be possible to install this library with the new `ng install` command and current files in this repo are all the files that will be needed for that.

[2016-03-07 12:59] fxck opened #13 "Module parse failed: /srv/bubble/users/ar/finalysio/repo/node_modules/ng2-uploader/ng2-uploader.ts Line 1: Unexpected token"
Any ideas? Using angular2 beta.8
[code]

[2016-03-07 13:05] jkuri commented on #13
Yes, module is not compiled yet. Maybe clone this repo to your project or copy files from `node_modules` and fix the paths, it should be working.

[2016-03-09 07:10] zatomik opened #14 "False Boolean options revert back to defaults"
Hi, having trouble setting bool options, maybe I'm missing something, but for eg:
[code]
The following line in the service will always return the default again (true)
` this.autoUpload = options && options.autoUpload || this.autoUpload; `

Maybe something like this instead:
`this.autoUpload = options && options.autoUpload !== false;`

I can submit a PR later if you agree,
Cheers

[2016-03-09 07:13] jkuri commented on #14
Hi, sure. PRs are welcome.

[2016-03-10 11:34] rkrayovskyy opened #15 "Show image thumbnail"
Does it support functionality to show thumbnail of the image right after dropping/uploading it?
If not, any plans to implement it soon?

[2016-03-10 11:40] jkuri commented on #15
Hi Roman. Currently this is not supported but I don't see a reason why should not be in the future. If you maybe have some time PRs are welcome. Otherwise it will be implemented in the future but unsure when.

[2016-03-10 12:00] rkrayovskyy commented on #15
Jan,
got it, thanks. Will take a look at it when I have a chance.

Roman

[2016-03-12 18:58] SergeyMell opened #16 "No Directive annotation found on NgFileSelect"
Actually, after adding a package to my project, I get an error:
[code]
which appears in browser console and project does'n work.

[2016-03-12 19:28] jkuri commented on #16
Did you add UPLOAD_DIRECTIVES to your components directive array?

[2016-03-12 19:39] SergeyMell commented on #16
Yes, sure

[2016-03-12 19:45] jkuri commented on #16
Actually don't know about that error, try googling or see the demo.

[2016-03-14 12:15] AndrewLosikhin commented on #16
Same problem, it appears for versions of angular >= beta8

[2016-03-14 18:47] eliezerreis opened #18 "Is possible to cancel an upload?"
Is it possible?

[2016-03-14 18:50] eliezerreis opened #19 "Why UploadFile is not exposed?"
If you expose UploadFile we can use it as parameter type of fileUpload event. As we are using typescript provide the type is a good approach.

[2016-03-14 18:51] eliezerreis opened #20 "Is there any event for drop over on file-drop?"
It's nice to change the color of drop area, for example.

[2016-03-14 20:10] jkuri commented on #16
Thanks for reporting guys, I will test this and fix ASAP.

On Monday, 14 March 2016, AndrewLosikhin <notifications@github.com> wrote:

[2016-03-14 21:07] SergeyMell commented on #16
@AndrewLosikhin I have beta 6 version. Interesting remark - when I copied the package from node_packages to the project and injected it localy, I did not faced the issue.

[2016-03-14 21:11] jkuri commented on #16
Yes, that is how it should be included right now. Sorry for not documenting
this.

On Monday, 14 March 2016, SergeyMell <notifications@github.com> wrote:

[2016-03-18 10:04] final87 commented on #12
Hi, I have the same error
and this Warning:
"file was not compiled because there is no a reference from tsconfig.json"
related to ng2-uploader.ts

[2016-03-18 15:22] soorireddy opened #21 "Request : Keep update with Angular Version(dependency breakages)"
For every Angular release it is breaking up(dependencies) , if possible can we reduce delay

[2016-03-18 15:54] soorireddy commented on #10
Hi  ,

can you please update angular version :)

I am not sure if you have plans to have "DefinitelyTyped" , so that we can
use typings directly.

Regards,
Reddy

[2016-03-18 15:56] jkuri commented on #10
I will update versions, but not sure what you mean with typings?

[2016-03-26 10:08] pratik60 opened #22 "Client Side S3 upload"
Hi

Wondering how can we get started on client side s3 upload? How do you think we should go about extending it?

Cheers
Pratik

[2016-03-30 14:29] mwijnands commented on #12
+1. @jkuri  This package went from usable and working immediately with instructions how to load it through systemjs to.... no compiled js included and no docs on how to load it. What happened?

[2016-03-31 04:19] jkuri commented on #12
Sorry guys, I want it to prepare to work with `angular-cli` `install` command, and the source `.ts` files are all that will be needed.
It's still usable, just copy the whole directory to somewhere in the project you have source files and then use the correct path to `ng2-uploader.ts` when importing `UPLOAD_DIRECTIVES`.

[2016-03-31 04:19] #12 closed

[2016-03-31 07:35] mwijnands commented on #12
@jkuri Could you please upload a 0.5.1 package to npm that includes the .js (+ .js.map) files that come out of the .ts files? So we don't have to transpile ourselves. That is what all library developers do. And then they include a bundled .js file too (although I don't really need it).

[2016-04-04 14:35] rocco-scaramuzzi opened #23 "angular2-polyfills.js:1243 Error: SyntaxError: Unexpected token <"
Hi There,

when adding the ng2-oploader I got this run-time error: Error: SyntaxError: Unexpected token <(…) at angular2-polyfills.js:1243. Any reason why? I am using SystemJS to boostrap the app and I am using angular-quick-start  2.0.0-beta.9.

It will be very appreciated any help.
Thanks

[2016-04-04 15:26] jkuri commented on #23
Hi, how did you include it to your project? If you can create a plunkr I can take a look.
Cheers

[2016-04-04 15:28] jkuri commented on #12
Hi @mwijnands, okay, I will do that in the near future and let you know.

[2016-04-04 16:03] rocco-scaramuzzi commented on #23
Hi Jan, thanks for your answer. I have just fixed it by including reference in System.Config packages and paths as following:
//*****
<script>
        System.config({
            packages: {
                "/poster-manager-app": {
                format: 'register',
                defaultExtension: 'js'
                },
                'node_modules/ng2-uploader': {
                    format:

[2016-04-04 17:40] jkuri commented on #23
Nice to hear that! Sure, no problem.

[2016-04-04 17:40] #23 closed

[2016-04-06 08:28] jkuri commented on #12
@mwijnands published 0.5.1 as per you request.

[2016-04-07 16:37] beatadelura opened #25 "browser.d.ts not found - Angular2 v2.0.0-beta.13"
File `ng2-uploader/node_modules/angular2/typings/browser.d.ts` is not found.

To get around it I had to remove `/// <reference path="node_modules/angular2/typings/browser.d.ts" />` from `ng2-uploader.ts` and `ng2-uploader.d.ts`

[2016-04-07 19:00] mwijnands commented on #12
Thanks! :smile:

[2016-04-12 22:24] chrizy opened #26 "Can I specify a callback function for when the file is successfully uploaded?"
Thanks
C

[2016-04-15 01:30] jenghung commented on #25
the same problem....

[2016-04-16 20:35] aghaasif opened #28 "File selection dialog keeps showing up repeatedly in Microsoft Edge / Win 10"
This issue seems to be present only when using Microsoft Edge browser on Windows 10:

Once you click on the 'Choose file' button, the Windows File selection dialog opens up. If you cancel the dialog, it will close for an instant an then it'll reopen again. This keeps happening forever. Ultimately you're only left with one choice, i.e. to kill the browser process through Windows Task Manager.

I'm

[2016-04-18 19:04] rsnider19 opened #29 "Duplicate Identifier ES6 Shim Typings"
Are you able to remove the es6 shim typings reference? When you have it identified globally in your project, you get a duplicate identifier error.

[2016-04-20 23:39] jongood01 opened #31 "EXCEPTION: TypeError: Cannot set property 'endSourceSpan' of null"
this happens when I try to include the drag and drop version from the demo

[2016-04-21 02:39] tan9 commented on #25
Since PR #30 was merged, this issue will be gone once @jkuri released a new version.

[2016-04-22 13:45] MrCroft opened #32 "error TS2654: Exported external package typings file cannot contain tripleslash references."
This happens when I simply try to import:
import {UPLOAD_DIRECTIVES} from "ng2-uploader/ng2-uploader";

I've attached the entire console output (it also said something about gulp, but after a restart it didn't anymore, only the 2 TS errors):
[console_output.txt](https://github.com/jkuri/ng2-uploader/files/231916/console_output.txt)

"error TS2654: Exported external package typings file cannot cont

[2016-04-23 11:30] MrCroft commented on #32
It seems that there was a chrome caching issue regarding ajax requests and the transcompiled components. disabled cache from DevTools and app changes were reflected immediately. However, I'm getting a zone "unexpected token" error from angular2-polyfills. But that's another issue, don't know what to do with that yet.

[2016-04-23 11:30] #32 closed

[2016-04-23 11:58] jkuri commented on #32
Hey @MrCroft, did you try to do it as its done in demo? What angular version are you using?

[2016-05-03 21:29] mchestr opened #33 "Uploading a new file before the first completes will duplicate"
When I upload large files (or attempt to upload a new file while one is still uploading) I notice that it will duplicate the upload.

It seems the files are not being marked as `uploading` so the filter below will queue them up again.

    uploadFilesInQueue(): void {
        let newFiles = this._queue.filter((f) => { return !f.uploading; });
        newFiles.forEach((f) => {
            this.uplo

[2016-05-04 10:50] balajijana opened #34 "Cannot resolve all parameters for 'NgFileSelect'"
Hi,

 I am facing an issue when using ng2-uploader:
EXCEPTION: Error: Uncaught (in promise): Cannot resolve all parameters for 'NgFileSelect'(?). Make sure that all the parameters are decorated with Inject or have valid type annotations and that 'NgFileSelect' is decorated with Injectable.

Please let me know how to resolve this issue.

[2016-05-12 16:27] chambersDon opened #35 "Can't bind to 'uploader' since it isn't a known native property"
I had this working before the release candidate upgrade.  Now it compiles but I get this runtime error:
[code]

Here is a snippet from my component.ts:
[code]

And here is the relevant markup in the template where the error occurs.
[code]

Any ideas?

[2016-05-12 17:10] chambersDon commented on #35
Solved.  The directive is now ng2FileDrop, not ng2-file-drop.

[2016-05-17 17:49] collapsarzhang opened #36 "any plan on fixing typescript error? should be pretty simple one"
[code]

[2016-05-19 05:37] amoldorkar-ezest opened #37 "can we resize image before uploading it ?"
I want to upload an image with 74 x 74 size.

[2016-05-21 18:35] estebanjrojas commented on #36
the code is actually up to date but the npm package isn't.

[2016-05-23 06:35] msegers commented on #25
The question is, when will he ;-)

[2016-05-24 01:46] tan9 commented on #25
@msegers this is a question only @jkuri can answer you.

However, you can reference to the exact commit at GitHub in your package.json like this:
[code]

[2016-05-31 12:46] benelliott commented on #36
@jkuri could you release a new version that uses this configuration please? It's quite awkward to have to declare the repo master as a dependency and then build the library from source as part of my deployment.

[2016-06-02 10:39] ashfon commented on #32
Have you got any solution, i am having exactly same issue. I am working on Angular2 RC1, when I download ng2-uploader v0.5.1, it also downloaded Angular2  beta17 in subfolder.

[2016-06-03 01:21] ashfon commented on #25
I have a same problem, but when I remove /// <reference path="node_modules/angular2/typings/browser.d.ts" /> code from ng2-uploader.tx file, i get more errors like Cannot find name 'Map'.
I am using Angular2 RC1. As part of ng2-uploader download beta 16 is install in subfolder. Any suggestions on how to fix this?

[2016-06-15 14:01] jesion commented on #36
Guys, generally great work. But this error is a pain. Any plans to have the npm package to be in sync with your github's master?

[2016-06-21 21:29] spartaksun commented on #16
The same problem on Anguar 2.0.0-rc2

[2016-06-23 04:46] NayabHussain commented on #35
@chambersDon getting this error.. Please how to resolve this.

Can't bind to 'uploader' since it isn't a known native property ("rimary">
                  Browse
                  <input type="file" class="upload" ng2FileSelect [ERROR ->][uploader]="uploader" (change)="browse($event.target.value)" >
                  </div>
             "):

[2016-06-23 04:47] NayabHussain commented on #11
@satish-pokala getting this error.. Please comment how to resolve this.

Can't bind to 'uploader' since it isn't a known native property ("rimary">
Browse
][uploader]="uploader" (change)="browse($event.target.value)" >

"):

[2016-06-23 22:40] apkostka commented on #36
I believe this issue can be closed, as the npm package has been updated per [this comment](https://github.com/jkuri/ng2-uploader/pull/38#issuecomment-227613995). @jkuri ?

[2016-06-24 00:33] 5amfung opened #40 "src/services/ng2-uploader.js references to angular2/core which breaks"
Although `src/services/ng2-uploader.ts` correctly references to `@angular/core` but the transpiled verson `src/services/ng2-uploader.js` still references to `angular2/core` which I think is incorrect.

When I use ng2-uploader in my project, I got error complaining about `angular2` not existed.

It's possible that the version uploaded to npmjs is bad.

[2016-06-24 07:05] q986872053 opened #41 "connect err!"
I got a err!

POST http://localhost:9000/law/file/upload

"NetworkError: 404 Not Found - http://localhost:9000/law/file/upload"
upload
（course：CORS less 'Access-Control-Allow-Origin'）。

[2016-07-02 10:19] shoespray commented on #16
Same problem here Angular 2.0.0-rc2. Any fix?

[2016-07-05 13:26] Davy-F commented on #40
I agree.

`System.register(['angular2/core'], `

Should be removed from src/services/ng2-uploader.js.

[2016-07-06 09:06] antitoine commented on #34
Hi,

After switching from SystemJS to Webpack, I have the same issue, anyone have a solution to fix that?

[2016-07-06 09:12] antitoine commented on #34
Duplicate issue, see : https://github.com/jkuri/ng2-uploader/issues/16

[2016-07-13 10:49] soorireddy opened #43 "req to update the dependencies to Rc4"

[2016-07-13 18:13] mrStudent123 opened #44 "data.done is set instead of data.error despite of HTTP 500"
The pasted error below is not an error with the uploader (server/auth), but it is not recognized by ng2-uploader and the flags are set wrong.

XMLHttpRequest cannot load ....... No 'Access-Control-Allow-Origin' header is present on the requested resource. Origin 'http://localhost:3000' is therefore not allowed access. The response had HTTP status code 500.

[2016-07-14 22:43] jkuri commented on #43
can you make a PR for this?

[2016-07-15 15:10] mrStudent123 opened #45 "Documentation update ;)"
Most of the issues here (autoupload, cancel, extensions,...) are already supported through the options field, so what about actually documenting those features? :)

[2016-07-19 08:07] muscaiu opened #46 "ng2-uploader needs a back-end api?"
Does ng2-uploader needs a back-end api? I need it to upload and later download pdf files.

[2016-07-20 21:56] jkuri commented on #46
yes.

[2016-07-20 21:56] #46 closed

[2016-07-21 12:59] shadeeka opened #47 "fails to load 'angular2/core.js'"
could not able to  use this component with angular2 latest release rc.3 or rc.4.
it gives error cannot found module angular2/core when running in system.js environment
can you please help me
thank you

[2016-07-22 11:30] avegpatekar commented on #47
we are also facing the same issue ..do u have any solution??

[2016-07-22 20:57] jkuri commented on #47
Hey. I will update this later tonight.

[2016-07-24 05:17] escarabin commented on #35
I am kind of stuck with this error too, can someone post a code sample on how to solve this please?

[2016-07-24 05:29] escarabin commented on #35
For those encountering this problem, I finally solved it.
First you have to import {FileDropDirective} from ng2-file-upload :
[code]

Then pass 'FileDropDirective' in your component's directives

[2016-07-24 09:43] jkuri commented on #43
done.

[2016-07-24 09:43] #43 closed

[2016-07-24 09:43] jkuri commented on #47
Done.

[2016-07-24 09:43] #47 closed

[2016-07-25 10:33] xeoneux opened #48 "Unable to find typings in the package"
After latest update from `0.5.2` to `0.5.4`, this error gets thrown:

[code]

Is it due to the missing typings along with the package?

[2016-07-25 11:14] jkuri commented on #48
Thanks for notice. Should be resolved with https://github.com/jkuri/ng2-uploader/commit/f439329a7a55b6dfa09e118464e359e425e9a0d7.

[2016-07-25 11:14] #48 closed

[2016-07-25 11:33] muscaiu opened #49 "Integrating in angularcli"
Is there any tutorial or example for adding ng2-uploader to angularcli?

I posted the full question and details here:
http://stackoverflow.com/questions/38565757/import-ng2-uploader-in-angularcli

[2016-07-25 14:46] ohader commented on #29
I get something like the following on compiling TS as well:

[code]

[2016-07-25 16:31] alexkazantsev commented on #29
+1

[2016-07-25 20:49] queirozfcom commented on #29
+20

[2016-07-26 08:32] ohader commented on #37
In general doing image manipulation on the server side seems to be better. Client's image processing might result in poor results since only basic maths for scaling is involved here.

Anyways, a possible solution might be to intercept the `FileList` before uploading, read the local file using `FileReader` and perform the actual image manipulation using a temporary `HTMLCanvasElement` and it's poss

[2016-07-26 08:39] ohader commented on #41
That one is triggered by your browser since CORS headers are insufficient.
The solutions is to let your web-server send accordant `Access-Control-*` HTTP headers, see https://developer.mozilla.org/en-US/docs/Web/HTTP/Access_control_CORS#Access-Control-Allow-Origin

[2016-07-26 14:40] #29 closed

[2016-07-27 00:56] jkuri commented on #49
Hey @muscaiu,

something like the following should work:
[code]

[code]

Let me know if you need further help.

[2016-07-27 08:27] Vieshanis opened #51 "Uploader Canvas"
Is there any css file or something that shows uploader as it is in demo page?

[2016-07-27 08:33] jkuri commented on #51
Maybe this could be helpful https://rpia.io/docs/elements/progress, and [here](https://github.com/jkuri/rpia.io/blob/master/sass/elements/progress.sass) is the source.

[2016-07-27 08:33] #51 closed

[2016-07-27 09:28] dragGH102 opened #52 "Typescript duplicates in dependencies' typings"
I'm not sure why but, while on the first app run it worked, I couldn't compile typescript files any longer because I was gettins errors such as:

         node_modules/ng2-uploader/typings/globals/es6-collections/index.d.ts(28,5): error TS2300: Duplicate identifier 'size'.
       node_modules/ng2-uploader/typings/globals/es6-promise/index.d.ts(8,15):: error TS2300: Duplicate identifier 'Promise'.

[2016-07-27 14:40] dindong commented on #49
doesnt work for me.

zone.js:101 GET http://localhost:4200/vendor/ng2-uploader/src/services/ng2-uploader.js 404 (Not Found)

[2016-07-27 14:42] jkuri commented on #49
Try this in `angular-cli-build.js`:
[code]
If it doesn't work please let me know. I'll make a working example.

[2016-07-27 14:43] dindong commented on #49
works. great. thank you.

[2016-07-27 14:44] jkuri commented on #49
no problem. glad you got it working.

[2016-07-27 14:44] #49 closed

[2016-07-28 08:28] nnixaa commented on #52
Same here https://github.com/akveo/ng2-admin/issues/113

[2016-07-28 08:41] jkuri commented on #52
This should be resolved with `0.5.6`.

[2016-07-28 11:27] supgeek-rod opened #53 "ParseError: 'import' and 'export' may appear only with 'sourceType: module'"
I use the ionic2

1. import {UPLOAD_DIRECTIVES} from 'ng2-uploader/ng2-uploader';
2. directives: [UPLOAD_DIRECTIVES],

then an error
[code]

🆘 help me

[2016-07-28 11:46] dragGH102 commented on #52
it seems so. thanks @jkuri !

[2016-07-28 11:46] #52 closed

[2016-07-28 12:53] jkuri commented on #53
Hey @supgeek-rod, you should include `ng2-uploader` as
[code]
Please check the demo page and correlated documentation.

[2016-07-28 12:58] supgeek-rod commented on #53
@jkuri no,  include `import {Ng2Uploader} from 'ng2-uploader';`  report not found this file

[2016-07-28 12:58] jkuri commented on #53
Can you share your code and I will take a look?

[2016-07-28 12:59] supgeek-rod commented on #53
see https://github.com/dev4living/HeyCommunity-frontend, new-master branch

[2016-07-28 13:01] jkuri commented on #53
okay, one moment..

[2016-07-28 13:33] jkuri commented on #53
[code]

[2016-07-28 14:40] supgeek-rod commented on #53
Not include `directives: [UPLOAD_DIRECTIVES]`？

It will be give error as follows
[code]

[2016-07-28 14:43] supgeek-rod commented on #53
Please checkout https://github.com/dev4living/HeyCommunity-frontend, dev-ng2uploader branch.
Compare the last two commits

[2016-07-28 14:46] jkuri commented on #53
[code]

[2016-07-28 14:46] #53 closed

[2016-07-29 05:43] jkuri commented on #44
This is a problem with your backend API, you must allow CORS to make this work.

[2016-07-29 05:43] #44 closed

[2016-07-29 05:44] jkuri commented on #41
Yes, @ohader is right. Related: https://github.com/jkuri/ng2-uploader/issues/44.

[2016-07-29 05:44] #41 closed

[2016-07-29 05:45] jkuri commented on #40
This is resolved with the new version.

[2016-07-29 05:45] #40 closed

[2016-07-29 05:45] #37 closed

[2016-07-29 05:45] #35 closed

[2016-07-29 05:47] jkuri commented on #33
Hey @mchestr, yes this should be the right solution if you are not using `multiple` attribute on your `<input type="file">`.

[2016-07-29 05:47] #33 closed

[2016-07-29 05:49] jkuri commented on #16
This should be resolved with the `0.5.7`.

[2016-07-29 05:49] #16 closed

[2016-07-29 05:50] jkuri commented on #36
Yes, thanks @apkostka.

[2016-07-29 05:50] #36 closed

[2016-07-29 05:50] jkuri commented on #31
Can you provide some more info about this error or share some code snippet?

[2016-07-29 05:51] jkuri commented on #28
Is this issue still present? Can you please check the new version with on Edge and let me know? Thanks.

[2016-07-29 05:53] jkuri commented on #26
You can use an `EventEmitter` for that case, I think.

[2016-07-29 05:53] #26 closed

[2016-07-29 05:54] jkuri commented on #25
This is now resolved.

[2016-07-29 05:54] #25 closed

[2016-07-29 05:55] jkuri commented on #22
Hi, if you can provide a PR for this it would be nice.

[2016-07-29 05:55] #22 closed

[2016-07-29 05:55] jkuri commented on #20
You can set any style you want to you drop area with CSS.

[2016-07-29 05:55] #20 closed

[2016-07-29 06:13] jkuri commented on #19
https://github.com/jkuri/ng2-uploader/commit/f55b48e41967eee83fbcb313b3e65c199ff5cab1

[2016-07-29 06:13] #19 closed

[2016-07-29 06:14] #14 closed

[2016-07-29 06:14] #21 closed

[2016-07-29 06:14] #13 closed

[2016-07-29 06:15] #11 closed

[2016-07-29 06:15] #9 closed

[2016-07-29 10:17] mwijnands commented on #28
This issue is still present. Just use your demo page with the Edge browser.

[2016-07-29 11:16] jkuri commented on #28
Unfortunatelly I don't have access to any Windows machine at the moment but when I got a chance I'll try to resolve this.

[2016-07-29 13:10] kasiriveni opened #54 "where the testcases"
Nice Work, but i cant see any test case

[2016-07-29 14:03] aghaasif commented on #28
I was able to resolve this problem in the earlier version of your component, but didn't have the time to submit a pull request. Sorry for that.

The problem, as far as i can remember, happens because you've used a label element in your example html to capture user's clicks. The label element bubbles up the click event to the container div element, which in case of Edge raises the click event of th

[2016-07-29 14:12] aghaasif commented on #28
Here is a stackoverflow thread that talks about a similar issue i guess:

http://stackoverflow.com/questions/17185265/jquery-click-event-triggers-twice-when-clicked-on-html-label

Label is the culprit. Don't catch me on my explanation above though if it turns out to be inaccurate as it's been some time since i troubleshoot this issue, but whatever explanation there may be, i surely remember that i

[2016-07-29 15:07] jkuri commented on #28
@aghaasif thanks a lot for you comment. Basically its not the problem with the component but with the directive assigned to `html` element.

[2016-07-29 16:47] aroget commented on #16
Im getting this same error on RC4

[2016-07-29 16:50] jkuri commented on #16
This could be an issue with not having the same versions for this module and your (RC4) version of an app. I currently use angular nightly builds for this component and I will update to RC5 when released.

[2016-07-29 17:17] aghaasif commented on #28
@jkuri yes, the problem is not with your component, but it is related to your example. I'm sure most of the developers who'd use your component will copy paste the code from your examples, so i recommend you fix the bug in there before it ends up destroying planet earth :)

[2016-07-29 18:08] jkuri commented on #28
Haha, thats funny ;) will do it.

[2016-07-30 03:56] supgeek-rod commented on #53
At first I was doing, it still does not work

[2016-08-01 20:32] kevinvella commented on #16
Hi jkuri,

I am experiencing this problem. I am at lost.

I am using the RC4 version. Building with webpack for angular 2 universal.
On the client it is dropping this error:
Error: Uncaught (in promise): No Directive annotation found on NgFileSelect

I am suspecting on how webpack is bundling things. Is it possible?

The following link is the webpack.config file:
https://dl.dropboxusercontent.com/

[2016-08-01 20:34] iwantlern opened #55 "traceur 404 (Not Found)"
Hi there!
Trying to run package with angular2 5 min quickstart (https://angular.io/docs/ts/latest/quickstart.html) and getting 404 error with traceur.
I've attached result "project". Probably, I am doing something wrong with settings. Can you look?

[angular2.zip](https://github.com/jkuri/ng2-uploader/files/394721/angular2.zip)

[2016-08-02 12:38] kevinvella commented on #16
Hi,

I've solved the issue by copying the module to the project, added index.ts for every ts file, declaring an export * statement.

This solved the issue of the No Directive annotation found on NgFileSelect, when running the app.

I suspect that before, it was not including the files in the bundle correctly.
If you have another solution, can you please suggest it :)

Thanks
Regards
Kevin Vella

[2016-08-02 14:08] jkuri commented on #16
Hi Kevin, can you submit a PR with `index.ts` and exported * for the component, I will merge it.

[2016-08-03 14:33] DavideViolante commented on #16
Hope you fix it soon, same error on RC4. That's a nice project.
Some other things I noticed on package.json:
- change angular 2 version to match the current version (rc4)
- remove es6-shim and es6-promise and add core-js instead (look angular2 quickstart package.json).

[2016-08-06 10:45] maminarghavani commented on #55
in component:
import {UPLOAD_DIRECTIVES} from 'ng2-uploader/ng2-uploader';
in systemjs.config.js:
var map = {
    'ng2-uploader': 'node_modules/ng2-uploader'
  };
and
var packages = {
    'ng2-uploader': { defaultExtension: 'js'}
  };
maybe help.

[2016-08-06 12:14] kevinvella commented on #16
HI,

Created a pull request to integrate the index.ts for the necessary files.

[2016-08-06 14:39] jkuri commented on #55
Hey guys, I preparied example for you. Althought you still need an API server.
@iwantlern the package published on npm also includes compiled `.js` so you want to include `ng2-uploader.js` instead of `ng2-uploader.ts`. The way you want to include it requires in browser compiler. Anyway here's a package:

[angular2.zip](https://github.com/jkuri/ng2-uploader/files/405049/angular2.zip)

Just run: `np

[2016-08-07 04:48] maminarghavani commented on #55
@jkuri
hi and thanks for your example.
can you test your component with angular2-webpack-starter?
i can't get it to work.
thanks.

[2016-08-07 07:43] jkuri commented on #55
Give me an example where you got stuck and I can take a look.

[2016-08-07 10:43] maminarghavani commented on #55
i just installed angular2-webpack-starter
and also ng2-upoader but when i add :
directives: [UPLOAD_DIRECTIVES]
and run the server i got this error
EXCEPTION: Error: Uncaught (in promise): No Directive annotation found on NgFileSelect
thanks again

[2016-08-07 12:52] mwijnands commented on #9
Is it fixed?

[2016-08-08 01:36] cuongutd opened #57 "enhancement: add extra form parameters when uploading file"
in component, pass in extra params in formParams :

options: Object = {
    url: environment.backendUrl + '/upload',
    formParams : [JSON.parse('{"name": "accountId", "value":"3"}')]
  };

in ng2-uploader.js:

Ng2Uploader.prototype.uploadFile = function (file) {
....
form.append(this.fieldName, file, file.name);

					var arrayLength = this.formParams.length;

					for (var i = 0; i < arrayLengt

[2016-08-09 16:55] lacroixdavid1 commented on #16
I am still getting this error. Is there anything wrong i'm doing or someone else is still getting this error?

[2016-08-09 20:38] jkuri commented on #16
How do you import module into your app? can you share you code sample?

[2016-08-10 10:00] moumoune commented on #16
Hi, I have the same error.

I try to setup "Basic exemple of upload with ng2-uploader" from the documentation.

I import the directives :
`import {UPLOAD_DIRECTIVES} from 'ng2-uploader/ng2-uploader';`

and i add it into my component as a directive:
`directives: [UPLOAD_DIRECTIVES]`

I use System JS with this config:
[code]

And my error is : _Template parse errors:
Can't bind to 'ng-file-select' s

[2016-08-10 15:38] karljv opened #58 "Module parse failed: Unexpected token"
Hello

I cannot get yout library to compile. How am I supposed to get around this?

ERROR in ./~/ng2-uploader/ng2-uploader.ts
Module parse failed: /var/www/html/project/node_modules/ng2-uploader/ng2-uploader.ts Unexpected token (14:30)
You may need an appropriate loader to handle this file type.

[2016-08-10 20:23] lacroixdavid1 commented on #16
i am importing the module this way.

[code]

I'm also declaring directives.
` directives: [PROGRESSBAR_DIRECTIVES, UPLOAD_DIRECTIVES]`

[2016-08-10 21:57] jkuri commented on #58
Hi @karljv, library is already compiled. In your `tsconfig.json` you may want to exclude `node_modules`.

[2016-08-10 21:58] jkuri commented on #16
@lacroixdavid1 please check https://github.com/jkuri/ng2-uploader/issues/55#issuecomment-238026400 where I posted example with `SystemJS` configuration.

[2016-08-11 02:12] mocking3 opened #59 "an error"
sorry . it's my problem. ignore it

[2016-08-11 02:20] #59 closed

[2016-08-11 09:15] dindong commented on #55
I get the same error with latest version of angular cli

[2016-08-11 09:26] taguan commented on #58
My build broke since last minor version (unexpected token)... I came back to last version as a quick fix

[2016-08-11 09:41] jkuri commented on #55
Just tried with the latest version of `angular-cli` and did work for me (from master).
Here's my `app.component.ts` if it helps:
[code]

[2016-08-11 09:43] dindong commented on #55
is it also angular rc5 ?

[2016-08-11 09:43] jkuri commented on #58
It works for me. Can you be more specific about the error?

[2016-08-11 09:44] jkuri commented on #55
yes, tested with creating new project with `ng new`.

[2016-08-11 09:46] dindong commented on #55
i think ng new uses rc4, you have to upgrade it manually.

[2016-08-11 09:48] jkuri commented on #55
Try using latest version of `angular-cli` from master, if you are unsure how see https://github.com/angular/angular-cli#development-hints-for-hacking-on-angular-cli.

[2016-08-11 09:49] taguan commented on #58
Unfortunately I was in a hurry to unblock the situation (because the application wasn't starting anymore), so I didn't take the time to look at what was really going wrong.

The error in the console was the following

localhost/:172 Error: SyntaxError: Unexpected token <
	Evaluating http://localhost:5555/traceur
	Error loading http://localhost:5555/traceur
	Error loading http://localhost:5555/node

[2016-08-11 09:51] jkuri commented on #58
Thanks for reporting, I did update dependencies to RC5 this morning and removed `typings` as it now use `core-js`. I will check what can cause the issue.

[2016-08-11 09:59] taguan commented on #58
I am still working on RC1, maybe it could be a cause of this issue ?
This was sneaky because I didn't update myself the dependencies and it suddenly broke (because of a ^ prefix in my package.json)

[2016-08-11 10:03] jkuri commented on #58
I am not sure since this module is not using nothing that changed from RC1.

[2016-08-11 10:11] moumoune commented on #16
Hi, thank you for the help, but I'm going crazy.

My application still does not recognize the Directive, while the example code works fine.
Here's what I've done now:

`system.config.js`
[code]

`my component`
[code]

It still does not work. The error is in my opinion a compilation problem. Let me explain:

`Code exemple of ng2-uploader.js (into node_modules/ng2-uploader)`
[code]

`My app code of

[2016-08-11 10:33] moumoune opened #60 "TypeScript compilation problem"
Hi, I'm going crazy.

My application still does not recognize the Directive, while the example code works fine.
Here's what I've done now:

`system.config.js`
[code]

`my component`
[code]

It still does not work. The error is in my opinion a compilation problem. Let me explain:

`Code exemple of ng2-uploader.js (into node_modules/ng2-uploader)`
[code]

`My app code of ng2-uploader.js (into node_m

[2016-08-11 12:04] lacroixdavid1 commented on #55
With 5.12, im getting this error

`VM18508:1 Uncaught Error: Module build failed: Error: Could not find custom rule directory: C:\ (Project folder) \node_modules\ng2-uploader\node_modules\codelyzer`

And

`Module build failed: Error: Could not find custom rule directory: C:\ (Project folder) \node_modules\ng2-uploader\node_modules\codelyzer`

It refuses to compile with codelyzer 0.27, webpack 2 an

[2016-08-11 12:59] jkuri commented on #55
Okay, thanks

On Thursday, 11 August 2016, lacroixdavid1 <notifications@github.com> wrote:

[2016-08-11 13:00] jkuri commented on #60
Check few comments above where you jave systemjs version example in zip
file.

On Thursday, 11 August 2016, Dieny Simon <notifications@github.com> wrote:

[2016-08-11 17:53] dindong commented on #55
Can you send mir the code oft the running example with latest cli? I dont get it running.

[2016-08-11 18:33] karljv commented on #58
Hello jkuri

My tsconfig.js looks like this

[code]

Every time I load ng2-uploader into my component like below, I get the same Module parse error.

[code]

Any help would be appreciated, because I seemingly cannot solve this issue alone

[2016-08-11 18:35] karljv commented on #58
The error as a whole is as follows

ERROR in ./~/ng2-uploader/ng2-uploader.ts
Module parse failed: /var/www/html/ng2project/node_modules/ng2-uploader/ng2-uploader.ts Unexpected token (14:30)
You may need an appropriate loader to handle this file type.
SyntaxError: Unexpected token (14:30)
    at Parser.pp$4.raise (/var/www/html/ng2project/node_modules/webpack/node_modules/acorn/dist/acorn.js:2221:

[2016-08-13 15:32] karljv commented on #58
I'm still pondering around this issue, are there any solutions? Am I importing something wrong? I noticed that you mentioned that this is a precompiled library, but I still don't get why my textbook example import of your directive does not work.

[2016-08-14 04:55] jkuri commented on #58
Hi @karljv, can you please try to use one version before latest?

[2016-08-14 06:44] karljv commented on #58
I tried 0.5.10, but I got the same error. I'm probably trying to compile it wrong somehow.

[2016-08-14 18:14] karljv commented on #58
Stopped trying, using another uploading directive

[2016-08-14 18:14] #58 closed

[2016-08-16 03:20] qq83387856 opened #61 "0.5.12 No Directive annotation found on NgFileSelect"
angular rc4

[code]

[2016-08-16 19:44] zaneadix commented on #61
Just installed and experiencing the same issue.
To paraphrase: +1

[2016-08-17 20:38] doncabron commented on #61
+1 Same problem here

[2016-08-18 00:09] mattathompson commented on #61
+1 Same Issue.

[2016-08-18 09:41] jkuri commented on #61
Hey guys, I bumped the new version (0.5.13), can you try this please? I made an example and cannot reproduce the problem. Thanks.

[2016-08-18 15:46] lacroixdavid1 commented on #61
@jkuri Thx a lot, it's all fixed in 0.5.13 ! Working with Angular 2 rc5, webpack2, all with lastest package dependencies

[2016-08-18 15:47] lacroixdavid1 commented on #16
it's all working in 5.0.13

[2016-08-18 20:42] jkuri commented on #61
@lacroixdavid1 no problem, good to hear it's working now.

[2016-08-18 20:42] #61 closed

[2016-08-19 07:54] sam-negotiator commented on #55
I have the same issue with Angular CLI and Angular2 rc4. Downgraded to 0.5.10 as @dindong said and it works now.
Thanks for your efforts and keep up the good work.

[2016-08-22 07:31] FabianMeul opened #63 "Sourcemap hardcoded path"
When including the library in an Angular2 Typescript JSPM environment, I receive errors regarding the loading of SourceMaps. The path to the SourceMap seems to contain hardcoded elements, causing the load to fail.

This is the error I'm getting:

[2016-08-23 16:22] nastakhov commented on #55
Same here - getting on angular2 RC5
zone.js: GET http://localhost:3000/traceur 404 (Not Found)

works on 0.5.10 version

[2016-08-24 06:22] xchatter commented on #16
Still the same error - rc4

[2016-08-24 12:30] MJochim commented on #55
@jkuri: In e5846dcdee2493bd7980256254bf713f6045a272, you changed the output module format from commonjs to es6 in `tsconfig.json`. This has made `ng2-uploader.js` an es6 module, which current browsers cannot load natively (except for Edge I think?).

Now I guess that SystemJS recognises this and tries to load Traceur, which fails because most of the commenters here (including myself) do not use Tr

[2016-08-24 16:26] jkuri commented on #55
Hi @MJochim, https://github.com/jkuri/ng2-uploader/blob/e5846dcdee2493bd7980256254bf713f6045a272/tsconfig.json#L11 target is still es5 so I believe this is correct.

[2016-08-24 16:34] MJochim commented on #55
Although the target is es5, the Typescript compiler will still produce modules in ES2015 syntax. These have import and export statements and look very much like the original Typescript code. Unfortunately, they are not understood by most of today’s browsers.

Just try and set module (https://github.com/jkuri/ng2-uploader/blob/e5846dcdee2493bd7980256254bf713f6045a272/tsconfig.json#L8) to `commonjs`

[2016-08-24 16:35] jkuri commented on #55
Okay, I will update this today. Thanks for notice.

[2016-08-26 00:25] jkuri commented on #63
This should now be resolved.

[2016-08-26 00:25] #63 closed

[2016-08-26 00:26] jkuri commented on #55
https://github.com/jkuri/ng2-uploader/commit/38157e891c9090b122c58f74f505a7440278fca6

[2016-08-26 00:26] #55 closed

[2016-08-27 00:24] denkomanceski opened #65 "Programatically upload"
Can we programatically upload instead of when the user clicks the file?

Example: We need to save some other data which also has picture, so first we save the data normally, than call the request to save the photo?

Ty

Edit: I can see that Ng2Uploader service exists, but I cannot see an example.

[2016-08-27 12:38] denkomanceski commented on #65
I added autoUpload: false to the options and than I got the instance of the directive's class like ```@ViewChild(NgFileSelect) private fileSelect: NgFileSelect;``` and than used ```    this.fileSelect.uploader.uploadFilesInQueue();``` to manually upload it.

[2016-08-27 12:38] #65 closed

[2016-08-29 13:16] sbahmani opened #67 "Repeat File Upload in Multiple File Upload Mode"
when use multiple file upload and select some file it works first time but for next click upload button some file uploaded that not selected in second select.
for example i select w1.png and w2.png in first select and get :

[code]

but in second select w3 and w4 but w2 repeate in file upload:

[code]

[2016-08-29 17:45] sbahmani commented on #67
I think the problem relate to this code in `ng2-uploader.ts`:
` this.removeFileFromQueue(queueIndex);`
queueIndex is not calculate properly

[2016-08-29 18:47] jkuri commented on #67
Yes, this is a known issue and it is not related to queue I think. When files are uploaded or even when uploading begins, correlated file should be remove from `this.el.nativeElement.files` in directive. Thanks for reminding me, I will make a fix in next days.

[2016-08-30 03:05] sbahmani commented on #67
Thanks @jkuri . When I add this code in file handle function, it fixed:

[code]

[2016-08-30 08:59] karandesai28 opened #68 "Unexpected token < in JSON at position 0"
Two questions:
1. What is the use of [ng-file-select]? Can I pass its object value null?
2. In this code, the code breaks at "this.uploadFile" and console says the error: Unexpected token < in JSON at position 0.

[code]

Any assistance appreciated. Thanks.

[2016-08-30 12:01] sbahmani commented on #68
`data.response` is the  response that reset file handler serve it.

[2016-08-31 11:18] mickeychu opened #69 "How can I add more params along with the file upload?"
How can I add more params (like {user_id: 2, job_id: 3}) along with the file when uploading?

Many thanks!

[2016-09-02 02:12] yeelan0319 commented on #35
@escarabin
I am getting this error when using jspm to bundle the js files for serving purpose, but not getting it when running separately with systemjs. May I know what tool you to bundle them to avoid this error in production? Thanks!

[2016-09-02 03:32] leocaseiro opened #70 "Demo ng2-uploader.com is down"
Hi @jkuri,
Thanks for this amazing lib. It's pretty easy to implement.

Unfortunately, the demo website is down, perhaps publishing as a `gh-pages` would be easier to maintain?

Thanks

[2016-09-02 05:36] leocaseiro commented on #20
Example with drop-over effect:

[code]

[code]

[2016-09-02 08:17] Ks89 commented on #69
This question is very important. Please, can someone explain how we can do that?

[2016-09-02 17:43] jkuri commented on #35
@yeelan0319 I suppose your tool for bundle is eliminating the code that is actually in use. If you are using `webpack` see the configuration examples for production at https://github.com/angular/angular-cli or https://github.com/AngularClass/angular2-webpack-starter and compare it to yours. I had similar problems before and it was an issue with the production config.

[2016-09-02 17:45] jkuri commented on #70
Hi,

it does work for me. I moved demos to another VPS recently, maybe you still have stored previous DNS records in your browser cache.

Cheers, Jan

[2016-09-02 17:46] #70 closed

[2016-09-02 17:47] jkuri commented on #69
It is not currently possible, but I agree it should be in the future. It's on my todo list.

[2016-09-02 17:48] #60 closed

[2016-09-02 17:48] #6 closed

[2016-09-04 14:37] cissecedric opened #71 "Error: ReferenceError: NgFileSelect is not defined(…)"
Hello,

I'm using this code but I get the error NgFilePreview is not defined, with angular rc.6 (wich I currently use) it is not possible to add directives in @component, I don't know if it can explain the problem?

import {Component, NgZone} from '@angular/core';
import {UPLOAD_DIRECTIVES} from 'ng2-uploader/ng2-uploader';

@Component({
  selector: 'image-preview',
  templateUrl: 'app/components/

[2016-09-04 16:26] jkuri commented on #71
Hi, on the demo link there's a link to sample app which is based on RC6.

[2016-09-04 16:26] #71 closed

[2016-09-04 17:09] BehnamAbdy opened #72 "implement with pure javascript"
i want to know how can i import and use ng2-uploader in my angular2 app written in pure javascript (not typescript).
i've already added the reference to ng2-uploader.js and when i add the UPLOAD_DIRECTIVES  to my app.componen.js attributes things crash

(function (app) {
    app.AppComponent =
      ng.core.Component({
          selector: 'app',
          templateUrl: 'app/components/app.component

[2016-09-04 17:12] jkuri commented on #72
Honestly I never tried using universal, what is the console error output?

[2016-09-04 17:16] cissecedric opened #73 "how to use / implement the demo for rc.6 ?"
Hi,

I've just download the demo app 'ng2-uploader-demo' for rc.6, but how can I use/implement / test it ?
npm start won't work ..

Could someone tell me what am I missing ?
Regards.

[2016-09-04 17:18] jkuri commented on #73
@cissecedric first run `npm install` then run it with `npm run serve`. This will open your browser with the app. Please let me know if you need further help.

[2016-09-04 17:22] BehnamAbdy commented on #72
here are errors:

Uncaught ReferenceError: require is not defined
Uncaught ReferenceError: ng2 is not defined
Uncaught Unexpected value 'undefined' declared by the module 'constructor'

[2016-09-04 17:29] cissecedric commented on #73
Thankyou Jurki,

But I get a few erros, runing npm serve:
[npm-debug.txt](https://github.com/jkuri/ng2-uploader/files/454033/npm-debug.txt)
Regards,

[2016-09-04 17:36] jkuri commented on #73
No problem :-).
Can you try to update `node` to the latest version, otherwise there's some issue with the starter this demo is based on Windows. However this is not the problem with the `ng2-uploader` itself and the demo app gives you an example how it should be included.

[2016-09-04 17:37] jkuri commented on #72
I am guessing that importing as `ng2-uploader.UPLOAD_DIRECTIVES` is not correct.

[2016-09-04 18:11] cissecedric commented on #73
I updated node v6.3.0. same error after...  I think it's a problem with "rollup".
I check and tell you...
Regards and thank you,

[2016-09-05 08:10] shuidian opened #74 "How to preview image?"
is there any way to get the img preview data?

[2016-09-05 15:13] jkuri commented on #74
Hey @shuidian. Yes, please see http://ng2-uploader.com/advanced and correlated [documentation](http://ng2-uploader.com/docs).

[2016-09-05 15:14] jkuri commented on #69
It is now possible since `1.0.0`. You just past `data: {}` to `options` object. For more information please see [documentation](http://ng2-uploader.com/docs).

[2016-09-05 15:14] #69 closed

[2016-09-05 15:14] #57 closed

[2016-09-05 15:14] jkuri commented on #45
http://ng2-uploader.com/docs

[2016-09-05 15:14] #45 closed

[2016-09-05 15:15] jkuri commented on #15
http://ng2-uploader.com/advanced

[2016-09-05 15:15] #15 closed

[2016-09-06 11:04] #73 closed

[2016-09-06 11:09] mickeychu opened #75 "How to catch the response from the server after uploading?"
Thank you for the new version, now the uploading works great.
However, I still need to catch the response from the server, how can I achieve that?

Looks like I can not add **subscribe** directly after the **uploadEvents.emit**

[code]

[2016-09-06 11:18] jkuri commented on #75
Please check https://github.com/jkuri/ng2-uploader#basic-example. It includes full example how to achieve that.

[2016-09-06 12:23] mickeychu commented on #75
Thank you, it works!!!

[2016-09-06 12:23] #75 closed

[2016-09-07 02:37] leocaseiro commented on #70
Honestly, I've tried a few more times and it did work once, but it's down again.

[2016-09-07 12:00] mickeychu opened #77 "Upload mutiple files bug!"
Hi, I realized that there's a bug when uploading files.

Here's the use case:
I just want the user of my app to upload 1 file at a time. But, if I choose a file, not upload it then choose another one then click upload (I want to upload file manually by a button) So both files will be uploaded to the server. (So if I choose more and more, all files will be uploaded to the server.)

Here's my code:

[2016-09-07 12:17] jkuri commented on #77
Hey,

I know, there's a problem with FileList API which is readonly.

[2016-09-07 12:32] mickeychu commented on #77
hmm, so is there any manual way to fix this? Or at least just upload the latest chosen file?

[2016-09-08 19:31] mickeychu commented on #77
will this be fixed in the next release @jkuri  ?

[2016-09-08 20:04] keithmichelson opened #78 "Size restraints?"
Hey, anyway to restrict the image size in extendedOptions?

Thanks.

[2016-09-10 17:26] wouterhummelink opened #80 "Cannot change url after component initialization"
Hi,

I'm trying to get an uploader to work. However in my API the URL for the file upload is dependent on the parent object ID. I've added a property that contains the ID and when the upload happens the options object contains the correct URL, but the actual upload does not.

How can I set the upload url at the time the upload starts?

[2016-09-12 18:37] kolkov opened #81 "I needed to change systemjs.config.js after installing."
Hi!
I needed to change systemjs.config.js after installing.
But nothing about it in docs.))

[2016-09-12 18:58] kolkov opened #82 "allowedExtensions not working"
When I setup allowedExtensions: ['image/png', 'image/jpg'] like in example, I can't upload jpg files.

[2016-09-12 19:06] kolkov opened #83 "How to preview and crop images before upload"
Hi!
I want to crop image and upload it as user avatar.
Do we have events beforeUpload?

[2016-09-13 01:18] pulgaroja commented on #81
Hello @kolkov I tried adding it to my systemjs.config.js but it is still not recognized in my app.module.ts. Here are the changes I made:
`// map tells the System loader where to look for things
  var map = {
    'app':                        'app', // 'dist',

    '@angular':                   'node_modules/@angular',
    'angular2-in-memory-web-api': 'node_modules/angular2-in-memory-web-api',

[2016-09-13 19:19] jkuri commented on #80
https://github.com/jkuri/ng2-uploader/pull/84

[2016-09-13 19:19] #80 closed

[2016-09-13 19:20] jkuri commented on #82
Hi @kolkov please see the README.

[2016-09-14 14:25] danyhoron opened #85 "typings property missing in package.json when installing from npm"
Could you please add:
"typings": "ng2-uploader.d.ts",
to the package.json when installing through npm, so VSCode will pick it up?

Thank you.

[2016-09-14 14:33] jkuri commented on #85
Will do.

[2016-09-15 01:55] jkuri commented on #85
https://github.com/jkuri/ng2-uploader/commit/66f7ef62f9fef078cb4dc2b82e294bf15fdc68f0

[2016-09-15 01:55] #85 closed

[2016-09-16 01:09] palpa commented on #77
I'm also facing the same issue, any fix?

[2016-09-16 08:09] choopage commented on #82
it's working. I tested it.

[2016-09-16 08:10] choopage commented on #74
I used the img preview too. It is working. Good

[2016-09-19 18:55] manosxviii opened #87 "Can't bind to 'options' since it isn't a known property of 'input'"
hi. I follow the example and I get this error. I guess it's my fault but please help. I am using rc.5

[2016-09-19 18:57] jkuri commented on #87
that usualy means you forgot to include `UPLOAD_DIRECTIVES` into NgModule declarations array.

[2016-09-20 11:27] Nick-Triller opened #88 "[events] property not working with Angular 2 final"
The startUpload event has no effect when Angular 2 final is used.

ng-file-select.ts contains the following check:
[code]

This instanceof check always fails when Angular 2 final is used, therefore the subscribe method is never called.

[2016-09-20 11:29] jkuri commented on #88
Not sure where you got `startUpload` event name though.

[2016-09-20 12:00] Nick-Triller commented on #88
Please see ng2-uploader/src/directives/ng-file-select.ts, line 55.

[2016-09-20 12:06] Nick-Triller commented on #88
Please see ng2-uploader/src/directives/ng-file-select.ts, line 55.

Some more details:

Template:
[code]

Component:
[code]

The startUpload function is never called because the EventEmitter that is passed via [events] fails the `instanceof EventEmitter` check.

[2016-09-20 12:11] jkuri commented on #88
I suggest you use code from examples which confirmed works.

[2016-09-20 12:17] Nick-Triller commented on #88
Thank you for your fast feedback. :) I will try to reproduce this bug with the example code.

[2016-09-20 12:19] jkuri commented on #88
no problem, I just don't see a reason complicating things if the example code works for all the users and no-one complains about it.

[2016-09-20 12:42] Nick-Triller commented on #88
I managed to reproduce the same bug when using the last example ("Filter Allowed Extensions with Preview Enabled and Manual Upload Example") on [this ](http://ng2-uploader.com/docs) page with Angular 2 final. This is the only example which uses the [events] property.

Changing ng-file-select.ts from
`
if (this.events instanceof EventEmitter) {
    this.events.subscribe((data: string) => {

[2016-09-20 12:45] jkuri commented on #88
thanks Nick, can you please provide a PR which solves the issue and I'll accept it right away?

[2016-09-20 12:49] Nick-Triller commented on #88
Sure, will do.

[2016-09-20 12:56] Nick-Triller commented on #88
Solved

[2016-09-20 12:56] #88 closed

[2016-09-20 15:24] josealonsogarcia opened #91 "Modify 'options' after onInit"
Hi,

I would like to know if I can modify the 'options' once onInit is executed. Just in my case I want to add, in the "data" field", some data relative to the file like description added by the user.

Thanks!

[2016-09-20 15:30] jkuri commented on #91
hey! yes, that is available since https://github.com/jkuri/ng2-uploader/commit/fdb99b149e9038d6f120dda567c3d3e1dd801159.

[2016-09-21 08:26] josealonsogarcia commented on #91
Cool! Thanks!

[2016-09-21 08:26] #91 closed

[2016-09-22 07:06] hammerpath opened #92 "How to show selected file name?"
The html input shows the name of the file that's chosen. Is it possible to show here when autoUpload is set to false?

[2016-09-22 19:13] keithmichelson opened #93 "File not saving"
I'm using the basic example with Express and I never get a file saved to a folder? I don't get an error but I can run tests and see that the functions are being called. I'm getting the original and new name callback.

Is the image suppose to be in an uploads folder in my express app?

[2016-09-23 07:33] kelvinrolex opened #94 "Error: Uncaught Unexpected value 'NgFileDropDirective' declared by the module 'AppModule'"
I was using SystemJs for my Angular2 project and everything works fine until I changed to Webpack and I started getting this error in the console: Uncaught Unexpected value 'NgFileDropDirective' declared by the module 'AppModule'.

Please how do i solve this issue...

[2016-09-23 19:53] naveedahmed1 opened #95 "Multiple files upload with preview"
Hi,

When uploading multiple files (with preview enabled), it is possible to show the preview image for each of the selected file. But on completion of the image upload, I want to replace the preview of the image with the corresponding uploaded image url.

Since onPreviewData, just provide the Base64 encoded image data without any id of the image, therefore it doesn't seem to be possible to replac

[2016-09-23 20:21] naveedahmed1 opened #96 "maxUploads Limit dooest seem to work"
Hi,

It seems that the maxUploads options doesn't seem to work.

I assume that maxUploads options should allow us to set a limit on maximum concurrent uploads.

[2016-09-23 20:37] jkuri commented on #96
yes, if I remember correctly this is not implemented yet.

[2016-09-23 20:38] jkuri commented on #95
did you try to replace it with setting `[src]` with response you get?

[2016-09-23 20:39] jkuri commented on #94
@kelvinrolex `NgFileDropDirective` is not existent and does not work. You need to use `NgFileDrop` so its just a typo.

[2016-09-23 20:40] jkuri commented on #93
I guess I should update example for express then, maybe is a problem with the plugin for saving not properly configured. Did you maybe resolve this? If so, can you post a fix? Thanks.

[2016-09-23 20:43] naveedahmed1 commented on #96
Any plans to implement it soon? Can you please guide how to enforce it in the service?

[2016-09-23 20:44] jkuri commented on #96
I believe you are looking for this https://developer.mozilla.org/en/docs/Web/API/FileList

[2016-09-23 21:04] naveedahmed1 commented on #95
Yes, this works in case of single file. But in case of multiple files it doesn't work because it doesn't know which preview to replace.

[2016-09-23 23:07] rezikovka commented on #81
@pulgaroja , may be you should use in app.module.ts
 import { UPLOAD_DIRECTIVES } from 'ng2-uploader/ng2-uploader';
instead of
import { UPLOAD_DIRECTIVES } from 'ng2-uploader';
because in your systemjs.config.js you put 'ng2-uploader.js' as main file, but in app.module.ts you write path only to the directory with main file

[2016-09-24 08:04] kelvinrolex commented on #94
Ok thanks for your response, but the issue has been resolve, I was imprting it from my vendor.ts file while it has already been imported from my app.module.ts file, so when I removed the import from the vendor.ts file the error was fix. Thank you once more for your response and I must say that this ng2-uploader is the best I have seen so far.

[2016-09-24 08:04] #94 closed

[2016-09-24 15:52] AndrewKralovec opened #97 "Module parse error"
I'm trying to import your module into my project but im getting a parse error.

**ERROR**

ERROR in ./~/ng2-uploader/ng2-uploader.ts Module parse failed: /home/andrew/workspace/CSharp/LinuxASP/Upload/node_modules/ng2-uploader/ng2-uploader.ts Unexpected token (8:30) You may need an appropriate loader to handle this file type. SyntaxError: Unexpected token (8:30)

**Component.ts**

[code]

Webpack.c

[2016-09-24 16:31] jkuri commented on #97
I think in this case you need to import compiled `.js` that comes along with the package. Looks like you are importing `.ts`.

[2016-09-24 17:51] AndrewKralovec commented on #97
Okay,
import { UPLOAD_DIRECTIVES } from 'ng2-uploader.js';

gives me Cannot find module 'ng2-uploader.js'.

[2016-09-24 21:19] rashtay opened #98 "Progress is not working"
I see 1% and then there is no indication of file being uploaded. After few sec the file gets uploaded. Even the progress indicator is not working in the demos.

[2016-09-24 21:20] rashtay opened #99 "How to implement file-upload and drag and drop together?"
I am unable to use both the directives in a same block. I wanna give user the option to click and upload or drag and drop.

[2016-09-25 03:49] keithmichelson commented on #93
@jkuri Thanks for replying. I wasn't sure the exact problem but here is what I got to work finally after going through the multer docs. Pretty close to what you had but I'm only doing one file.

`var storage = multer.diskStorage({
  destination: function (req, file, cb) {
    cb(null, 'public/uploads/')
  },
  filename: (req, file, cb) => {
    let ext = path.extname(file.originalname);
    cb(nul

[2016-09-25 06:53] jkuri commented on #93
@keithmichelson thanks, I'll update the readme with that example.

[2016-09-25 06:54] jkuri commented on #98
Yes, there are some issues with upload server.

[2016-09-25 19:50] keithmichelson commented on #83
I'm trying to the same thing using adobe aviary editor. I haven't got it to work but maybe using the preview and startUpload() might help. Bottom page of the docs. http://ng2-uploader.com/docs

Currently I'm just going to upload 2 versions a before and after, I've got the image coming back from the Aviary editor after cropping but I'm not sure how to upload without it automatically uploading on im

[2016-09-25 19:52] keithmichelson commented on #82
I had to take out image and just use  ['png', 'jpg']. I don't get an error but it doesn't let it upload.

[2016-09-25 20:00] keithmichelson opened #100 "Upload image without selection"
Is there a way to manually upload an image element instead of choosing a file? I'm using the aviary image cropper that returns the image element after cropping and need to then upload that to the server.

I realize this isn't quite what the plugin does but maybe it's possible somewhere.

Thanks.

Keith

[2016-09-25 23:57] Kbalz commented on #87
I'm also struggling with this error. Using 2.0 release.

# **systemjs.config.js**
`
(function (global) {
    System.config({
        paths: {
            // paths serve as alias
            'libs:': 'libs/'
        },
        // map tells the System loader where to look for things
        map: {
            // our app is within the app folder
            app: 'app',
            // angular bundles

[2016-09-25 23:58] jkuri commented on #87
Please make sure you include this module into NgModule.

[2016-09-26 00:43] Kbalz commented on #87
Yes I think I have that, it is like this:

@NgModule({
imports: [
BrowserModule,
routing,
CommonModule,
FormsModule
],
declarations: [
AppComponent,
WelcomeComponent,
MonthComponent,
UPLOAD_DIRECTIVES
],

[2016-09-26 04:09] #100 closed

[2016-09-27 00:20] Kbalz commented on #87
I think my problem lies in the systemjs.config.js  - can you please post how a proper reference should look? I know that may be outside of the scope for this project, but it may help as many of us learn Angular2 as well.

[2016-09-27 00:31] stevedenman commented on #99
Hi @shettyrahul8june, I needed the same - ended up creating 2 uploaders next to each other (one ngFileDrop and one ngFileSelect).

[2016-09-27 08:24] shettyrahul8june commented on #99
@stevedenman Yea, even I ended up doing something like that.

Below is the code if someone wants to implement both the features:

[code]

Then, I absolutely positioned the upload link/button next to the drag and drop text. I hope it's correct.

[2016-09-27 08:49] acfscience opened #101 "Allow to update options at anytime"
Options for NgFileSelectDirective are allowed to be set only when the directive gets initialized. However, there are additional scenarios when I would like to update these before upload such as when I am sending additional data that is entered through a form or when the upload url dynamically changes based on what is been uploaded.

[2016-09-28 13:00] dragGH102 opened #102 "How is data property meant to be parsed and why Express example only works partially?"
NOTE: I'm using v0.5.6 with Angular 2 rc2

These are the options:

[code]

I have 2 issues:
1. I tried the express server example. The response returned is correct. However (even by creating manually the uploads/ folder in a folder with writing permissions) **no file is stored**
2. I can't figure out how to actually receive the **data** (hasHeader etc.)  when sent together with the file. There is

[2016-09-28 19:53] wouterhummelink commented on #101
I'm still facing the same problem, even after the pull request that was supposed to fix it I can't seem to get the input to use the updated options after getting the proper metadata.

In the parent component that has options propertybound I try doing this.
EmailId is propertybound from another parent component.

`    ngOnChanges(changes: {[ propName: string]: SimpleChange}) {

      var newOptions

[2016-09-28 20:26] wouterhummelink commented on #101
Solutions turns out to be to create a copy of the options object, insert the new values and then assign it back to the databound variable:
`
var newOptions = Object.assign({},this.extendedOptions);
`

[2016-09-29 12:56] dragGH102 commented on #102
As for the Express server I solved.

however I don't really see how the **data** field is used (it's assigned but **never used** in the source code)
To allow me to send me both the file and the payload I modified the following:

[code]

[2016-09-29 15:04] andershagebakken commented on #102
I am using the formidable module in my node backend with express, and the module allows me to get the data field as such:
`var form = new formidable.IncomingForm();
form.uploadDir = UPLOAD_DIR;
form.parse(req, function(err, fields, files) {
  // files: uploaded files
  // fields: this is where the data field is
});`

[2016-10-02 09:14] truongvu2106 opened #103 "Do something after uploaded"
I want to do something when uploading completed. But how can I know when the files uploading completed?

Thanks

[2016-10-04 16:15] shafihuzaib opened #104 "How to handle the upload on form submission"
I see that the `handleUpload` is bound to the upload event. However, my form contains some text inputs as well as a file field for image upload.

Can anyone please demonstrate the procedure, or just hint towards one!

[2016-10-04 16:19] jkuri commented on #104
Are you looking for `data` key or you are not doing this right.

[2016-10-04 16:27] shafihuzaib commented on #104
No, not just data.
The file gets uploaded the moment a file is selected. I, however,  want the file to be uploaded after the form (this `file` element is in) gets submitted, that is, when the form's submit button is hit.

[2016-10-04 16:52] jkuri commented on #104
then you are looking for `autoUpload: false` option. Please check the http://ng2-uploader.com/docs

[2016-10-04 17:13] shafihuzaib commented on #104
Yes I saw that. But then, how would the file upload when I submit the form. In the Component class, I don't have any uploader object.

[2016-10-04 20:32] dominickp commented on #91
Could someone explain how this is done? I can't seem to figure out how to modify the options after onInit.

[code]

Provides an undefined url error on upload if done after onInit and before the startUpload event is called.

[2016-10-04 20:43] shafihuzaib commented on #104
Sorry! I probably was being careless & read incomplete. If anyone else stumbles here, the `Manual Upload` is demonstrated [here](http://ng2-uploader.com/docs#filter)

[2016-10-04 20:43] #104 closed

[2016-10-04 22:08] jkuri commented on #103
Hi @truongvu2106, you get the status 200 in the response which tells you that upload was successful.

[2016-10-05 12:36] kolkov commented on #83
@keithmichelson I think with using `autoUpload: false`...

[2016-10-05 14:50] truongvu2106 commented on #103
Hi @jkuri, I mean when I upload multiple files. how can I know all files uploaded?

[2016-10-05 15:06] jkuri commented on #103
just check the response, in case of multiple uploaded files you get an array of responses.

[2016-10-05 15:46] #103 closed

[2016-10-05 16:02] lucamorelli opened #105 "problem with file upload"
trying to upload a file to an asp.net web app I obtain this error message

`An unhandled exception has occurred while executing the request System.IO.InvalidDataException: Missing content-type boundary.`

I compared two my app, one using angular 1 and one using angular 2 using chrome tools.
the angular component send this **Content-Type:multipart/form-data; boundary=----WebKitFormBoundaryXAIXdwxDD

[2016-10-05 16:06] jkuri commented on #105
this is a problem with the backend server, not this module I guess. Otherwise you can set custom headers also. Please check the docs.

[2016-10-05 16:26] lucamorelli commented on #105
looks like there is a potential issue if I change the custome header of content type, the boundary is not added after the content-type itself.

[2016-10-05 21:21] natcohen opened #106 "Pure client side upload"
Currently the file upload is exclusively handled by the server (you need to provide the option.url).

I'm looking for a simple solution to send the file(s) to the function so I could use [FileReader](https://developer.mozilla.org/en/docs/Web/API/FileReader) to process the file. I don't want to call any URL... Modern browsers support local databases that can store files and that use case is very co

[2016-10-07 06:57] tomscript opened #107 "ng2-uploader.com/demo doesn't upload"
http://ng2-uploader.com/demo doesn't upload in Version 53.0.2785.116 (64-bit).

[code]

[2016-10-07 08:25] chrizy commented on #87
Having the same issue using 2.0.0 release, with CLI (webpack).  UPLOAD_DIRECTIVES is included in my app module.

[2016-10-07 10:31] jkuri commented on #107
Yeah I know, forgot to pay the uploading destination server :) need to fix that.

[2016-10-07 11:38] tb commented on #9
@jkuri the solution you described works.

    <input #uploader type="file" ngFileSelect ... (onUpload)="onUpload()">

    @ViewChild('uploader') uploaderInput: ElementRef;

    onUpload() {
      // ....
      this.uploaderInput.nativeElement.value = '';
    }

or directly in template:

    <input #uploader type="file" ngFileSelect ... (onUpload)="uploader.value=''">

Dont you think this should be

[2016-10-07 11:40] jkuri commented on #9
@tb thank you! Maybe could be done there, can you maybe provide a PR with that example to be included in README? I would really appreciate it as a lot of users are asking this question. Thanks.

[2016-10-07 12:06] tb commented on #9
@jkuri Ill make PR during weekend

[2016-10-07 12:15] jkuri commented on #9
okay, thanks

[2016-10-08 11:04] nhatdq1810 opened #108 "Problem with using both ngFileDrop and ngFileSelect"
Hi, I put ngFileDrop inside a div and ngFileSelect inside an input with type file. When I open dialog to choose file from ngFileSelect, I also want to drag a file in that dialog to div ngFileDrop too, but when I drag a file to that div, Chrome always stops working.

Is there another way to open file chosen dialog from ngFileDrop ? I have used input tag with ngFileDrop, when I dbclick to open file

[2016-10-08 20:20] andela-oosiname commented on #87
Having same issue here as well

[2016-10-09 11:56] danielserrao commented on #87
Same problem here

[2016-10-10 15:09] maleck13 opened #110 "how do you handle errors from the server?"
Hey enjoying using your library. But having trouble finding out about an error. For example, if my server returns a 401 how do I get notified of that error?

[2016-10-10 15:18] jkuri commented on #110
hey. thanks for the heads up. you should get response with 401, debug response. if you don't get correct status code back may be a problem with your api server, I believe.

[2016-10-11 14:36] pats commented on #67
Any chance to fix issue?

[2016-10-11 14:58] jkuri commented on #67
I think it was resolved by https://github.com/jkuri/ng2-uploader/pull/109
/cc @tb

[2016-10-11 16:02] pats commented on #67
Queue in ng2-uploader is never cleared. I'm using example with multiple="true" from doc. Queue should be cleared always after adding some new files.

[2016-10-12 07:23] pats commented on #67
I'm sorry, my mistake. I forget about option fieldReset:true

[2016-10-13 04:33] darkkean commented on #98
Also having this issue when I was still in RC4. I thought it will be resolved by upgrading to Angular 2 Final 2.0.1, but still having the error.

I added a console.log on first line of handleUpload function and found out that `data.progress.percent` is immediately set to **100**. On second check, it stays at 100, even the image was already uploaded.

[2016-10-14 14:00] shafihuzaib opened #112 "Handle multiple (different) file upload"
I have a form which has **two** `file` fields, one for logo and other for a `pdf` document. Would it be possible to upload such a form in one go?

[code]

[2016-10-16 14:48] kolkov commented on #100
Hi, @keithmichelson, how you solved this problem?

[2016-10-18 13:49] webtrix opened #113 "Issue: how to update an authToken"
Hi,

The `authToken` is being set in `ngOnInit` but how can it be updated? I have a token that's being refreshed every 10 minutes. How can I solve this?

[2016-10-19 06:54] #113 closed

[2016-10-19 09:49] rafaelhrsantos opened #114 "App fails to compile when using rootDir in tsconfig"
This seems to be due to .ts and .d.ts files existing within the same directory and causing the typescript compiler to recompile the module and then getting confused because it is outside of the rootDir.

We receive errors similar to this for all .ts files (except .d.ts)
`error TS6059: File '/node_modules/ng2-uploader/ng2-uploader.ts' is not under 'rootDir' 'src'. 'rootDir' is expected to contain a

[2016-10-21 14:28] carlosthe19916 opened #115 "Upload with Submit button on ngFileSelect"
Is there any way to upload the file using a button and not upload the file automatically?

[2016-10-22 19:54] schwamster opened #116 "allowedExtensions does not work for ngFileDrop"
works fine for ngFileSelect, but not for ngFileDrop. Am i doing anything wrong or is that just not supported yet?
example:

controller:
`
...
this.options = {
            url: '/api/upload',
            filterExtensions: true,
            allowedExtensions: ['image/png', 'image/jpg']
        };
...
`
template:

[code]

[2016-10-22 20:06] schwamster opened #117 "how to react to uploads of not allowed extensions"
while it works to restrict a user from uploading files via ngFileSelect when setting the options accordingly i am missing a way to interact with the user and show a message that the extension is now allowed.  Is there a way of doing this?

config:
` this.options = {
            url: '/api/upload',
            filterExtensions: true,
            allowedExtensions: ['image/jpg']
        };`

[2016-10-22 21:58] jkuri commented on #117
Hi @schwamster. You mean when you update options?

[2016-10-23 06:23] schwamster commented on #117
sry, i guess i wasn't to clear. Here is what i want to be able to do:

Given options.allowedExtensions are limited to image/jpg && options.filterExtensions is true
When a user chooses a file with extension pdf
Then upload does not start
**Then a message is displayed to the user: "Only jpg's are suppported"**

The part that i am missing is the last "Then" and i have not found a way of doing that in

[2016-10-23 06:50] jkuri commented on #117
hmmm.. I am not aware of any hardcoded string like `Only jpg's are suppported` or such, is that maybe a browser specific reply, not sure.

[2016-10-23 06:55] schwamster commented on #117
did not really mean a hard coded string. all i want is a way of being notified by your ng2-uploader that the file the user tried to upload does not match any in the configured options

[2016-10-23 06:56] jkuri commented on #117
okay, sorry, got it now... can you maybe make a PR for this, I will accept it? thanks.

[2016-10-23 06:57] schwamster commented on #117
k

[2016-10-23 18:48] schwamster opened #119 "add support for maxSize option"
I could use one more option where the max size of the uploaded images can be set.

`
this.options = {
            url: '/api/upload',
            maxSize: 10000
        };
`

[2016-10-24 04:48] #117 closed

[2016-10-24 05:07] schwamster commented on #119
duplicate #78

[2016-10-24 05:07] #119 closed

[2016-10-24 05:08] schwamster commented on #78
@jkuri would you mind a pr for that?

[2016-10-24 08:27] simkepal commented on #95
+1

[2016-10-24 09:36] kevinvella opened #120 "Options Input - 2 way data binding"
Hi,

Is there any chance that the options input accepts two way data binding?

Regards
Kevin

[2016-10-24 09:51] kevinvella commented on #120
Hi,

Sorry but i run a test, and apparently it works with 2 two data binding. Cheers for implementing this in the latest releases, as with the angular 2 rc4 version it was not working.

Kevin

[2016-10-24 09:51] #120 closed

[2016-10-24 15:41] suplik10 opened #121 "Change fileName before upload"
Hi,
at first time thx for great job :) But i have a question. Is there any way how to change fileName before update? Attribute name on object file i can't change because is read only. I found a solution when we can change file name when adding file to formdata. But its locked in your directive. Have you another solution pls ?

THX!

[2016-10-24 20:32] suplik10 commented on #108
Hi,
I have the similar problem. When I want use ngFileSelect input inside div of ngFileDrop I got the following exception (autoload true):
`<div class="column is-2 drag-and-drop-container" #cdire ngFileDrop
     [options]="basicOptions"
     [events]="events"
     (onUpload)="handleUpload($event)"
     (drop)="handleDragLeave($event)">
          <label class="upload-button ">
            <input  c

[2016-10-28 11:03] simkepal opened #123 "Max file size, maximum number of files and error handling"
Hello,

Great service!
I have three questions.
Is it possible to allow only files, that are smaller than 5MB?
Can you limit number of files? So that user can upload only 5 images?
What if api server returns an error? How can be this handled?

Thank you for your help!

Best regards!

[2016-10-31 12:48] Buyomer commented on #116
I'm having same problem.

[2016-11-03 12:57] samfrach opened #124 "ngFileDrop : method onUpload provides UploadedFile without Uploader"
Hello,

thank you for the development, very useful !!!

When I drag&drop 10 files, I can't display that I am uploading file #3 ... I can't access to the uploader to get for example the QueueSize() ...

Is it changeable ?

thank you

[2016-11-03 16:49] lipinets commented on #87
I have the same. Please help to solve.
Can't bind to 'options' since it isn't a known property of 'input'. ("
				<input type="file"
					ngFileSelect
					[ERROR ->][options]="basicOptions"
					(onUpload)="handleUpload($event)">

[2016-11-04 21:47] mgonzales3 opened #125 "results array"
I was able to install component with no issues. Now uploading to a local server and returning results (uploading file to read content).  I created a custom class and i wanted to assign the results to an array for later use (ngfor).

`
items: IFileData[] = [];

ngOnInit(): void {
        this.zone = new NgZone({
            enableLongStackTrace: false
        });

        this.basicOptions = {

[2016-11-06 19:34] kolkov commented on #82
Not working still as in doc.

[2016-11-06 19:40] kolkov commented on #82
`allowedExtensions: ['image/jpeg', 'image/png'],` not `allowedExtensions: ['image/jpg', 'image/png'],`
thats worked.

[2016-11-11 05:49] fxcosta commented on #87
Same problem here!

[2016-11-12 10:26] Nogostradamus commented on #87
Same problem.
Angular version 2.1.0 (webpack)

[2016-11-14 17:59] joelflint commented on #81
@kolkov Care to outline the changes you had to make? I think that would help a bunch of people. I have made similar changes as @pulgaroja, but getting lots of errors. Would love a quick outline of the changes as they are "supposed" to be made. Thanks in advance!

[2016-11-14 18:00] joelflint commented on #87
Same problem! Thx!

[2016-11-15 08:41] lipinets commented on #87
Dear Developers, could you please advice us something or fix? A lot of people here with the same problem.
Thank you!

[2016-11-15 14:31] kkuksin opened #126 "Upload multiple files in queue (one-by-one)"
Hi! Can I manually (with autoUpload: false) upload multiple files one-by-one instead of doing multiple uploads at the time? Please advice. Thanks

[2016-11-16 07:25] bardiarastin commented on #18
+1

[2016-11-16 12:28] kiran-vadla opened #127 "Complete example for Multiple File Upload"
Hi @jkuri ,

We were trying the sample application of 'Multiple File Upload' referring sample code from the Documentation (http://ng2-uploader.com/docs#multiple) and found that the sample snippet provided doesn't work . We were looking for complete and correct source for the examples provided in the documentation of this package 'ng2-uploader'. Appreciate if you can provide the link to the source

[2016-11-16 13:21] kiran-vadla commented on #127
Just like that addressed @jkuri in the above issue . Appreciate response from any of the other contributors also .

[2016-11-16 20:26] MaxiSantos commented on #87
Same issue here. Those ones who have this issue.. do you have more than 1 module in your app?

[2016-11-16 23:03] Nogostradamus commented on #87
Just one module in my case.

[2016-11-17 01:36] apiweb commented on #127
Same problem here :(

[2016-11-17 09:02] lipinets commented on #87
I have more then 1 module.

[2016-11-17 15:41] mgonzales3 commented on #125
ok. looks like i did resolve it (i should've known)

replace the variable
response: any = {};

to

myObj: myInterface[] = [];

and on function handleUpload

`
 handleUpload(data: any): void {
        if (data && data.response) {
            data = JSON.parse(data.response);
            this.myObj = data;
        }
    }
`

i can refactor but this is pretty much done.

[2016-11-17 15:41] #125 closed

[2016-11-18 18:27] MaxiSantos commented on #87
Ok, I think there is an issue here. First I thought the issue was related on how we are importing this Directive within the modules (I have more than one module and I thougth I was making some mistake there but based on some commets it looks the issue is present even with one module)

So I went to debbug the directive and I made this test. I removed the [options] attribute since the problem was th

[2016-11-19 22:40] #87 closed

[2016-11-20 17:01] nhatdq1810 opened #130 "How to replace file upload"
Hi, I'm using angular2-img-cropper [https://github.com/cstefanache/angular2-img-cropper](url) for cropping the image before uploading.

My question is how can I replace the image that is chosen to upload before? The angular2-img-cropper return the base64 image, something like this "data:image/png;base64 .....".

I have assigned that base64 image to previewData and It's displayed OK, but I figured

[2016-11-21 15:04] NGizdov opened #131 "'multiple'=false options don't work"
As far as I see there is no implementation if you set 'multiple' to false, if you want to upload only one file (the last chosen one).

[2016-11-21 15:04] NGizdov commented on #74
Sorry, but from these links for the file preview I can't see anything. Please give some examples on how to preview the image before upload.

[2016-11-21 16:28] jkuri commented on #131
this is default.

[2016-11-21 19:27] kphilippaerts opened #132 "onFileOver should emit 'FALSE' on 'drop' event"
When a file gets dropped in the drop zone, the onFileOver event must trigger a 'false' event so that the drop-zone can be unselected again.

I would suggest this addition:

File: **src/directives/ng-file-drop.ts**
Function: **initEvents()**
Place: **At the end of the event listener for 'drop'**
Code: **this.onFileOver.emit(false);**

It works well for me :-)

[2016-11-21 19:31] jkuri commented on #132
Why don't you check the documentation? `[ngClass]="{'file-over': hasBaseDropZoneOver}"` should work.

[2016-11-21 20:08] kphilippaerts commented on #132
I implemented it that way. When a file is dragged over the drop zone, the class is indeed added, and when the file is dragged out, the class is removed. So that works fine. But when the file is actually dropped on the target, there is no event calling the `fileOverBase` function anymore, so the `hasBaseDropZoneOver` variable stays `true` and the drop zone stays highlighted.

It's actually the same

[2016-11-22 03:00] JesusMayuri7 opened #133 "Options DataBinding"
Please an example of adding data to options after OnInit or DataBinding NgModel

 this.options = {
      url: 'http://api.ng2-uploader.com:10050/upload',
      filterExtensions: true,
      allowedExtensions: ['image/png', 'image/jpg'],
      calculateSpeed: true,
      data: {
        userId: this.user,
        isAdmin: this.user
      },
    };

  this.options.data = { userId: this.user }  ????

[2016-11-22 09:59] NGizdov commented on #74
There is no documentation on that link

[2016-11-22 14:28] JoaoSaleiro commented on #116
Same here...

[2016-11-22 15:08] kolkov opened #134 "How to preview images before upload?"
Hi! After update to 1.5.3, I got this error:
[code]
![image](https://cloud.githubusercontent.com/assets/3740898/20528715/58699824-b0de-11e6-9717-e730fa984166.png)

[2016-11-23 17:41] kirantodupunoori opened #135 "Upload a file on Button click"
Hi,

I am using this ng2-uploader. Currently it uploads file to server as soon as we browse and choose a file, however my requirement is to upload the file when user clicks on upload button instead of "Choose file". Is there a way that I can make this change for my application.

[2016-11-25 11:36] nastakhov opened #137 "Doesn't work with AoT"
Running node_modules/.bin/ngc" -p tsconfig-aot.json got error:

Error: Unexpected value 'Ng2UploaderModule' imported by the module 'CoreModule'

Missing .metadata.json file

https://medium.com/@isaacplmann/getting-your-angular-2-library-ready-for-aot-90d1347bcad#.jrh3je2su

[2016-11-25 12:20] Chesteer89 commented on #135
It's simple. Just add option for your uploader:
`this.options = {
   ...
   autoUpload: false,
   ...
}`

register events emitter and add method to handle manual upload:
`private events: EventEmitter<any> = new EventEmitter();`
`startUpload() {
        this.events.emit('startUpload');
    }`

modify your html:
`<input type="file"
                  ngFileSelect
                  [options]="opts"

[2016-11-27 05:22] DeyuanTan opened #139 "files.forEach is not a function"
code:
![image](https://cloud.githubusercontent.com/assets/8966624/20645803/349b085a-b4a4-11e6-8a70-e59486a4b105.png)

![image](https://cloud.githubusercontent.com/assets/8966624/20645806/7488585a-b4a4-11e6-8426-68aa0cf567b2.png)

Error:
![image](https://cloud.githubusercontent.com/assets/8966624/20645804/4ea6b3f2-b4a4-11e6-867f-731069fe9c88.png)
![image](https://cloud.githubusercontent.com/assets/

[2016-11-28 02:57] #139 closed

[2016-11-28 18:57] scurk15 opened #140 "Documentation and examples"
Is it possible to get a better documentation  page possibly with some basic and advanced examples?

The documentation on here on Github isn't really good and the demo page (http://ng2-uploader.com/) doesn't have any documentation at all.

[2016-11-29 01:13] JesusMayuri7 commented on #101
this.newOptions = Object.assign({},this.options);
this.newOptions= {data: { some:'foo'}};
 this.options=this.newOptions;

not worked

[2016-11-29 23:15] theromis commented on #137
getting same issue
[code]

[2016-12-01 10:09] designedev opened #141 "can check image resolution ?"
can i check image resolution before upload?

or any idea? thanks.

[2016-12-01 16:11] FilipeQ commented on #116
+1

[2016-12-02 10:07] ChristmasFish opened #143 "Compilation error after latest update"
node_modules/ng2-uploader/src/services/ng2-uploader.ts(87,3): error TS2322: Type 'EventEmitter<{}>' is not assignable to type 'EventEmitter<UploadedFile>'.
  Type '{}' is not assignable to type 'UploadedFile'.
    Property 'id' is missing in type '{}'.

Latest working version I checked is 1.5.3
Typescript version 2.0.10

[2016-12-02 10:11] jkuri commented on #143
@ChristmasFish thanks for posting an issue. can you make a pr maybe?

[2016-12-02 16:11] cenjennifer opened #144 "What is the url referring to?"
Hi - Can you explain what url the required 'url' parameter is referring to? Where is the uploaded file stored to? Is the file uploaded stored locally on the page or does it have to hit an api to store the uploaded file (even if it's before submission)?

Thanks!

[2016-12-02 20:33] jkuri commented on #144
Hi @cenjennifer, the required url is referring to backed API server. The file needs to hit an api to store the uploaded file.

[2016-12-03 16:23] Oleh-Pashchenko opened #145 "Mobile Uploading"
I using the Angular 2 with nodejs exress app and followed the examples they are working well on web but doesn't works on iPad and my samsung phone, can you help me to resolve it?

[2016-12-04 18:40] kolkov opened #146 "Can't bind to 'options' since it isn't a known property of 'input'."
Hi! Whats wrong?
[code]

![image](https://cloud.githubusercontent.com/assets/3740898/20868327/02e3dbb8-ba6a-11e6-8aa1-e0f8d281c8b8.png)

[2016-12-04 18:41] jkuri commented on #146
hi. how do you import the module?

[2016-12-04 18:45] kolkov commented on #146
![image](https://cloud.githubusercontent.com/assets/3740898/20868350/9f378118-ba6a-11e6-959f-77d7e6c7dce1.png)
![image](https://cloud.githubusercontent.com/assets/3740898/20868355/bacb75e2-ba6a-11e6-8bc3-5b5c7334767a.png)
![image](https://cloud.githubusercontent.com/assets/3740898/20868363/e5c5ce64-ba6a-11e6-97f7-05cd1fa6f564.png)

[2016-12-04 18:55] jkuri commented on #146
[code]

you have something like this?

[2016-12-04 18:56] kolkov commented on #146
I use this:
[code]

[2016-12-04 19:01] jkuri commented on #146
Cannot see the issue from this, what I suggest is;
`npm i lite-server -g`, `cd` to directory where `index.html` is and run `lite-server`.

Check if `ng2-uploader` is loaded, if so you should see something like:
[code]

Otherwise you'll see 404 error, which means there's a problem with you SystemJS configuration.

[2016-12-04 19:05] kolkov commented on #146
![image](https://cloud.githubusercontent.com/assets/3740898/20868474/bdb43cb4-ba6d-11e6-9cd9-c91eb6f120fd.png)

[2016-12-04 19:23] jkuri commented on #146
[ng2-uploader-systemjs.zip](https://github.com/jkuri/ng2-uploader/files/629753/ng2-uploader-systemjs.zip)

Seems to work for me.

[2016-12-04 19:41] kolkov commented on #146
Thanks! I solved this.
I deleted the folder `ng2-uploader` and then reinstalled with npm install.
It seems it was a glitch((

[2016-12-04 19:45] #146 closed

[2016-12-04 20:05] kolkov commented on #134
And this solved too with https://github.com/jkuri/ng2-uploader/issues/146!

[2016-12-04 20:05] #134 closed

[2016-12-05 09:24] Chyngyz commented on #135
Hi,
How do you show the details about the selected file? Especially it is valuable to show selected file details in the scenarios like above.

[2016-12-06 11:36] CelsoSantos commented on #137
This issues should now be fixed with the latest version

[2016-12-06 11:43] jkuri commented on #137
https://github.com/jkuri/ng2-uploader/commit/c1042498aedecd387262aadc65f85cbc89dc77dd

[2016-12-06 11:43] #137 closed

[2016-12-06 14:52] Scipionh commented on #116
+1

[2016-12-06 16:17] kolkov opened #150 "npm install error."
![image](https://cloud.githubusercontent.com/assets/3740898/20933247/88744f0e-bbe8-11e6-9367-c2efcabdb283.png)

[2016-12-07 15:08] j-c-levin commented on #150
Happened to me on 1.5.7 and 1.5.6.  Installs fine on 1.5.5 though ("ng2-uploader": "1.5.6")

[2016-12-07 18:24] deeg commented on #150
I don't get this error on 1.5.7, but on npm install I get asked to supply a name which creates a component.

I don't believe the npm install process should ever ask for input seeing as it is run automatically most of the time. It doesn't seem like we should have to have the install process put in an input for this.

[2016-12-07 19:15] kolkov commented on #150
![image](https://cloud.githubusercontent.com/assets/3740898/20982681/99e32aca-bcca-11e6-8e22-528bcd79900d.png)

[2016-12-08 22:48] jkuri commented on #150
https://github.com/jkuri/ng2-uploader/commit/ca718f393dd0318b908d1914fbe4296e53adfc99

[2016-12-08 22:48] #150 closed

[2016-12-09 08:22] theromis opened #151 "Ionic 2 rc3 error "Can't bind to 'options'""
Everything worked fine, after update gives this error.
[code]
template.html
[code]

`app.module.ts`
[code]

[2016-12-09 08:36] theromis commented on #151
Just found in closed issues similar
https://github.com/jkuri/ng2-uploader/issues/146
trying what been done there, doesn't help.

[2016-12-09 17:14] theromis commented on #151
ok my problem was in `ng2-upload` version
I've used 1.5.7 (1.6.0 not works as well), downgrade to 1.5.5 fixed issue (1.5.6) still doing the "stuff".
problem in 1.5.5 that I have to run `build --dev` which is wrong.

Please help me with update to the latest version, I really love this module.
`package.json`
[code]

[2016-12-09 17:15] theromis commented on #151
@jkuri hey, I know you the man, please help to fix the stuff.

[2016-12-09 17:16] jkuri commented on #151
okay :) I'll check it out now

[2016-12-09 17:26] jkuri commented on #151
@theromis can you check `1.6.1` and let me know please?

[2016-12-09 17:29] theromis commented on #151
still the same
[code]

[2016-12-09 17:31] jkuri commented on #151
[ng2-uploader.com.zip](https://github.com/jkuri/ng2-uploader/files/642804/ng2-uploader.com.zip)

here's the demo page, please check how its done here.
to run this: `npm install && npm run serve`

[2016-12-09 17:37] theromis commented on #151
just unpacked it and ran
`npm install`
`npm run serve`

and got same error
[code]

[2016-12-09 17:46] jkuri commented on #151
Please fix you typescript version to exact `2.0.10`

[2016-12-09 17:49] theromis commented on #151
[code]

[2016-12-09 17:50] jkuri commented on #151
you need to set it without starting `^`, so:
[code]

[2016-12-09 17:50] theromis commented on #151
this is exactly what I did, and reinstalling script right now

[2016-12-09 17:51] theromis commented on #151
it works, thank you
will try on my project now

[2016-12-09 17:52] jkuri commented on #151
no problem, was having exact issue with typescript version whole day in work :(

[2016-12-09 17:55] theromis commented on #151
but setting this on my project still giving same error
[code]

[2016-12-09 17:56] jkuri commented on #151
what happens if you upgrade angular versions to 2.2.1?

[2016-12-09 17:59] theromis commented on #151
[code]

[2016-12-09 18:06] jkuri commented on #151
sorry but unfamiliar with ionic-angular though.

[2016-12-09 18:08] theromis commented on #151
upcoming rc4 will switch to 2.2.1, unfortunately rc3 hardly dependant from 2.1.1

[2016-12-09 18:09] theromis commented on #151
well, will wait for rc4, and sit on 1.5.5 until, this should happened next week

[2016-12-09 18:13] jkuri commented on #151
okay, basically you are not missing much, I just added AoT compiler.

[2016-12-09 18:14] theromis commented on #151
thanks, will write here about my upgrade attempts later

[2016-12-09 20:09] kolkov commented on #151
Me too ((
![image](https://cloud.githubusercontent.com/assets/3740898/21062974/5b8352aa-be64-11e6-89e5-27e03084b778.png)

[2016-12-10 00:54] alan345 commented on #151
Hello, Same issue here. What should we do ?
I have
"typescript": "2.0.10",
and
    "@angular/common": "2.1.2",
    "@angular/compiler": "2.1.2",
    "@angular/core": "2.1.2",
    "@angular/forms": "2.1.2",

Thanks for your help

[2016-12-10 00:59] alan345 commented on #151
I have updated angular
    "@angular/common": "2.2.1",
    "@angular/compiler": "2.2.1",
    "@angular/core": "2.2.1",
    "@angular/forms": "2.2.1",
    "@angular/http": "2.2.1",

but still the same issue with option

Thanks for your help !!
<img width="554" alt="screen shot 2016-12-09 at 4 58 18 pm" src="https://cloud.githubusercontent.com/assets/15246526/21069639/c937b1b2-be30-11e6-96c7-ed7e440

[2016-12-12 09:22] scurk15 commented on #151
I have the same problem since i updated to 1.6.1, but 1.5.3 worked fine.

[2016-12-12 09:41] F3L1X79 commented on #98
I was wondering if the progress indicator can work with a PHP upload file?

[2016-12-12 11:34] ventr1x commented on #151
You just gotta love this node/js ecosystem.
It is clearly an issue with the current version of the plugin, I personally don't have the time to go through the source myself.

You posted a systemjs example in #146 and the only difference from my project is the version of ng2-uploader (1.5.5 instead of latest). 1.5. indeed seems to work, at least concerning this error.

[2016-12-12 13:11] F3L1X79 commented on #101
@JesusMayuri7 , the way you should do (from @wouterhummelink  explanations) is:
[code]

[2016-12-12 17:18] ventr1x opened #153 "NgZone response never set"
Using just the advanced example. How do you access the response?
Every event on ngzone stops on "percent: 100, done: false" with no response delivered.
The response gets set (only seeing that with output in a template), but I'm unable to track the actual  done/finish state.
Shouldn't for example ngzone's onStable be fired after it is actually done?

[2016-12-13 12:16] vladisOV commented on #151
+1 same error

[2016-12-13 17:20] theromis commented on #151
@jkuri finally updated to angular 2.2.1 but getting same issues
here is how my `package.json`
[code]

[2016-12-14 13:49] daslicht opened #155 "auth token example ?"
Hi,
is there somewhere an example how to use the auth token ?
Or is it just a string which i have to manually compare on the server, such as as firebase token ?

~ Marc

[2016-12-14 19:22] mkarmani opened #156 "ng2-uploader with Angular 2 & .net core"
Hi, Want to know if it's possible to have a basic use of ng2-uploader with .net core server side?
I have this issue:
http://stackoverflow.com/questions/41147638/upload-a-file-with-ng2-uploader-angular2-net-core

Thank u in advance.

[2016-12-15 07:27] tanvirshuvo opened #157 "Typescript emitted no output when webpack is loading 'ng2-uploader' from node_modules"
I have an Angular2 project wrapped up with Webpack 2.1.~ .
I have installed ng2-uploader from npm packages and it's now there under node_modules. Now, while I am starting the application I am getting this error:

Is this an issue with typescript loader?

Webpack is compiling the ts files into js and the error is getting out from this part of the index.js of ng2-uploader:

     if (outputText == nu

[2016-12-15 12:37] Partovic opened #158 "Can't bind to 'options' since it isn't a known property of 'input'."
Hi,

still got this error.
installed your module via "npm install ng2-uploader".
Do I have to update the sources manually?

[2016-12-16 07:37] LukasSefcik commented on #158
I have same problem.

[2016-12-16 13:53] gnovotny commented on #151
the pull request by parag-patwardhan works for me

[2016-12-16 16:46] theromis commented on #151
@jkuri Could you merge https://github.com/jkuri/ng2-uploader/pull/154 ?

[2016-12-16 18:30] #151 closed

[2016-12-16 18:32] jkuri commented on #151
done.

[2016-12-18 10:59] alex88 commented on #131
does it works with true? from what I've seen, user can select just one element at time

[2016-12-18 11:24] jkuri commented on #131
hey. last time I tried `<input type="file" name="file" multiple>` it worked.

[2016-12-18 11:28] alex88 commented on #131
Oh, right, I thought I just had to set it into the options :/

[2016-12-18 16:37] LukasSefcik opened #159 "Failed to load resource: the server responded with a status of 405 (Method Not Allowed)"
I got this error when trying upload image into localhost. Failed to load resource: the server responded with a status of 405 (Method Not Allowed).

Can anyone help me?
Thank you

[2016-12-19 16:14] snstarosciak opened #160 "Way to limit the file hover class to just the specific element being hovered?"
Hey there, I have multiple "droppable" elements that need the ability to have files uploaded to them, and I've noticed that if one of them is hovered, all of the elements get the specified hover class applied to them. Is there a way to limit this to just the item that's being hovered?

Thanks!

[2016-12-20 03:53] galaxyaurona commented on #116
A quick fix solution would be copying the content of function `@HostListener('change') onChange(): void `
into   c
this.el.nativeElement.addEventListener('drop', (e: any) => {
      e.stopPropagation();
      e.preventDefault();
      this.onFileDrop.emit(true);
      this.files = Array.from(e.dataTransfer.files);
      this.filteringProcess();
      if (this.files.length) {
        this.uploader.

[2016-12-21 20:59] narainsagar commented on #158
I guess this kind of error occurs when you don't include angular FormsModule into your app module.
and add under your module `imports`.

[code]

Please verify & give some more details.

Thanks,
Cheers,

[2016-12-21 21:54] tanvirshuvo commented on #110
Hello jkuri. How can I do catch the response and use it to redirect, or pass it in a component?

[2016-12-22 13:29] AdrianPasalega commented on #158
I think the problem is regarding the version of  typescript you use to compile it. I used the IDE compiler (typescript version 1.8.10) and I didn't get the error, and after i switch and compile it with gulp-typescript ( "typescript": "^2.0.2" ) i got the same error as above. Maybe the new typescript has issues with the way the 'options' input is set.

[2016-12-22 19:35] KirilVelichkov opened #161 "How to set data property after image is selected"
Hi

I need to select the opstions.data property values after i select my image.
This seems impossible for now.

For example i have
options = {
data:{
 title: 'same value that i need to add from a text field'
}
}

Any solutions?

[2016-12-22 20:55] KirilVelichkov commented on #133
i have the same issue. Why is no one answering :/

[2016-12-22 21:08] KirilVelichkov commented on #101
@F3L1X79  this is still not working. It always send the first assign value when i select an image

[2016-12-22 21:13] KirilVelichkov commented on #104
@shafihuzaib - could you please explain how exactly you worked it out?

[2016-12-22 23:01] jkuri commented on #104
@KirilVelichkov I just refactored the whole module and this should now work, please see https://github.com/jkuri/ng2-uploader/commit/587182104df11ccc3b4c6b3c3cfe55089fc83cbe.

[2016-12-23 08:16] F3L1X79 commented on #101
Well  this is working, in my case. Here is my working code for example (if this might help):
HTML:
[code]
ts script:
[code]

[2016-12-23 08:22] F3L1X79 commented on #98
Finally I can confirm this is working with a PHP upload, but the example in doc was wrong!

I had to change this code:
[code]

by simply this:
[code]

Hope this helps.

[2016-12-23 09:03] maartentibau opened #162 "Please provide a changelog file or create tags"
Hi,

It's really hard to keep track of the versions of this plugin. Could you please make a changelog file or create tags for your plugin? That would make life on that matter a bit easier 😄

[2016-12-23 11:35] jkuri commented on #162
Hi @webtrix, I agree. I'll do my best to make releases more often! :)

[2016-12-23 11:37] webtrix commented on #162
Hi @jkuri I don't really mind that there are no releases. I can understand that might be difficult in some cases. But if there is a changelog, you can keep track of new updates. If breaking changes occur I would make sure to create a new tag then, otherwise a lot of people won't be that happy 😄

But you're doing a great job! So keep it up, love it!

[2016-12-23 21:03] nikgavalas commented on #133
Same issue here as well. I can't seem to change the data. I even bound the data to another object which I would have thought would fix it through referencing but it didn't. Any ideas?

[2016-12-23 21:05] jkuri commented on #133
Did you try new version 2.0.0?

On Fri, 23 Dec 2016 at 22:03, nikgavalas <notifications@github.com> wrote:

[2016-12-23 21:13] nikgavalas commented on #133
I just tried that. I get the exception 'EXCEPTION: _this.files.filter is not a function'. Am I missing a dependency?

[2016-12-23 21:15] jkuri commented on #133
Try disable filter extensions.

On Fri, 23 Dec 2016 at 22:13, nikgavalas <notifications@github.com> wrote:

[2016-12-23 21:24] nikgavalas commented on #133
Didn't seem to fix it for me.

`	ngOnInit() {
		this.options = {
			url: `${this.apiUrl}/api/public/upload`,
			data: this.uploadData,
			filterExtensions: false,
			authToken: this.userService.getAuthHeader(),
			authTokenPrefix: ''
		};
	}`

I have also tried setting the options again in beforeUpload

`	beforeUpload(uploadingFile): void {
		this.options = {
			url: `${this.apiUrl}/api/public/upl

[2016-12-24 16:39] suryakand opened #163 "Multiple File Uploader instances on same page/template fires "onUpload", "onFileOver" "beforeUpload" multiple times"
Let's say I want to upload multiple files using different file uploader instance on same page and if I created multiple uploader instances on same page/template then events like "onUpload", "onFileOver" "beforeUpload" fires  multiple times.

Is there a way to restrict events being listened by own instance of uploader that was used to upload the file?

[2016-12-25 02:44] macliems opened #164 "Everything working fine, but this error message: ... what does it mean?"
`error_handler.js:50 EXCEPTION: _this.files.filter is not a function
ErrorHandler.handleError @ error_handler.js:50
next @ application_ref.js:346
schedulerFn @ async.js:91
SafeSubscriber.__tryOrUnsub @ Subscriber.js:223
SafeSubscriber.next @ Subscriber.js:172
Subscriber._next @ Subscriber.js:125
Subscriber.next @ Subscriber.js:89
Subject.next @ Subject.js:55
EventEmitter.emit @ async.js:77
NgZone.

[2016-12-25 02:44] jkuri commented on #164
hey, I will check on this. seems like an issue with new version.

[2016-12-25 16:12] Eikc commented on #164
I also recieve this when i use ngFileSelect directive.. it also happens on the demo page :)..

[2016-12-26 14:32] kiwileaks78 commented on #163
I have exactly the same issue here ... I use three <input ngFileSelect ...> on the same page. This was working well on previous versions of ng2-uploader (1.2.0), but now (onUpload) event fires multiple times (one time for each <input ngFileSelect> on the same page ...

I had to revert to ng2-uploader 1.2.0 to fix the problem. It also fixed the #164 issue.

[2016-12-27 20:38] dking3876 opened #165 "issue with all classess folder references"
not working using systemjs as it consistantly throws errors on all references of the classess folder starting with ng-file-drop.js on line 4

[2016-12-27 20:40] jkuri commented on #165
hi. can you be more specific about error that is throwed please?

[2016-12-28 08:01] wqcsimple opened #166 "error_handler.js:48 EXCEPTION: _this.files.filter is not a function"
![image](https://cloud.githubusercontent.com/assets/7285280/21517058/be42f240-cd16-11e6-8d46-93243a3069b3.png)

[2016-12-28 10:09] wronskiPrzemyslaw commented on #166
Yep, I can confirm the same thing

[2016-12-28 10:37] jkuri commented on #166
https://github.com/jkuri/ngx-uploader/commit/2fea156716cf228699943589f4e0b5e4738b16e2. published on npm.

[2016-12-28 10:37] #166 closed

[2016-12-28 10:38] jkuri commented on #164
https://github.com/jkuri/ngx-uploader/commit/2fea156716cf228699943589f4e0b5e4738b16e2

[2016-12-28 10:38] #164 closed

[2016-12-29 04:02] wqcsimple commented on #166
![image](https://cloud.githubusercontent.com/assets/7285280/21536472/8012d186-cdbe-11e6-94d5-5c3309f95e5f.png)

The error still exists

![image](https://cloud.githubusercontent.com/assets/7285280/21536489/9c367656-cdbe-11e6-8a0c-821aff942c2d.png)

@jkuri

[2016-12-29 05:00] jkuri commented on #166
how can I reproduce an error?

[2016-12-29 07:12] wqcsimple commented on #166
@jkuri   https://github.com/wqcsimple/uploader-test
 please test

[2016-12-29 07:54] jkuri commented on #166
cannot run the demo, it stuck on `ng serve`.

[2016-12-29 08:00] wqcsimple commented on #166
What's wrong?

[2016-12-29 09:07] jkuri commented on #166
not sure. works for you?

[2016-12-29 10:12] wqcsimple commented on #166
yes,    http://uploader.wwhis.com/

product url

[2016-12-29 11:11] KirilVelichkov commented on #75
@mickeychu , could you please show how you`ve managed it with the "startUpload()" function?

[2016-12-29 17:02] Eikc commented on #164
Wondering if the npm package will be updated with the fix? :)

[2016-12-29 17:33] jkuri commented on #164
`2.0.3` is published, but if error still persist please tell me how can I reproduce it.

[2016-12-29 18:36] webtrix commented on #164
@jkuri you should make a habit of it, each time you change something, you make a new release / tag, otherwise there is no telling on which version your code is atm and that's actually really frustrating

[2016-12-29 18:37] jkuri commented on #164
this time was just a minor fix. I'll prepare conventional changelog.

[2016-12-29 18:38] webtrix commented on #164
Doesn't really matter, it's a change. I would suggest semantic versioning, like they use with Angular. At NPM you've upgrade to v2.0.3 to push this change, so don't see why this can't be done here as well.

[2016-12-29 19:14] jkuri commented on #164
@webtrix https://github.com/jkuri/ngx-uploader/blob/master/CHANGELOG.md. will be updated further :)

[2016-12-29 19:37] webtrix commented on #164
Yea I know about that. But at the rate you're updating that won't help anymore I think.

[2016-12-29 20:33] Eikc commented on #164
I'm actually still seeing the issue, the filter is undefined..
on line:
https://github.com/jkuri/ngx-uploader/commit/2fea156716cf228699943589f4e0b5e4738b16e2#diff-813d2fa7b2feded9136ac5e18c306fbcR42

I will try make an example that can reproduce it. but its actually pretty simple:

This is my template with the directives
`
            <label ngFileDrop [ngClass]="{'my-drop-zone-on-drag': hasBaseDr

[2016-12-29 22:23] Eikc commented on #164
Ahh i think i know what the issue is ...

When you use an input type="file"

the line: https://github.com/jkuri/ngx-uploader/blob/2fea156716cf228699943589f4e0b5e4738b16e2/src/directives/ng-file-drop.ts#L99

is going to be set to a FileList object, and when you use the ngFileDrop , its an array with filter option..

so i guess the fix will be to check if this.files is an array and use filter, other

[2016-12-30 01:11] rrubio commented on #135
Hi Guys,

I'm trying to implement manual load too, followed the instructions above with no luck. It's as though the flag gets ignored. As per code examples, i've followed the advanced method.

On the template i have the following:

`                                            <div class="col-md-3">
                                                  <input type="file"

[2016-12-30 03:08] jkuri commented on #135
@rrubio you need to emit `startUpload` event to module input `[events]`.

[2016-12-30 03:12] jkuri commented on #164
@Eikc that would be nice, thank you.

[2016-12-30 05:30] rrubio opened #167 "this.files.filter - error"
Hi Guys,

There seems to be an error (see below) once the file is finished uploading.

file "directives/ng-file-select" line #42.

`error_handler.js:53 TypeError: _this.files.filter is not a function
    at ng-file-select.ts:42
    at SafeSubscriber.schedulerFn [as _next] (async.js:94)
    at SafeSubscriber.__tryOrUnsub (Subscriber.js:223)
    at SafeSubscriber.next (Subscriber.js:172)
    at Subs

[2016-12-30 05:51] rrubio commented on #135
@jkuri thank you for your quick response, much appreciated. Sorry about this, but i don't think i follow what you mean.

[2016-12-30 07:30] p-engelkes commented on #133
I encounter the same error. Setting filterExtensions to false did not fix this problem for me either.

[2016-12-30 08:21] Eikc commented on #164
@jkuri i have created the pull request :) #168

I have tested it and it works, it will also make the demo work as expected when using the file input to upload files with :)

Happy new year 👍 🎆

[2016-12-30 08:23] jkuri commented on #164
thanks a ton @Eikc. really appreciate it, I wrote you minor comment.
Thanks and same to you 👍

[2016-12-30 08:28] jkuri commented on #135
@rrubio try something like this:

[code]

[code]

just as @Chyngyz suggested.

[2016-12-30 11:35] rrubio commented on #135
@jkuri thank you man!

[2017-01-03 12:55] LudovicE07 commented on #158
Hi, i've got error too. No problem with new project, but project with avdanced template i've got this error, do you have any idea?

Thanks you

[2017-01-03 16:01] nsankabathula commented on #166
Having same problem, exception "_this.files.filter is not a function".
Any solution for this problem?

[2017-01-04 09:58] BY0X15 commented on #167
**For upload a single file**

In file "directives/ng-file-select"
Replace **@HostListener('change') onChange(): void {** on
[code]

[2017-01-05 23:05] krzysztof-miemiec opened #169 "Compilation errors with strictNullChecks"
I get compilation errors when `strictNullChecks` flag in `tsconfig.json` is set to `true`. `skipLibCheck` doesn't affect it, as ngx-uploader has .ts files in it (not only .d.ts).

Here are the errors:
[code]

I can make a PR with fixes and enabling strictNullCheck for the future.

[2017-01-06 22:51] jkon commented on #139
I'm having this problem too. Did you figure out a fix?

[2017-01-07 03:23] jkon commented on #158
I am having this problem too. I'm using typescript 2.0.3. I can't go back to 1.8.10 though or else other stuff starts breaking in my build. Is there another way around this?

[2017-01-07 13:33] AdrianPasalega commented on #158
Hi, we can modify the 'options' input and use OnChanges and it should work, i can try to make a pull request on monday, and maybe it helps.

[2017-01-07 13:46] jkuri commented on #158
hey guys. this should work already, just tried like this:
[code]

and it works.

[2017-01-07 14:47] #169 closed

[2017-01-07 15:17] jkon commented on #158
@jkuri where are you putting that? It doesn't seem to work for me, but I'm not sure if I have it in the right place. Can you show it inside the basic example component?

[2017-01-07 15:17] jkuri commented on #158
inside `constructor()`.

[2017-01-07 15:19] jkon commented on #158
That doesn't work for me. Still get the can't bind error.

[2017-01-07 15:19] jkon commented on #158
what typescript version are you using?

[2017-01-07 15:20] jkuri commented on #158
`2.0.10`. are you using SystemJS? if so, check your network tab in google chrome dev tools if ng2-uploader.js gets properly loaded.

[2017-01-07 15:26] jkon commented on #158
I'm using webpack

[2017-01-07 15:46] jkon commented on #158
I looked at the network traffic and inspected the chunk.js for the page that has the uploader and I found this: var ngx_uploader_1 = __webpack_require__(1524);
I'm guessing that is where the uploader package is included

[2017-01-07 15:54] jkuri commented on #158
yes I guess so. can you share your code and I'll check where is the problem.

[2017-01-07 15:57] jkon commented on #158
Module:
`/**
 * Created by joshua on 1/6/17.
 */
import {NgModule}      from '@angular/core';
import {CommonModule}  from '@angular/common';

import {routing}       from './imageUploader.routing';
import {NgaModule} from '../theme/nga.module';
import {FormsModule, ReactiveFormsModule} from '@angular/forms';
import {ImageUploader} from './imageUploader.component';
import {NgUploaderModule} from 'ng

[2017-01-07 16:11] jkuri commented on #158
try to set
[code]
inside constructor.

[2017-01-07 16:24] jkon commented on #158
No difference. I tried
this:
[code]
and this:
[code]

[2017-01-07 16:24] jkon commented on #158
Also, I'm using "ngx-uploader": "^2.0.5",
Should I try a different version?

[2017-01-07 16:26] jkon commented on #158
I have ng2-uploader@1.1.0 installed as well because the project template I started with had an uploader, but I couldn't get it to make the actual upload work. I had the files.forEach not a function error happening. So I decided to start one from scratch using the latest version of ngx-uploader

[2017-01-07 16:27] jkuri commented on #158
no, version is okay. that is interesting, can you try to import from `ngx-uploader/ngx-uploader';`.
Here is demo page if helps you with anything:
[ngx-uploader.com.zip](https://github.com/jkuri/ngx-uploader/files/691567/ngx-uploader.com.zip)

[2017-01-07 16:29] jkon commented on #158
That didn't work either :(
I'll take a look at the demo and see if I can glean anything useful

[2017-01-07 16:42] LudovicE07 commented on #158
Hi, thanks for you help. I've got ngx-uploader: 2.0.3
I have try to add your demo in my project bit still have error:
Can't bind to 'options' since it isn't a known property of 'div'.

Here is my dependencie. Thanks

    "@angular/common": "2.4.1",
    "@angular/compiler": "2.4.1",
    "@angular/core": "2.4.1",
    "@angular/forms": "2.4.1",
    "@angular/http": "2.4.1",
    "@angular/platform-bro

[2017-01-07 19:15] naveedahmed1 commented on #167
@kiuka  Is there any permanent fix to this error?

[2017-01-07 21:09] naveedahmed1 opened #173 "Multiple File Uploader instances doesn't work"
Multiple File Uploader instances on same page with different data in options doesn't work. Since services are singleton in Annular 2, the last instance of the file uploader  overrides the values of the opts property in NgUploaderService.

For example if I have three different instances with data type =1 for first instance of uploader , type =2 for 2nd instance and type=3 for third instance. If I u

[2017-01-07 21:25] naveedahmed1 commented on #173
Since services that are injected in the module becomes part of global dependency injection therefore to have each instance of the ngFileSelect its own instance of the NgUploaderService, we need to add the service of the providers of the NgFileSelectDirective instead of NgUploaderModule.

I hope this will be fixed in new version.

[2017-01-07 21:31] naveedahmed1 commented on #163
@suryakand can you check if your issue is also due to the reason I mentioned in
https://github.com/jkuri/ngx-uploader/issues/173 ?

You can confirm it by removing the NgUploaderService from providers list of NgUploaderModule and add it to the providers list of NgFileSelectDirective.

[2017-01-08 01:04] stevenjob commented on #132
#174

[2017-01-08 15:14] Kamshak commented on #166
Yep the error still exists, the problem is that the this.files is not an Array but a [FileList](https://developer.mozilla.org/de/docs/Web/API/FileList). FIleList doesn't have a filter function. You could probably use Array.prototype.filter.call

[2017-01-08 15:57] StoianStoianov opened #178 "Not loading"
When i start my application i receive GET http://localhost:3000/node_modules/ngx-uploader/src/classes.js 404 (Not Found).
I imported `import { NgUploaderModule } from 'ngx-uploader';` But it still runs error

[2017-01-08 16:18] #167 closed

[2017-01-09 04:53] rrubio commented on #167
Thank you!

[2017-01-09 10:16] ashjha opened #179 "Data can not be read in express server"
How to read data sent from client side
like
  data: { userId: 12, isAdmin: true },
[code]

[2017-01-09 15:10] norenma commented on #163
I also have this issue. I use a file-upload in a ngFor, and it always runs handleUpload on only this first instance.

[2017-01-09 15:14] naveedahmed1 commented on #163
@norenma  please have a look at https://github.com/jkuri/ngx-uploader/issues/173#issuecomment-271111255

[2017-01-09 21:01] pippo111 commented on #179
Set it up in options like so:

[code]

this adds body to your request object, so you can read it in your router:

[code]

[2017-01-09 21:12] pippo111 opened #180 "Cannot build after "strictNullChecks" support"
When **"strictNullChecks"** is set to **true**, i've got this:

With **"strictNullChecks"** is set to **false**, i've got several angular errors like:

How to fix this, to be able to run at latest verstion ? My ng2 is 2.4.2.

[2017-01-10 04:43] ashjha commented on #179
I am getting blank object on server

may i know what is difference in ngx-uploader and ng2-uploader

[2017-01-10 10:00] pippo111 commented on #179
I think it is just naming convention to be up to date with future releases of Angular ?

Hard to say what causes your problem, better paste your component code with uploader options configuration and your nodejs router file.

[2017-01-10 11:17] mfcar commented on #178
Same here

[2017-01-11 11:28] Sn3b commented on #178
In the source of the compiled files (*.js) look for the references to "classes" and change them to "classes/index".

There are 3:
/node_modules/ngx-uploader/index.js (line 10)
/node_modules/ngx-uploader/src/directives/ng-file-drop.js (line 16)
/node_modules/ngx-uploader/src/directives/ng-file-select.js (line 16)

[2017-01-11 11:29] Sn3b commented on #165
#178

[2017-01-11 11:32] Sn3b commented on #180
Just run into that too.

I have changed all the properties (except URL to be just like the interface) of NgUploaderOptions in ng-uploader-options.class.ts to be optional and the error went away.

[2017-01-11 11:51] pippo111 commented on #180
I have done the same thing, but now I have to do everytime after update or fresh install. Is there another workaround that don't require to touch module source code ?

[2017-01-11 12:19] Sn3b commented on #180
include all the properties in your options object?

[2017-01-11 12:44] Sn3b commented on #156
I just posted a "possible answer" to stackoverflow. I just run into this issue but it was because the "uploads" folder didn't exist on my backend (C:\Sources\MySolution\trunk\src\MyProject\wwwroot\uploads)

[2017-01-11 14:12] Sn3b commented on #82
Just run into this issue, the values for AllowedExtensions seem to be case sensitive... I had to use:
[code]

[2017-01-11 14:24] pippo111 commented on #180
Something cleaner maybe ? :)

[2017-01-11 14:50] Sn3b commented on #180
I'm using the following:

[code]

I find it clean :)

[2017-01-11 14:57] pippo111 commented on #180
Not bad at all :) Thanks a lot, I will use it.

[2017-01-11 18:02] wmx32 opened #183 "Demo package throw following error => events.js:160 throw er; // Unhandled 'error' event"
Hi All,

I am having an issue with the demo website. I am just trying to run the demo with node v7.4.0 and npm  v3.10.8 and I get the following error:
Dir /tmp/d-117011-193-1hcj1g9.mjgmxqolxr
events.js:160
      throw er; // Unhandled 'error' event
      ^

Here are the steps I followed to perform this test:
1 get  the demo package from this URL: https://github.com/jkuri/ngx-uploader/files/691567/

[2017-01-11 20:51] lukefarran commented on #178
Same here

[2017-01-12 00:14] daimz opened #184 "Upload to Firebase"
How could I use this to upload to Firebase?
I am getting confused but the `url:` in options and I'm not sure how I can use something like `firebase.storage().ref(`/teams/${fileName}`).put(data);`

[2017-01-12 11:09] evansmwendwa commented on #74
Anyone figured how to do the preview? Would be good to have an example using all the available options and events.

[2017-01-12 11:25] evansmwendwa commented on #74
For the preview to work you have to set the previewUrl options to some text (not sure why it's not boolean) and then subscribe to onPreviewData event in the directive.

[2017-01-12 12:28] Marcdup1 commented on #180
Hello @Sn3b,
I used your exact options mentioned above but I got this error:
```metadata_resolver.js:936Uncaught Error: Can't resolve all parameters for NgUploaderOptions: (?).``` do you perhaps know why?

[2017-01-12 13:11] jkuri commented on #180
I think this is now resolved.

[2017-01-12 13:13] Marcdup1 commented on #180
I updated but I still get the above error

[2017-01-12 13:47] Marcdup1 commented on #180
Got it working thank you

[2017-01-12 16:36] milenkovic commented on #133
Same here. Changing data before uploading image would be great.

[2017-01-13 10:32] milenkovic commented on #133
I found hack for setting data, you can put function on (mouseenter) and set data before clicking.

HTML:
`<label for="upload" (mouseenter)="setData()">
	<input type="file"
		   accept="image/*"
		   class="upload-image-input"
		   id="upload"
		   name="upload"
		   ngFileSelect
		   [options]="options"
		   [events]="uploadEvents"
		   (onUpload)="handleUpload($event, question)"
		   hidden>
</la

[2017-01-13 10:33] milenkovic commented on #161
@KirilVelichkov
https://github.com/jkuri/ngx-uploader/issues/133#issuecomment-272411799

[2017-01-13 16:41] milenkovic opened #186 "Change order of appending data to multipart form"
Hi @jkuri , can you please change the order of appending data to multi-part form?

In some systems, server is going to decline upload if csrf token is not appended first. To be exact, it will read upload stream untill 100KB and if csrf token is not found in first 100KB it will decline upload of file.

![multipart](https://cloud.githubusercontent.com/assets/5306028/21937341/59e7ac52-d9b7-11e6-8127-

[2017-01-13 19:15] 2J commented on #28
bug still exists in edge version.

Can be fixed by putting ngFileSelect outside of <label> and using the `for` attribute on label to relate it to the input.

example:

[code]

[2017-01-16 14:20] #186 closed

[2017-01-17 09:27] DeyuanTan commented on #139
FileList is a Object {}, Not a Array Object.
var a = {}; typeof a.forEach = undefined;
var b= []; typeof b.forEach = 'function';

[2017-01-17 13:34] vladisOV opened #188 "ngModelChange"
Hi! How can I handle onchange event?

[2017-01-17 15:43] jkon commented on #139
So, did you fork and fix it yourself? Or is there a way to get it to send Files as an array instead of a FileList object?

[2017-01-17 17:30] theromis opened #189 "ng-file-drop.js.map"
Getting error on ionic2 rc5
`Uncaught Error: Module build failed: Error: ENOENT: no such file or directory, open '/opt/git/ionic2/node_modules/ng2-uploader/src/directives/ng-file-drop.js.map'`

How I can fix it?

[2017-01-17 21:23] lukefarran commented on #163
I'm having the same issue. I did: "You can confirm it by removing the NgUploaderService from providers list of NgUploaderModule and add it to the providers list of NgFileSelectDirective." and it fixed the issue.  Is there an ETA for this fix or would it help if I submitted a PR? Thanks!

[2017-01-17 21:36] theromis commented on #189
Can see in main.js
[code]

[2017-01-17 21:37] theromis commented on #189
@jkuri May be you can help me with that?

[2017-01-17 21:43] jkuri commented on #189
try `ngx-uploader` instead of `ng2-uploader`.

[2017-01-17 21:48] theromis commented on #189
@jkuri After update getting same error.
<img width="1028" alt="screen shot 2017-01-17 at 13 47 04" src="https://cloud.githubusercontent.com/assets/3720229/22041401/91a5bcae-dcbb-11e6-87b2-3940188a5e3c.png">

Using this version
`npm install git+https://git@github.com:jkuri/ngx-uploader.git --save`

[2017-01-17 21:51] theromis commented on #189
@jkuri same result with replacing module by `npm install ngx-uploader --save`

[2017-01-17 21:54] jkuri commented on #189
honestly I don't know, not sure why would build be looking for sourcemap files.

[2017-01-17 21:55] theromis commented on #189
@jkuri May be you can help me to generate .map files?

[2017-01-17 21:56] jkuri commented on #189
set `sourceMap: true` in `tsconfig.json`.

[2017-01-17 21:58] theromis commented on #189
and run `npm run build` ?

[2017-01-17 22:02] theromis commented on #189
@jkuri still no luck
`npm run build`
[code]

[2017-01-17 22:28] jkuri commented on #189
try new version, I published to npm with sourcemaps.

[2017-01-17 22:30] theromis commented on #189
it works :-*

[2017-01-17 22:59] theromis commented on #189
@jkuri still can't make the module work
getting
[code]

[code]

[2017-01-17 23:25] theromis commented on #189
@jkuri fixed
[code]

[2017-01-18 03:50] DeyuanTan commented on #139
my code:
![image](https://cloud.githubusercontent.com/assets/8966624/22050253/37ab6a28-dd74-11e6-9e29-d279fca86157.png)

[2017-01-18 07:48] oskvortsov-bmt opened #191 "bug in version > 2.0.22"
Hi
I try using ngx-uploader version > 2.0.22 and branches master, and i get error
Stable version 2.0.22

[2017-01-18 22:43] umens commented on #191
same here. It may be cause by the merge #190 for the multiple instance support.

[2017-01-19 05:04] saravanakumargn commented on #116
I just tried to fix this like below and Its working for me

in my options
[code]

and validate the file extension before upload event
[code]

[2017-01-19 05:08] saravanakumargn commented on #155
You can do something like this..

[code]

[2017-01-19 05:11] saravanakumargn commented on #144
Url in angular2 client side is
[code]

[2017-01-19 05:18] saravanakumargn commented on #101
Its not working for me
I tried in beforeUpload event. I want to append selected file name with the url or data

[code]

[2017-01-19 13:26] daslicht commented on #184
I the same question.
It would be interesting how well upload process will be displayed.

When uploading just with firebase, I just get a very few progression events such as ```50%, 75%, 100%```

[2017-01-20 10:27] musicEnfanthen commented on #191
got the same error here (ngx-uploader v2.0.22):

Resolved for now by adding

[code]
wether locally to the component that uses the uploader or globally back to `/node_modules/ngx-uploader/src/module/ngx-uploader.module.ts`.

[2017-01-20 13:48] ganySA commented on #140
The example is actually pretty useless.

[2017-01-20 13:58] jkuri commented on #140
i will update documentation as soon i'll have time.. possibly this weekend.

[2017-01-20 13:58] oskvortsov-bmt commented on #191
I try it, but when i try upload file with use drap and drop i get error

[2017-01-20 23:38] rahasal commented on #101
i have same problem with ngx-uploader :-(

[2017-01-21 07:35] nitishkumarnitc opened #193 "Sending File path"
I want to send upload path along with the file. Please tell me How can I send the upload path and
how can i retrieve it in my php script along with file.

[2017-01-21 16:05] nitishkumarnitc commented on #193
I am trying to access that data send in options i.e  data: {
        userId: 12,
        isAdmin: true
      }
in my php code as $_POST['data'] but getting null

[2017-01-23 10:54] murunwas opened #194 "How to send file with data??"
I just want to append some data from the form before sending the file, can I use the button to send the file??

[2017-01-23 11:46] GeoAstronaute commented on #157
Hi @tanvirshuvo,
I had the same issue, I fix it by using 'awesome-typescript-loader' ([https://www.npmjs.com/package/awesome-typescript-loader](url)) rather than 'ts-loader'.
Hope it help!

[2017-01-24 22:03] PavelRadev opened #195 "Is possible to cancel an upload?"
Hello. See the same question at March 14, but there are no answers. So, maybe somebody got same problem before, and know how to solve it?

[2017-01-26 08:56] 0r0s opened #198 "Upload method configurable?"
Can the uploader use PUT instead on POST? I want to use it with Amazon S3 presigned urls, which requires PUT instead of POST. http://docs.aws.amazon.com/AmazonS3/latest/dev/PresignedUrlUploadObject.html

[2017-01-26 10:45] marekszczepansky commented on #101
It will not work in beforeUpload event - XHR session is already created. To update options you should do this before interact with directive (especially before staring upload). IMO it is useful if you disable autoUpload.

[2017-01-26 12:34] ivanovmv90 commented on #158
Solved this by adding NgUploaderModule to exports:
[code]

[2017-01-26 12:53] #191 closed

[2017-01-27 08:04] trueflywood commented on #158
Hi,

still got this error.
installed your module via "npm install ngx-uploader".

[2017-01-27 15:05] Doehl commented on #198
As you can see in the demo at [ngx-uploader.com/advanced](http://ngx-uploader.com/advanced), yes you can. With the NgUploaderOption method: 'PUT'

[2017-01-27 20:29] nitishkumarnitc opened #199 "Getting file path"
How can I get the path of the file that is selected at client side?
Thanks In advance.

[2017-01-28 09:49] juanhuguetgarcia opened #200 "Displaying file name when dropped or browsed"
Hi,

I am using manual uploading and I am not able to display the filename or some indicator to let the user know that the file he selected is waiting for him to click on the submit file button. Does anyone know how to handle it?

Thanks a lot!

BTW, Nice job! @jkuri

[2017-01-31 05:12] JamshedLatipov commented on #18
+1

[2017-01-31 05:29] PooperPig opened #201 "Link to Docs page is broken"
http://docs.ngx-uploader.com

After passing the 'Safari can't identify the identity of the website" (or the equivalent on Chrome) the error "Cannot GET /" is returned.

[2017-01-31 07:50] lukasz-galka opened #202 "Can't close upload popup on Microsoft Edge"
You can reproduce this bug on demo page
http://ngx-uploader.com/demo

1. click browse
2. select file
3. click open
4. upload popup hides and shows again - I can't close this popup

I have checked this also locally with version:
ngx-uploader version 2.1.2

Windows 10
Microsoft Edge 38.14393.0.0
Microsoft EdgeHTML 14.14393

[2017-02-01 12:52] VitaliyKovtun opened #203 "File parameters"
Hey. I would like to know, if I can pass parameters within uploaded file?
I have
[code]
And I need to save Attachment object with image file as 'image' field, not only image itself. By clicking createFile() {}.
How can I do that?
I'm able to upload file, but what about saving it to database as a whole object?
Like
`this.attachmentService.create(params).subscribe((data) => {}, (err) => {});`
Should

[2017-02-02 09:14] maartentibau opened #204 "Problem with running app on a Mac"
Hi,

I'm work on a PC, Windows 8.1, my colleague works on a Mac, latest Mac OSX version. But when he runs the project, he gets theses errors:

[code]

Any idea how this would be solvable?

[2017-02-02 10:09] jkuri commented on #204
please see https://github.com/jkuri/ng2-datepicker/issues/136#issuecomment-269690127, looks like same error.

[2017-02-02 11:07] maartentibau commented on #204
Thx for the fast response man!

This fixed it for me. Just added `ngx-.+`

[code]

[2017-02-02 11:07] #204 closed

[2017-02-02 23:07] collinwalsh1998 opened #205 "API Docs Site is down"
The API Docs at https://docs.ngx-uploader.com/ is not working I am getting the error 'Cannot GET /'
Thanks!

[2017-02-03 12:05] hsbalar commented on #200
Yes havnig same issue here,
For the moment you can do something like this to get file name,

In `onChangeFile(file: any)` you will get file name.

[2017-02-03 12:53] trueflywood opened #206 "warning if "noUnusedParameters": true"
If we use "noUnusedParameters" option for tsc , the compiler  produces errors:

ngx-uploader@2.1.2

[2017-02-05 08:22] OdaiTu commented on #194
same issue here

[2017-02-07 10:50] lukasz-galka commented on #202
It seems to be Microsoft Edge issue
https://developer.microsoft.com/en-us/microsoft-edge/platform/issues/8282613/

[2017-02-07 12:18] #202 closed

[2017-02-07 20:06] maartentibau opened #207 "handleUpload($event) gets triggerd twice"
Hi,

I'm using the more "advanced" way of your ngx-uploader. So I have the `autoUpload` set to `false`.
And when I click a button, I trigger the `startUpload` event.  The thing is, the `handleUpload` method is triggered twice.. I have no idea why this is happening to be honest.

The code I'm using is almost exact the same as your example.

[2017-02-08 04:15] bhamde commented on #140
where does the documentation exist now? I can only see github and the demo examples - no API doc at all

[2017-02-08 04:32] jkuri commented on #140
API docs are back online at http://docs.ngx-uploader.com. sorry for delay though.

[2017-02-08 04:32] #140 closed

[2017-02-08 04:32] jkuri commented on #205
its back online.

[2017-02-08 04:32] #205 closed

[2017-02-08 04:33] #189 closed

[2017-02-08 04:33] jkuri commented on #201
its back again.

[2017-02-08 04:33] #201 closed

[2017-02-08 05:10] #206 closed

[2017-02-09 07:08] trueflywood opened #208 "Do not see errors when the file is loaded"
When I try to upload a picture on a page that is not present.(Error 404)
[code]
I do not see no error code. I do not see the error text

[2017-02-13 01:51] princemaple opened #209 "Throw away function"
Hi @jkuri ,

There is a [function](https://github.com/jkuri/ngx-uploader/blob/master/src/classes/ng-uploader-options.class.ts#L45-L47) gets created and thrown away every time an upload option object is created.
Why is that implemented this way? Not that it's a huge performance impact, just curious.
If it's not an intentional design, I'd like to send a PR to move into an ~instance~ method, is that

[2017-02-13 06:09] jkuri commented on #209
hi @princemaple. yes, sure, send a PR and I will accept it. thanks.

[2017-02-13 15:29] lagfvu commented on #207
@maartentibau please did you find a solution, i'm having the same issue

[2017-02-13 15:38] maartentibau commented on #207
Nope... I have no idea what is going wrong. I also haven't found the time to dive into the source code sadly 😞 I was hoping @jkuri might have an idea what it could be. I updates to the latest version, but that didn't solve it.

[2017-02-15 12:34] zwerg44 opened #210 "firefox FileList has no filter"
/src/directives/ng-file-select.ts
this.files = this.files.filter(f => f.name !== data.originalName);

In firefox this.files has type FileList, it has no method filter.
So all this.files.filter in /src/directives/* will fail with "_this.files.filter is not a function"

Supose to have something like this in this.files = this.el.nativeElement.files; assignment:

    this.files = [];
    if (this.el.n

[2017-02-16 12:52] filipefreitas82 commented on #9
Hi

I'm having this issue with the latest version (2.1.6)
And I can't find the fix code in  'master'

Any idea?

[2017-02-16 18:11] patrickracicot opened #212 "umd bundles"
Please close issue, mistake from my part

[2017-02-16 19:40] jkuri commented on #212
added back in https://github.com/jkuri/ngx-uploader/commit/e1e1285fad9a6dde11025201a938ea67775b0d4f. please let me know if it works for you. thanks.

[2017-02-16 19:57] patrickracicot commented on #212
Indeed it is now working when targeting the bundles instead of the index.js  Thx

[2017-02-16 20:20] jkuri commented on #212
no problem.

[2017-02-16 20:20] #212 closed

[2017-02-17 12:09] rafaelcneves commented on #210
The same on Chrome..

[2017-02-18 11:38] zwerg44 commented on #210
Seems like I used the wrong version.
This was fixed in ngx-uploader 2.0,4 and current 2.2.0 looks ok.

[2017-02-18 11:38] #210 closed

[2017-02-20 00:32] LukeHartcher commented on #110
Hi @jkuri I have the same issue. I can see that if I set the onFinished function I can see the 401 but Im am "outside" the angular 2 component at this point. Is there some other even that can be hooked into so we can process a 401 (or whatever) response within the angular 2 component? Also, at this point the handleUpload does not have the error flag set and progress is set to 100 even though nothi

[2017-02-20 02:45] LukeHartcher commented on #110
To get around this I had to remove specifially setting the onFinished (as this causes the response not be returned in handleUpload) and then in handleUpload check for an empty response.

[2017-02-20 12:55] murunwas opened #213 "CORS Issues"
How do you set CORS flags??

[2017-02-20 14:28] LudovicE07 commented on #158
Hi still got this error and I can't continue my interface without upload file solution... Do you have any idea how fix this?

Thaks you,

[2017-02-20 15:15] klitynski commented on #213
Could you be more specific?

[2017-02-21 03:25] siva2sachin opened #214 "How to run in local computer."
I have installed the packages using npm install build and I tried using npm run dev to  watch for the files change. Could you please help me how to access the page with localhost(means what is the address)?.. Please let me know if I'm doing wrong. Thanks in advance for your help.

[2017-02-21 05:38] jkuri commented on #214
you need to run `npm start`.

[2017-02-21 05:46] siva2sachin commented on #214
Thanks for your help. I did that but I'm getting below error,

npm ERR! Windows_NT 6.1.7601
npm ERR! argv "C:\\Program Files\\nodejs\\node.exe" "C:\\Program Files\\nodejs\\
node_modules\\npm\\bin\\npm-cli.js" "start"
npm ERR! node v7.5.0
npm ERR! npm  v4.1.2

npm ERR! missing script: start
npm ERR!
npm ERR! If you need help, you may report this error at:
npm ERR!     <https://github.com/npm/npm/is

[2017-02-21 05:48] jkuri commented on #214
sorry, i changed this with another module. unfortunatelly this module does not come with a demo included, but I will prepare one in a near future.

[2017-02-21 05:57] siva2sachin commented on #214
Thanks. I will try to implement by myself.

[2017-02-21 05:57] #214 closed

[2017-02-21 15:24] dongtong commented on #158
I have the same error, anyone could solve it?

[2017-02-22 14:35] lukasz-galka commented on #123
**Is it possible to allow only files, that are smaller than 5MB?**
you can use "maxSize" option and handle this in onUploadRejected event

html
`<input type="file" ngFileSelect [(options)]="options" (onUploadRejected)="handleReject($event)"> `

ts
[code]

**Can you limit number of files? So that user can upload only 5 images?**
there is an option "maxUploads" but is not working, for this you can m

[2017-02-23 07:26] tups-ibl opened #215 "[Newcomer] Explain fields in option"
I'm a newcomer and I read ngx-uploader docs but I could not look for where explains option,  so I am still confused about the fields in option. Can someone explains the meaning of each field?

[code]

[2017-02-23 07:53] lukasz-galka commented on #92
html
`<input type="file" ngFileSelect [(options)]="options" (change)="handleChange($event)">`

ts
[code]

[2017-02-23 07:56] lukasz-galka commented on #9
the same situation with 2.2.0

[2017-02-23 08:14] jkuri commented on #9
@lukasz-galka can you propose a solution maybe?

[2017-02-23 08:15] jkuri commented on #215
hi @phansontu. is there any field which is completely unknown how to use it? please reply and I can explain it.

[2017-02-23 08:43] phansontu commented on #215
@jkuri
They are maxUploads, data, withCredentials. And one more question, Have any function to get the extensions of file like:
return extension('image.png')
and the result is 'png'

[2017-02-23 09:44] michaelkariv commented on #163
[newcomer] can anyone provide a sample on how to have multiple uploads  now that the bug has been  fixed?

[2017-02-23 12:26] Alessandro77 commented on #95
try this way for now:
create a empty public array that can collect originalName reference of each file from the event beforeUpload.
onPreviewData can read this array and associate the first occurrence whit the previewdata url, then shift the array.
It works ;)

--------

tempname=[];
beforeUpload(uploadingFile: UploadedFile): void {
    this.tempname.push(uploadingFile.originalName);
}

handlePrev

[2017-02-23 13:22] michaelkariv opened #216 "[Newcomer] Example of two-step uploading where URL created after user credenitals posted"
Hi all,
I use google app engine and google cloud store. The way it works - inherited from old code that used appengine blobstore  - is that the user posts credentials to appengine, which creates the cloudstore upload URL. So the client calls the server twice - first to get the upload URL, and then actually uploading.

How should I approach this? I think my case is but an instance of custom uploadi

[2017-02-23 16:35] andershagebakken commented on #207
I have a similar issue with the advance example, but it gets fired four times.

[2017-02-24 14:37] marekszczepansky commented on #195
This is not possible now. Service does not expose XMLHttpRequest instance. I think it can be part of passed UploadedFile structure. What do you think @jkuri?
I'm happy to create pull request with this change.

[2017-02-24 21:13] maartentibau commented on #207
OK, I figured out what's actually causing these multiple uploads. I haven't looked into the source code, but to trigger multiple uploaded.. just try this.

1. select a file
2. select another file
3. select yet another file
4. Yes.. you guessed it.. select another file

Then click on your upload button, you'll notice multiple uploads being fired. So... for some reason the "select a file" events are

[2017-02-26 18:58] lukasz-galka commented on #145
@Oleh-Pashchenko Do you still have this issue? I have checked on Ipad Air (a1474) and on Galaxy Tab S2 and everything is working fine.

[2017-02-27 04:45] kohenj commented on #153
Facing the same issue, data.response is never set.
handleUpload is fired once, percentage is at 100, 'done' is false and handleUpload is never called again.

Server is correctly returning a HTTP 200 with custom response with the newly uploaded filename.
Have you found anything?

[2017-02-27 04:48] kohenj opened #220 "handleUpload data.response always undefined"
Following the basic example with autoUpload set to true.
Server is correctly receiving the info and returns a HTTP 200 with a custom response including new filename.

handleUpload is only fired once with 'percent:100' and 'done:false' and 'data.response' undefined.

Do we need to follow a specific response format?
Anyone facing the same issue?

[2017-02-27 04:50] jkuri commented on #220
try wrapping `zone.run` inside `setTimeout(() => zone.run(() => { ... }));`

[2017-02-27 05:14] kohenj commented on #220
It is wrapped with a setTimeout unfortunatly, even tried to give it a little more time without success.
In Network DevTools I can see the correct 200 response of the POST to the server.

[2017-02-27 05:21] jkuri commented on #220
maybe you are uploading file that small that is uploaded immediately?

--
Jan Kuri

On 27 February 2017 at 06:14:01, Peter (notifications@github.com) wrote:

[2017-02-27 05:30] kohenj commented on #220
Good guess, but unfortunatly I've tried files > 3MB.
It is true that I am running both servers locally on different ports, it can crank up my upload speed.
My upload server is a NodeJs REST API.

[2017-02-27 05:32] jkuri commented on #220
check if you really return json back.

[2017-02-27 05:43] kohenj commented on #220
Confirmed, it is valid JSON sent back.
Is there a specific JSON nesting properties to follow?

[2017-02-27 05:59] kohenj commented on #220
Not sure if this info can be helpful, but:
- recently migrated from angular RC5 to latest release
- was using ng2-uploader@0.5.14 before and switched to ngx-uploader with the migration

on ng2-uploader@0.5.14 had to change something to make it works,
services/ng2-uploader.ts@~145 had to change:
`xhr.onreadystatechange = () => {
      if (xhr.readyState === XMLHttpRequest.DONE) `
to
`xhr.onreadysta

[2017-02-27 07:26] jkuri commented on #220
not its not a specific json to follow, not sure where's the problem honestly. if you can share the part of api upload handler i can take a look.

[2017-02-27 12:50] Abinayats commented on #87
Hi,

Thanks @MaxiSantos for the great solution. It works for me :)

[2017-02-27 13:51] donjae opened #221 "[Newcomer] Attaching the proper headers for Google Storage "Simple Upload""
(Sorry in advanced for the basic question)

For google's storage direct uploads, it requires the following format of the headers:

[code]

I can get the 'Content-Length' from `UploadingFile.size` which is the object property created through this module, but not sure how to retrieve the mime-type/content-type property for the file thats selected. Does anybody know?

[More info on google's direct st

[2017-02-27 15:26] kohenj commented on #220
Will do more tests to see if the way the backend returns the response has any impacts.
Will let you know, thanks for the quick responses.

In the meantime if anyone else has already face that issue, let us know.

[2017-02-28 01:30] kohenj commented on #220
I've tested forcing my upload server (python server using Flask) to return a full response:
`
        resp_data = {
            'status': status,
            'msg': msg,
            'data': { 'originalName': original_file_name, 'generatedName': filename }
        }`
`        resp = make_response(json.dumps(resp_data), return_code)`
`        resp.headers['Content-Type'] = 'application/json'`
`

[2017-02-28 12:13] trueflywood commented on #117
(onUploadRejected) not work

[2017-02-28 12:15] trueflywood opened #222 "beforeUpload error"
beforeUpload is called only when autoUpload: false

[2017-02-28 12:16] trueflywood opened #223 "(onUploadRejected) not work"

[2017-02-28 12:18] trueflywood opened #224 "Extensions not filtered"
Extensions not filtered when autoUpload: true,

[2017-02-28 14:44] lukasz-galka commented on #224
I have checked all your bugs #222 #223 #224 and everything is working fine for me. Could you give more info?

[2017-03-01 00:23] kohenj commented on #220
Ok, I found the problem with my issue, it is with this line in _services/ngx-uploader.ts@91_:
`if (xhr.readyState === XMLHttpRequest.DONE) `

For some reason, on my side, `XMLHttpRequest.DONE` does not return `4` but instead `function removeEventListener() { [native code] }`.

But `XMLHttpRequest().DONE` does return `4`. I guess it's mostly a problem on my side, still trying to figure out why.

[2017-03-01 07:45] trueflywood commented on #224
#222 could not be reproduced. Perhaps after reinstalling packages.

#223, #224

options:
`
this.options = new NgUploaderOptions({
            filterExtensions: true,
            allowedExtensions: ['jpg', 'png'],
            url: this.backendService.serveUrl + 'api/units/' + this.id + '/photo',
            authToken: this.cookieService.get('access_token'),
            fieldName: 'content'

[2017-03-01 13:18] marekszczepansky commented on #195
I provided abortUpload support. Can anyone with write access approve and merge this?

[2017-03-02 08:32] lukasz-galka commented on #224
you are right, I was checking ngFileSelect

[2017-03-03 11:48] yogeshwar607 opened #227 "https://ng2-uploader.com/ not working."
https://ng2-uploader.com/ is not working.

[2017-03-03 14:50] jkuri commented on #227
http://ngx-uploader.com

[2017-03-03 14:50] #227 closed

[2017-03-06 00:57] princemaple commented on #209
Totally forgot about this one. Sorry. However, now I look at it again it's really not that big of a deal. There is nothing wrong with using a closure to handle this.

[2017-03-06 00:57] #209 closed

[2017-03-06 09:08] yonimoses commented on #207
@maartentibau  - any luck with the source code? I'm also getting multiple times fired . it wasn't like that in v1+ , it started when I switched to version 2.

[2017-03-10 14:18] alv3n opened #231 "Receiving data in backend with expressjs"
I'm trying to use ngx-uploader in my Angular 2 + nodejs/express/mongodb app. I implemented basic example and changed url to my localhost/api/user/gallery when I want to upload images. POST method in my backend looks like:

[code]

And I don't get any files in request. Is it wrong way to trying implement it? How can I get files to upload in my backend?

[2017-03-10 18:30] jkuri commented on #231
hi @alv3n, I can share code with you which serves for demo of this module. its typescript hope that doesn't bother you and hopefully get you an idea how to proceed;

[code]

[2017-03-10 19:03] alv3n commented on #231
Thank you @jkuri I got it worked for me!

[2017-03-10 19:03] #231 closed

[2017-03-11 08:58] alv3n commented on #153
@ventr1x @kohenj check if something in your project don't do something with `XMLHttpRequest`. In my case it was pacejs blocking it.

[2017-03-11 13:38] kohenj commented on #153
It was exactly the same issue for me, pacejs has been overriding it. Maybe it will others!

[2017-03-11 14:52] Christian24 commented on #194
I found a solution to this:

First I set up options like this:
[code]
Then I have a method used for starting the upload and setting the data of type Photograph that I want to send along:
[code]
Hope this helps.

[2017-03-14 16:17] stuman93 opened #232 "Demo is broken - Can't bind to 'options'. SetTimeOut() doesn't compile"
Demo is not working.  I'm using angular-cli.  I followed all of the instructions on the demo.  What is up with all of the demos for Angular2? They are all broken.  Yours, ng-upload by Valor software.  Even the stackoverflow's nice example referenced [here](http://stackoverflow.com/questions/40214772/file-upload-in-angular-2) is broken as well.  Is there something wrong with my angular-cli?  I can'

[2017-03-15 15:43] BasilioB commented on #223
+1
onUploadRejected is not fired for drop zones (no auto upload).
ng-file-drop.ts:104
`@HostListener('change')` is not called

a quick fix would be very nice ;-)

[2017-03-15 16:05] jkuri commented on #223
@BasilioB can you make a PR please?

[2017-03-15 16:47] BasilioB commented on #223
@jkuri have not really changed something. Just tested. But found the changes of this pull request:   https://github.com/jkuri/ngx-uploader/pull/226 looks promising! Will check later

[2017-03-15 16:50] jkuri commented on #223
okay I merged and published https://github.com/jkuri/ngx-uploader/pull/226.

[2017-03-16 10:27] zegilooo commented on #232
I got the same error
`Unhandled Promise rejection: Template parse errors:
Can't bind to 'options' since it isn't a known property of 'div'. ("<div class="drag-n-drop-container"
      ngFileDrop
      [ERROR ->][options]="options"
      (onUpload)="handleUpload($event)"
      [ngClass]="{'file-over': hasBaseDro"): AppComponent@2:6
Can't bind to 'options' since it isn't a known property of 'input'.

[2017-03-16 11:53] hsbalar opened #234 "Can't find variable: DragEvent in Safari"
Getting ReferenceError: Can't find variable: DragEvent when application run in safari browser

[2017-03-17 04:30] liyakhatalikhan opened #235 "Java Rest end point - Required CommonsMultipartFile parameter 'image' is not present"
Getting this error when the java rest endpoint is receiving the request .

  @PostMapping("/avatarImage")
    @Timed
    public ResponseEntity<ImageDTO> avatarImage(@RequestParam(value = "image") CommonsMultipartFile file) throws URISyntaxException {

I tried changing the requestparam to file but it doesnot work.

I tried removing the requestparam, then i get
[org.springframework.web.multipart.com

[2017-03-19 11:23] osahner commented on #235
the [default param name is file](https://github.com/jkuri/ngx-uploader/blob/master/src/classes/ng-uploader-options.class.ts#L67). so try
[code]
or change the option.
[code]

[2017-03-19 18:38] BenevidesLecontes commented on #234
i'm getting this as well, but when i'm running tests in PhantomJS.

[2017-03-20 12:35] kurtuluso commented on #153
pace.js was overriding XMLHttpRequest. I fixed it but now it SOMETIMES trigger handleUpload.
No problem during progress but when the upload is finished, last emitter SOMETIMES can not run handleUpload.
Couldn't find a solution

[2017-03-21 02:37] byronsliger commented on #232
me too

[2017-03-21 03:47] hsbalar commented on #234
@BenevidesLecontes Is there any way to work around ?

[2017-03-21 13:19] jkuri commented on #234
this is now solved with the new version.

[2017-03-21 13:19] #234 closed

[2017-03-21 15:13] noface151151 opened #238 "how to use Promise with ngx-uploader"
I have two component: component A and component B
Component B using ngx-uploader with selector "upload-file".
Component A use selector "upload-file" .
In Component B i have function:
 startUpload() {
    this.inputUploadEvents.emit('startUpload');
  }
When click button in component A, i want to upload file. I use ViewChild in component A and it succeeded, but i want to click button in component A

[2017-03-21 22:27] zerefel commented on #232
Hey guys, I had the same issue in Angular 2, and I solved it by importing the **NgUploaderModule** in the parent module, and not the grandparent module _(relative to the module where I wanted to use the functionality of the file uploader)_.

My structure is as follows:

├ GrandparentModule - _do not import here_
├── ParentModule  - _add to imports here_
 │----├── TargetModule - _directives accessi

[2017-03-23 15:11] charbonnier666 commented on #224
still doesn't works with 2.2.5 ( I try with file zip but browse not filtered (all extension) and I can upload anything)

[2017-03-23 15:51] charbonnier666 commented on #224
Edit: it doesn't upload not-zip files but it doesn't filter in browse

[2017-03-27 14:57] scottlepp commented on #224
@charbonnier666 you can just use the "accept" attribute on the input tag:  https://www.w3schools.com/tags/att_input_accept.asp

[2017-03-28 11:51] TomRt opened #239 "Sending File as encoded String (i.e. base64) in JSON-Struct in option.data"
Hi,

first i want to say that you guys make a great job and i'm thankful to use your ngx-uploader modul.

But unfortunately i wasn't able to made the ngx-fileuploader work for my puposes in my current project.
The server i want to upload the file isn't accepting the encoded form-data-syntax the ngx-uploader is sending.
The server only accepting the file as an encoded base64-string within a json-st

[2017-03-28 15:00] senglory opened #240 "Nether TS 1.8.10 nor TS 2.2.2 builds the code"
What TS should I use to build it? If I try to use TS 2.2.2 I see the following output:

node_modules/ngx-uploader/src/module/ngx-uploader.module.ts(1,10): error TS2305: Module '"C:/prj/demo.new/CodeProjectAngular2.Portal/node_modules/@angular/core/index"' has no exported member 'NgModule'.
node_modules/ngx-uploader/src/services/ngx-uploader.ts(199,3): error TS2322: Type '{ provide: typeof NgUpload

[2017-03-28 19:02] jkuri commented on #239
Hi @TomRt, thank you for your kind words. Wondering why you don't make a Pull Request so I can get this thing merged?

[2017-03-29 09:13] TomRt commented on #239
I've made a PR and it was accepted
Thanks @jkuri

[2017-03-29 09:13] #239 closed

[2017-03-29 16:54] rbasniak opened #242 "Multiple file upload and forma data"
Hi, I tried to look for something on the docs and the questions here, but I couldn't make it work.

I would like to create a form with some inputs, and multiple file upload, no preview needed. The user should pick some files and then click the submit button. At this moment a single request is created with the form data and all the files he picked.

Does ngx-uploader support such scenario? If not a

[2017-03-30 03:53] adrian-mitangi commented on #113
Hi Maartentibau,

Were you able to implement you refresh token functionality? If so, can you provide some guidance?

[2017-03-30 14:00] aurhe opened #243 "IE11 throws SyntaxError when xhr.open is called with an empty string as the url"
If I call UploadedFile.setAbort to handle a request myself xhr.open is still beeing called in NgUploaderService with an empty string as the url. Most browsers ignore this but IE11 is throwing an exception.

Setting the url to some random string is a workaround, but I think that xhr.open should not be called if the file was aborted as it is beeing done to the xhr.send.

[2017-03-30 16:17] FilipeQ opened #244 "Multi upload files"
Bug:
I have 2 ngFileDrop and ngFileSelect in the same html page, when I drop or browser a file for a specified component they will call all handlers from all components.

Version: 2.0.0

This bug don't exist at version 1.6

example code that works in version 1.6

html:
[code]

[code]

component.ts:
[code]

With version 1.6 if i upload Invoice file they will call handleUploadInvoiced handler, it's

[2017-03-30 21:12] jkuri commented on #244
hi @FilipeQ. thanks for your report, I'll check on this.

[2017-03-31 08:01] uncledent opened #245 "Updating headers based on file type"
Hello, I need to update headers based on the uploading file type. How is it possible? I believe that the updating of options after constructor method is not affecting the response.

[2017-03-31 12:21] shwetaec06 opened #246 "how to change default field name file"
headers:
Request Payload
------WebKitFormBoundaryXEYp1KxdAvCTplrC
Content-Disposition: form-data; name="file"; filename="IMG_5470.jpg"
Content-Type: image/jpeg

------WebKitFormBoundaryXEYp1KxdAvCTplrC--

[2017-03-31 15:20] uncledent commented on #245
Just figured it out.

Change options to: multipart: false

[2017-03-31 15:20] uncledent commented on #221
Change options to:
multipart: false
Hope this helps

[2017-03-31 15:25] uncledent commented on #245
Thank you for the component, I really like it.

[2017-03-31 15:26] jkuri commented on #245
hi Denis, no problem. thanks for using it.

[2017-04-02 11:03] ranstyr commented on #242
+1

[2017-04-04 01:16] jculverwell commented on #207
I am also getting this.  Anyone got any ideas of how to work around this?

[2017-04-04 01:30] jculverwell commented on #207
Ok, so found why is was getting called twice for me, on the setTimeout I had added 3 seconds as I wanted to show a message for a few seconds.  Removing the three seconds (3000 below) fixed the issue.

` handleUpload(data): void {
    setTimeout(() => {
      this.zone.run(() => {
        if (data && data.response) {
              alert('handle upload');
             console.log(data);
       }

[2017-04-04 07:31] osahner commented on #246
look there #235

[2017-04-07 18:14] rafaelss95 commented on #232
@zerefel solution worked for me.

[2017-04-10 02:30] inshaf commented on #220
im having the same issue... handleUpload is only fired once with 'percent:100' and 'done:false' and 'data.response' undefined.
im using laravel as the back end... Any idea how to fix this ?

[2017-04-10 04:17] inshaf commented on #220
at "NgUploaderService" class, "if (xhr.readyState === XMLHttpRequest.DONE)" condition fails on "onreadystatechange". But if i put condition as (xhr.readyState === 4) then it is working as expected. I can continue with this condition. But why "(xhr.readyState === XMLHttpRequest.DONE)" is not working ?

[2017-04-10 17:02] leetharris opened #247 "When using autoUpload:false, the upload gets caught in a loop and will send 50+ POSTs."
Angular version: 2.4.8
NGX-Uploader version: 2.2.5
Environment: 2016 Macbook Pro, MacOS Sierra, latest Chrome.

We have been using this uploader for a while now in a live enterprise application. We recently wanted to add some additional user interaction before the file gets uploaded, so we changed our config to the following one:

[code]

The upload is initiated by emitting "startUpload." Most of

[2017-04-11 18:13] largeDachshund commented on #232
@zerefel's solution worked for me, too.

[2017-04-12 14:52] marekszczepansky commented on #195
In version 2.2.8 you can do it by `UploadedFile` class object using `abortUpload()` method.
Try this:
`public beforeUpload(uploadingFile: UploadedFile): void {
	this.uploadingFile = uploadingFile;
}

public onCancel() {
	if (this.uploadingFile) {
		this.uploadingFile.abortUpload();
	}
}`

[2017-04-12 17:06] jkuri commented on #195
hi @marekszczepansky. can you please add this to README?

[2017-04-13 05:16] adrian-mitangi opened #248 "Handling stale token"
Hi,

I'm was wondering if anyone knows how to gracefully handle stale tokens by refreshing them and re-invoking the upload process?

Adrian

[2017-04-13 15:57] marekszczepansky commented on #195
OK, i'll try to find a proper place for it.

[2017-04-18 12:19] MrCroft commented on #67
@sbahmani Sorry for being off topic, but I have to ask... How did you get that response? Multiple files in the same request?
Because, in my case, it makes a different request for each file :(
If I add 10 files, it makes 10 requests, each request having as response data associated with that file.
I'm struggling with this ngx-uploader for days now, I don't think I'll ever understand how to use it.

[2017-04-18 16:08] MrCroft commented on #200
@hsbalar this only works for the input (ngFileSelect). But if the user drops files over the drop zone (ngFileDrop), there is no "drop" event for that.

Been back and forth between Angular uploaders the past couple of days, but none of them are fully functional :(

[2017-04-20 15:45] ecairol opened #249 "TypeError: Converting circular structure to JSON at Object.stringify"
I was getting this error with the Basic Example demo:
`TypeError: Converting circular structure to JSON at Object.stringify`

I solved it by removing this line `this.response = data;`, so the `this.zone.run` looks like this:

[code]

[2017-04-20 18:59] johnRambo2k14 opened #250 "UploadRejected.reason handling more than one error at a time"
hi,

I'm wondering does the UploadRejected.reason can handle more than one error at a time? On the front end, i want to give multiple reasons why a file cant be uploaded: if the file max size has been exceeded and extension not allowed.

[2017-04-21 13:25] davePlug commented on #133
@jkuri I'm still having the same issue @JesusMayuri7 explained.
Any news on this?

[2017-04-21 13:41] gethinoakes commented on #106
+1

[2017-04-24 19:31] Crizstian opened #251 "Can't bind to 'options' since it isn't a known property of 'input' Angular 4"
I am using Angular 4 with CLI, and i am recieving this issue.

`
Can't bind to 'options' since it isn't a known property of 'input'. ("                 type="file"
                             ngFileSelect
                             [ERROR ->][options]="options"
                             (onUpload)="handleUpload($event)"
                  "): ng:///UIModule/CreateChannelModalCmpt.html@64:29 ;

[2017-04-24 20:36] jkuri commented on #251
make sure you have included `NgUploaderModule`.

[2017-04-25 15:49] MrCroft opened #252 "Use ngx-uploader in a service"
Hi,

Is there an example of using ngx-uploader in a service?
How we would associate it with a ngFileDrop/ngFileSelect, but still have access to progress/complete response after navigating away from the current route? (navigating away - means that the component which contains ngFileDrop/ngFileSelect would get destroyed).

Scenario: on drag&drop files, autoupload starts. Then, the user should be abl

[2017-04-25 18:53] jkuri commented on #252
hi @MrCroft. good point, actually I am just working on a complete rewrite of the whole module which will be done in the next days coming. I'll try to cover all the usage examples on the demo page. I'll keep you posted. thanks!

[2017-04-27 01:53] leocaseiro commented on #205
It seems is down again...

[2017-04-28 08:57] lgleim opened #253 "API Docs offline"
The [online api docs](http://docs.ngx-uploader.com/) are currently offline and generating them from source via `gulp docs` errors with message:
[code]

[2017-04-28 08:58] lgleim commented on #252
any updates on when this will be available?

[2017-04-28 09:20] jkuri commented on #252
hi @lgleim I just pushed to https://github.com/jkuri/ngx-uploader/tree/3.0.0 new branch. I am pretty much done with uploading features but there's still work to be done (documentation ofc).
I will do my best to finish this till the Sunday evening or Monday morning.

[2017-04-29 06:00] jkuri commented on #252
hey guys new version published as `3.0.0`. For more info see README and check online demo on http://ngx-uploader.com. Thanks!

[2017-04-29 06:00] #252 closed

[2017-04-29 23:48] fatih91 opened #254 "Webpack Vendor Problem"
After I add the dependency of ngx-uploader to webpack.config.vendor.js and after I run webpack --config webpack.config.vendor.js on the command line to update the vendor bundle I got this error:

But the directory ngx-uploader and the files  existing in the node modules

[2017-04-30 08:11] lgleim commented on #254
Similarly when trying to build with ionic-app-script, it errors with
[code]

[2017-04-30 10:48] MrCroft commented on #252
Newb here... Works great at component level. Unfortunately, I still don't know how to properly make it work in a service.
I've put all the code from the demo in a service (`UploadService`).
Then, in my component (which is loaded in the dashboard home) I tried the following (to simply use the service):
[code]
I've stripped the app of everything else, leaving just the upload part plus some basic rou

[2017-04-30 19:01] daemswibowo opened #255 "Upload to firebase storage"
Can this be used to upload to firebase storage?
I'm very grateful if anyone can explain it. Thanks

[2017-04-30 21:06] jkuri commented on #254
guys can you check with `3.0.2` please, I missed some files with the publish to `npm`. thanks

[2017-05-01 18:20] michaelsanford opened #256 "ng2-uploader.com is down"
http://ng2-uploader.com/ currently gives the default "Welcome to nginx!" page.

[2017-05-01 18:21] jkuri commented on #256
use http://ngx-uploader.com. thanks for report

--
Jan Kuri

On 1 May 2017 at 20:20:49, Michael Sanford (notifications@github.com) wrote:

[2017-05-01 19:59] lgleim commented on #254
`3.0.3` seems to work fine. Thanks!

[2017-05-01 20:58] MrCroft commented on #252
@jkuri any news on an example?

[2017-05-01 21:05] fatih91 commented on #254
Yes I confirm Igleim it works fine. Thank you very much!

[2017-05-01 21:09] jkuri commented on #254
no problem.

[2017-05-01 21:11] jkuri commented on #252
@MrCroft give me some minutes, I'll check now.

[2017-05-01 22:10] jkuri commented on #252
hey man, can you ping me tomorrow please, I will solve this for you but haven't sleep for two days. been checking now but haven't found a solution already, I am kinda dizzy. okay?

[2017-05-01 22:14] MrCroft commented on #252
Sure thing! Thank you so much for looking into it.
I'm sure that what I've tried doesn't make much sense also...

Will ping you tomorrow. Thanks again!
And have a good night!

[2017-05-02 12:17] MrCroft commented on #252
ping! :)

[2017-05-02 12:19] jkuri commented on #252
hi :) thanks. I'll let you know when ready.

[2017-05-02 21:36] jkuri commented on #252
hey @MrCroft, I am attaching source files here. I needed to create custom directive to make your case work. hope this will gets you going, if you need further help, let me know.

[MrCroft-client.zip](https://github.com/jkuri/ngx-uploader/files/972022/MrCroft-client.zip)

[2017-05-02 21:42] MrCroft commented on #252
Awesome! Thank you very much!
I'll check it out right away!

I owe you! If I can ever help you out with anything, let me know!

[2017-05-02 22:06] MrCroft commented on #252
Works great! I think I shouldn't have any problems with creating a custom `fileDrop` directive also, that will look mainly like the `fileSelect` one, only different event listeners.

[2017-05-02 23:27] Crizstian commented on #251
Didnt work know i am implenting the new version of the api, so im closing this issue

[2017-05-02 23:27] #251 closed

[2017-05-03 20:58] Mcs-developer commented on #91
Hi @josealonsogarcia, Does this work for you? I tried but I can not fix it.

[code]
options.data.id changes when I click on a button.

[2017-05-03 23:10] Crizstian opened #257 "How to preview the image with the new version of ngx-uploader ?"
The old version had a preview option, does this one would have one ?

[2017-05-04 13:53] MrCroft commented on #242
@rbasniak I think you meant to say:

Not "is created"... Right?

Because, right now, the behavior is: it creates the same number of requests as the number of files.
Instead, a single request should contain all the files.

[2017-05-06 07:51] Justinemmerich commented on #82
Hey guys,

where do I have to place this

allowedExtensions: ['image/jpeg', 'image/png'],

im my component file ?

[2017-05-07 08:49] ericmaro opened #258 "How do you change fieldname in this new version?"
The new version is nice, but how can I change a fieldname to something like image, logo instead of just file?

[2017-05-07 09:36] ericmaro commented on #258
Anyway I went and update your code and add
`fieldName?: string;`
to interface UploadInput

and change the append in uploadfile like this
` form.append( event.fieldName || 'file', uploadFile, uploadFile.name);`

I hope you will include this in your next version

[2017-05-07 15:48] lonish opened #260 "How to remove file from queue?"
Is there a possibility to remove files from queue?

[2017-05-08 20:23] lebsral opened #261 "linting errors with ng lint"
$ ng lint

/Users/larsb/Documents/mycode/catalog/node_modules/ngx-uploader/src/ngx-uploader/classes/ngx-uploader.class.ts[118, 15]: Identifier 'concurrency' is never reassigned; use 'const' instead of 'let'.
/Users/larsb/Documents/mycode/catalog/node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-drop.directive.ts[6, 13]: The selector of the directive "NgFileDropDirective" should have pr

[2017-05-09 12:27] DavidRouyer opened #262 "unk"

[2017-05-09 12:28] #262 closed

[2017-05-10 12:24] rbasniak commented on #242
@MrCroft Yes, sorry for the misspeling...

The correct would be "At this moment a single request is created per each selected file with the form data"

[2017-05-10 12:52] MrCroft commented on #242
No harm intended :) just wanted to be clear and make sure it's the same thing I wanted to open an issue for. Right now, it is a pain to compute and show the user an accurate total progress when you drag&drop 10 files of different sizes.

[2017-05-10 23:00] ever3001 opened #263 "Documentation web"
http://docs.ngx-uploader.com its down, It has an Internal Server Error

[2017-05-13 14:52] cokkiy opened #265 "Parameter 'platform_id' implicitly has an 'any' type"
node_modules/ngx-uploader/src/ngx-uploader/classes/ngx-uploader.class.ts(160,27): error TS7006: Parameter 'observer' implicitly has an 'any' type.
node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-drop.directive.ts(16,15): error TS7006: Parameter 'platform_id' implicitly has an 'any' type.
node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-select.directive.ts(16,15): error T

[2017-05-14 09:14] #265 closed

[2017-05-14 09:15] jkuri commented on #258
its included now, thanks.

[2017-05-14 09:15] #258 closed

[2017-05-14 09:16] #254 closed

[2017-05-15 05:51] jason111neo commented on #256
502 Bad Gateway

[2017-05-15 05:57] GustavoCostaW commented on #252
Hey @jkuri @MrCroft I have the same problem, I need to continue my upload when the user changes the active router from the component that has directive uploader. Checking the code source, I can make this not using the directive because when It's destroyed unsubscribe is called. I created the singleton service and using the 'API' directly checking the source. @MrCroft, congratz for code, but, I bel

[2017-05-15 06:19] jason111neo opened #266 "beforeUpload response"
Passing "uploadingFile: UploadedFile" into beforeUpload prints out "undefined"

	beforeUpload(uploadingFile: UploadedFile , src) {
		console.log(uploadingFile.response);
        }

[2017-05-15 13:09] MrCroft commented on #252
Hi @GustavoCostaW
Yes, right now, for every upload I save all the data in my service and check that from any component where I might need that data.
The directive is needed, though... customized a bit. But, once an upload is added, the service takes over and continues to work as the user navigates.
Did you check the code in the archive attached above by @jkuri ? Because I haven't updated my repo..

[2017-05-15 18:58] lucasratske opened #267 "Error: Has no exported member 'PLATFORM_ID'. and isPlatformServer'"
I am getting this error:
`ERROR in C:/../node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-drop.directive.ts (1,81): Module '"C:/../node_modules/@angular/core/index"' has no exported member 'PLATFORM_ID'.

ERROR in C:/../node_modules/ngx-uploader/src/ngx-uploader/directives/ng-file-drop.directive.ts (2,10): Module '"C:/../node_modules/@angular/common/index"' has no exported member 'isP

[2017-05-15 19:11] jkuri commented on #267
upgrading Angular version should be enough.

[2017-05-16 13:32] erata commented on #101
i have the same problem updating options as options:NgUploaderOptions.
when i change defining  options:any; problem solved. maybe it is not recommenden but solves problem.

[2017-05-17 16:37] cokkiy opened #268 "'fieldName' does not exist in type 'UploadInput'"
I want set 'fieldName' property in 'UploadInput' ,but it's say 'fieldName' does not exist in type 'UploadInput'

[2017-05-17 16:47] #268 closed

[2017-05-17 16:50] cokkiy opened #269 "ngx-uploader.class.ts line 162 should modify"
ngx-uploader.class.ts line 162 should modify to:
return new Observable((observer:Observer<UploadOutput>) => {

and should
import { Observer } from 'rxjs/Observer';

[2017-05-18 14:08] dreppucci commented on #195
I'm trying to cancel an upload through this code:

`this.uploadInput.emit({ type: 'cancelAll' });`

but, apart emitting an event, it doesn't abort the XMLHttpRequest.

What's the issue about it?

[2017-05-19 01:55] GustavoCostaW commented on #252
@MrCroft yep, but he needed to create a custom directive to do this, and the main idea of this lib works with directives and limits the service and, unfortunately, has some limitations.

I'm working in a complex panel to upload most files asynchronous and the user can navigate in all application and the upload progress continue in 'background mode' ( like Google Drive. ) and react events, for make

[2017-05-19 04:30] jason111neo opened #270 "Upload without an image"
would like to ask if the uploader is able to upload image with image added in the component

[2017-05-19 22:16] chrisalexander55 opened #271 "Demo Site is Down"
Please check site.

[2017-05-19 22:30] jkuri commented on #271
thanks for report... working on a fix.

[2017-05-20 02:09] chrisalexander55 commented on #271
Down again, probably the Nth time. People reading this thread should consider the relative instability of OSS examples when deciding to use a component or library. Personally, I'm moving on to contribute to another OSS project.

[2017-05-20 10:37] yogesh8177 opened #272 "/ng2-admin/node_modules/ngx-uploader/ngx-uploader"' has no exported member 'humanizeBytes'"

[2017-05-20 10:56] iagocanalejas opened #273 "Upload Errors"
Hi, how can i get upload errors or response to show feedback??

[2017-05-20 21:10] gardziej opened #274 "reupload same file with autoupload"
When I want to upload (with auto upload) file that was just uploaded, nothing happens.

When i upload first file then different file and try upload first file again it is working.

[2017-05-20 22:00] gardziej commented on #274
Just need to reset file input :)

[2017-05-20 22:00] #274 closed

[2017-05-22 01:17] jason111neo commented on #270
ok let me rephrase my enquiry. Is it possible to load an image by default on startup? I want to achieve a result where page loads with image in the uploader, all I need to do is, with a click of the button, the image will be uploaded with the options given. Thanks

[2017-05-22 09:07] jason111neo opened #275 "multiple"
is it possible to put 2 urls for an uploader?

[2017-05-23 17:24] kolkov opened #276 "How to preview and crop image before upload?"
Upload working well.
My problem is how to preview image and crop it to avatar upload.

https://github.com/cstefanache/angular2-img-cropper
Or is there a better solution?

[2017-05-23 19:29] CQPosts commented on #265
I get this:
node_modules/ngx-uploader/src/ngx-uploader/classes/ngx-uploader.class.ts(161,27): error TS7006: Parameter 'observer' implicitly has an 'any' type.

[2017-05-23 19:57] gioragutt commented on #271
This change is needed. I want to know whether to use the library or not, but not without examples. Please handle this

[2017-05-23 22:15] jkuri commented on #271
thanks to @marhi weird/neat hack demo is back online! http://ngx-uploader.com/. sorry guys for inconvienience.

[2017-05-23 22:15] #271 closed

[2017-05-25 14:28] AndreasGassmann opened #277 "Setting withCredentials flag"
It seems that in v3 there is no way to set the xhr `withCredentials`-flag. Is this intentional or was it removed by accident? Without it the browser does not send our httpOnly session to the server and can therefore not be authenticated.

[2017-05-25 14:47] jkuri commented on #277
hi Andreas. its by accident, but you can still set custom headers.

[2017-05-26 04:46] jason111neo commented on #270
managed to solve it by using blob and xhrhttprequest

[2017-05-26 04:46] #270 closed

[2017-05-26 04:47] jason111neo commented on #275
Refer to [https://gist.github.com/crossjs/8359df01aefdb65754c4](here)

[2017-05-26 04:47] #275 closed

[2017-05-26 20:20] AndreasGassmann commented on #277
Thanks for the quick reply. I think you cannot set the withCredentials flag as a custom header, so we had to revert to v2 in this project. I'm packed with work currently, so I don't have time to open a PR, but maybe if things cool down I can give it a shot.

[2017-05-26 20:23] jkuri commented on #277
that would be great, thanks.

[2017-05-26 20:31] AndreasGassmann opened #278 "Filtering files by type or size"
I'm having a hard time to filter out files by type or size. It's not exactly clear to me where I have to add that check so the file won't actually be uploaded. I copied the sample from the readme and added a simple check:

    onUploadOutput(output: UploadOutput): void {
    console.log(output); // lets output to see what's going on in the console

    if (output.type === 'cancelled') {
      retu

[2017-05-26 20:41] jkuri commented on #278
hi again :), thank you for the nice words 👍 .
If you check [here](https://github.com/jkuri/ngx-uploader/blob/master/src/ngx-uploader/classes/ngx-uploader.class.ts#L134-L148), `cancel` event actually cancels the upload which is already in progress. I think, you need something like `remove` event, but this doesn't exists currently. if you have a solution or a proposal PR is very welcome.

[2017-05-27 12:49] josegb commented on #278
You can try to filter by extension and size with **[NgUploaderOptions](https://github.com/jkuri/ngx-uploader/tree/2.x.x)**

[code]

[2017-05-30 15:32] webmatrixxxl opened #279 "Failed to load /.../node_modules/ngx-uploader/tslint.json: Could not find custom rule directory: /.../node_modules/ngx-uploader/node_modules/codelyzer"
"^2.2.8" & "^3.0.3", angular cli command 'ng lint' trows this error:
    "tslint": "~4.5.0",

Failed to load /.../node_modules/ngx-uploader/tslint.json: Could not find custom rule directory: /.../node_modules/ngx-uploader/node_modules/codelyzer
Error
    at new FatalError (/.../node_modules/tslint/lib/error.js:40:23)
    at Object.findConfiguration (/.../node_modules/tslint/lib/configuration.js:47

[2017-05-30 17:20] chinna-magapu opened #280 "unable make dynamic url for azure storage with filename in url ngx-uploader angular2"
Hi I am implementing file upload to azure server through angular 2 using ngx-uploader. For upoloading to azure blob storage we i have to make upload url to be dynamically changed with uploading filename. i have tried to make url dynamic in startupload function as below, But it didnt helped me.

`** startUpload(file: UploadFile): void {  // manually start uploading
const event: UploadInput = {
  ty

[2017-05-31 09:13] lunanigra commented on #277
We are also using v3 and require the withCredentials flag.
I would really appreciate if there would a solution soon. Any kind of workaround is welcome as well.

[2017-05-31 09:23] jkuri commented on #277
okay I will implement a solution now.

--
Jan Kuri

On 31 May 2017 at 11:13:06, JC (notifications@github.com) wrote:

[2017-05-31 09:47] jkuri commented on #277
hi guys, https://github.com/jkuri/ngx-uploader/commit/d255ef180f15d9b140192b724453c34653790e55 should solve the issue. can anyone give me feedback if its working? thanks.

[2017-05-31 09:49] samfrach opened #281 "Extended Characters in filenames (like Café.png) are bad encoded..."
Hello,

If I upload files containing accentued characters like in "café" in their filename (ex: MyCafé.png), the é is lost and becomes A~... due to the UTF-8 character set in the Content-Type header.

How can I fix this ?

thank you

[2017-05-31 09:49] jkuri commented on #280
this should work, do you get any console errors?

[2017-05-31 10:07] jkuri commented on #281
hmm.. are you sure this happens on client side?

[2017-05-31 14:52] gilsdav commented on #278
It seems to work if I do this on 'addedToQueue':
        this.uploadInput.emit({
          type: 'cancel',
          id: output.file.id
        });
        **output.file.progress.status = UploadStatus.Canceled;**

[2017-05-31 22:47] lunanigra commented on #277
Works! Thanks for the quick solution :smiley:

[2017-06-01 08:43] DmitriyOnypko opened #282 "'uploadFile' event starts uploading only on second emit (version 3.x.x)"
What is the correct way to trigger one file upload?
[code]
does not start upload on first call (it does on subsequent calls).
Also it triggers uploadOutput events per each ngx-uploader output event subscribe fn on page.
I.E. per each (uploadOutput)="onUploadOutput($event)".
On the demo page you'll get 2 type="start" one after another, several "uploading" and 2 "done" after another 'uploadFile' emi

[2017-06-01 09:54] chinna-magapu commented on #280
Thanks @jkuri  for your response.

Yes it was working in case of uploading the single file,
But when i'm trying to upload multiple files it is using the same url  i .e,

url :'https://mysampleoxy.blob.core.windows.net/videos/'+file.name+'??sv=2016-05-31&ss=bfqt&srt=sco&sp=rwdlacup&se=2017-06-06T22:05:22Z&st=2017-05-30T02:05:22Z&spr=https&sig=dpuU5tSW4SOCDiol%2BScLbVw0YtVjmVW6M7Ij8TPGRD4%3D',

is u

[2017-06-01 12:35] gilsdav commented on #282
Same issue.
I tried to cancel after calling 'uploadAll' but when I understand that functionality doesn't exist, I tried using 'uploadFile' of my filtered files.
Unfortunately, the web-service is only called the **second time** I drag&drop the **same file**.

[2017-06-01 13:10] marco10024 commented on #282
Same issue.

[2017-06-01 15:28] Waldspecht commented on #267
I'm having the same issue. I'm currently using Angular Version 2.4.5.
@lucasratske: Have you  solved your issue?
Any suggestions?
Thanks in advance and best regards.

[2017-06-01 16:44] jkuri commented on #267
hi @Waldspecht, problem is because `@angular/common` does not export PLATFORM_ID which is exported by Angular 4 and forward versions.
I am using that for checking if this is used by server-side prerendering and currently this cannot work on Angular versions 2.x.x. Did you try to upgrade your project's Angular version?

[2017-06-02 08:51] Waldspecht commented on #267
Thanks for your quick response. I now have managed to update my App to Angular 4... was a real pain and now everything works. Thanks again!

[2017-06-02 09:36] jkuri commented on #267
glad you got it working. i think upgrading to 4 is a win-win.

[2017-06-02 16:38] manolof commented on #126
Use the concurrency option.

[2017-06-04 14:02] sai2197 opened #284 "uploadInput not found issue"
Template parse errors:
Can't bind to 'uploadInput' since it isn't a known property of 'input'.

It comes out as a rejected promise at the beginning of my angular2 application.

[2017-06-04 17:20] aochoa017 commented on #284
Hi sai2197,
Don't forget to update **app.module.ts**:

`
import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { NgUploaderModule } from 'ngx-uploader';

@NgModule({
  imports: [
    BrowserModule,
    NgUploaderModule
  ],
  declarations: [ AppComponent ],
  exports: [ AppComponent ]
})
export class AppModule {}
`

[2017-06-09 08:24] lukwas314 commented on #195
i am also trying cancel, no efect
@marekszczepansky fix is for 2.x.x branch im on 3.0.6

[2017-06-09 13:40] F3L1X79 commented on #121
With the v.3.x.x, this is what I tried and stille not working. Any clue?

[code]

[2017-06-09 14:51] bougsid commented on #123
I need to handle errors returned and I try this solution but unfortunately  doesn't work for me, `handleUpload(data : any) ` does not getting called.

I tried to debug your component and I didn't find any place where you fire` (onUpload)` event.

Hope there is a solution, I struggle with this for more than 2 days

[2017-06-09 16:34] marcoT89 commented on #279
Same to me.. Any workaround?

[2017-06-10 06:51] jolle-c commented on #200
Not sure if this is still an issue. But all files added will be items in the files array. To display them iterate that array and grab the name.
`
<ul class="list-group list-group-flush">
    <li class="list-group-item" *ngFor=" let file of files">
       {{ file.name }}
    </li>
</ul>
`

[2017-06-10 17:48] forestgun opened #285 "Upload video to aws S3 and corrupt file (v 3.x.x)"
I am uploading video files to S3 using presigned-url from AWS SDK and then using ngx-uploader in PUT mode and the whole process is correct, but checking the file in S3 is corrupt.

[2017-06-12 08:13] bdsettrade opened #286 "Upload multiple files in single request"
Is ngx-uploader support this feature?
I follow the drag&drop example. There was 2 post requests when i try to upload 2 files.

[2017-06-12 08:55] jkuri commented on #286
I don't thinks that's possible, at least on the client side.

[2017-06-12 16:28] #286 closed

[2017-06-12 19:23] bhargav-sae commented on #285
👍

[2017-06-13 07:55] Hesesses commented on #205
@jkuri do you have estimates when the docs site will be up again?

[2017-06-13 08:16] JanneHarju opened #287 "How to clear queue or send same file again"
If user select one file and uploads it and do same again to same file nothing happend.

[2017-06-13 08:47] Hesesses commented on #257
Anyone?

[2017-06-13 14:40] FlavioDP opened #288 "Backend return"
When executing the startUpload method I need to get the backend return. How do I do that?

[2017-06-14 17:53] tlcoder commented on #242
Having a single request will all of the files included would be very helpful.

[2017-06-14 17:55] skizdigidy commented on #242
I'm experiencing the same pain.  It would be nice to have the ability to batch all files into one request.

[2017-06-15 04:23] mirata commented on #278
I can cofirm what @gilsdav said. If the same file is submitted again, it doesn't get cancelled.

Cancelling an upload that is in progress does not seem to work.

[2017-06-15 11:27] jkuri commented on #288
you check output with `type.status === 'done'`.

[2017-06-15 19:52] adam-beck commented on #285
Does this have to do with the fact that S3 is expecting a stream but ngx-uploader only sends data using `multipart/form-data`?

[2017-06-15 21:25] jkuri commented on #285
I will check on this, thanks @adam-beck

[2017-06-15 21:31] adam-beck opened #289 "Questions regarding Observables in codebase"
I'm not for sure where the best place to ask questions is so I opened an issue in case anybody else was interested in the technicalities of the codebase. I have two questions:

1) Why in the `NgUploaderService` is `combineLatest` being used for the `'uploadAll` event?

[code]
Wouldn't the `mergeAll` only return 1 stream and also flatten the array of observables?

2) Why use `Subscriber.create(...)

[2017-06-15 21:53] jkuri commented on #289
Hi Adam,
for the `2.` I found this way more readable but for `1.` if you see that this thing can be improved and work better that way please feel free to open a PR and I will accept it.

[2017-06-15 23:08] adam-beck commented on #289
Unfortunaley I don't have enough experience with Observables/rxjs to fully understand what's going on here and if it could be improved or not. I was hoping you would be able to explain why you chose to do it this way so I could better understand. I wasn't criticizing your work; I was just trying learn from it.

[2017-06-16 09:31] mirata commented on #273
I think this functionality is currently missing. I would like to see the ability to handle observable errors and response codes.

[2017-06-16 10:59] lovery commented on #288
Is there a way to get the full backend response - status code and status text, not only the response content.

[2017-06-16 12:11] FlavioDP commented on #288
Thanks for the answer. But I need to get an object (eg: List <String>) from the backend. It's possible?

[2017-06-16 13:50] FlavioDP commented on #288
OK! I got the response from the "output" object in the onUploadOutput method when the return is done. Thank you!

[2017-06-16 15:58] lovery commented on #288
@FlavioDP if you want you can close this issue, I will create an other one for my question.

[2017-06-16 20:56] marekszczepansky commented on #195
@lukwas314 I havn't done PR for 3.x version. Maybe this can cause that it works only in => 2.2.8 version.
I've some spare time at work so I can test it on 3.x version.

I have my code workin' and cancel works like a charm.

[2017-06-17 04:31] alex88 commented on #167
@jkuri any chance this goes into a tagged release soon?

[2017-06-19 13:10] osahner commented on #279
Same same:

`...node_modules/ngx-uploader/tslint.json: Could not find custom rule directory: node_modules/codelyzer`

[code]

[2017-06-19 13:12] jkuri commented on #279
did you run `npm install`? https://github.com/jkuri/ngx-uploader/blob/master/package.json#L56

[2017-06-19 13:16] osahner commented on #279
oh yes, node_modules/codelyzer exists.

[2017-06-19 13:19] jkuri commented on #279
ok. please try now, `3.1.1` version.

[2017-06-19 13:20] osahner commented on #279
Hip hip!

thank you!

[2017-06-19 13:21] jkuri commented on #279
you welcome.

[2017-06-21 06:37] gilsdav commented on #282
@DmitriyOnypko this is corrected on 3.1.1.
Can you try and close the issue ?

[2017-06-21 06:45] gilsdav commented on #278
## Other solution
@AndreasGassmann with 3.1.1 fix, you can manage upload by yourself.
I personally do something like this:
[code]

[2017-06-21 17:17] nathanBrenner opened #290 "image fails to load"
I have a form that has an input of type file that sometimes works in the app. It works 100% of the time in Postman, and the backend has test coverage. On the times that I get a 500 Internal Server Error, the `request.body` is an empty object, and that particular request requires 3 fields: the file, the fileshortname, and the identifier on who the image belongs to.

None of that might be as relevan

[2017-06-22 04:27] ehdwns980416 opened #291 "I can't use UPLOAD_DIRECTIVES in my component"
When I try to use UPLOAD_DIRECTIVES in my component, it occur error...please help..

[code]

[2017-06-22 09:38] ljacques commented on #195
No effect for me (3.1.1)
my console.log :
**Object {type: "cancelled", file: Object}
Object {type: "uploading", file: Object}
Object {type: "uploading", file: Object}
Object {type: "uploading", file: Object}
Object {type: "done", file: Object}**